{% extends "FOSUserBundle::layout.html.twig" %}

    {% block fos_user_content %}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    {% endblock fos_user_content %}
{% block title%}
    {{app.user.firstName}} - Фотодом CRM
{% endblock%}
{% block navigator%}
    <ul class="nav navbar-nav">                   
    <li ><a href="{{path('orders')}}">ЗАКАЗЫ</a></li>                  
    <li><a href="{{path('fotodom_client_homepage')}}">КЛИЕНТЫ</a></li> 
    <li><a href="{{path('fotodom_monitoring_homepage')}}">СОБЫТИЯ</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="user active">
            <a>{{app.user.firstName}}<i class="userpic"><img width="28" src="{{ asset('bundles/acmedemo/images/avatar/') }}{{app.user.avatar}}"/></i></a>
        </li>
        <li>
            <a href="{{path('fos_user_security_logout')}}">Выйти</a>
        </li>
    </ul>
{% endblock %}