{% trans_default_domain 'FOSUserBundle' %}
<h3>{{app.user.firstName}}</h3>
<form class="form-horizontal well profile-edit newOrder" role="form" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" enctype="multipart/form-data">
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Логин</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputEmail3" value="{{app.user.username}}" name="fos_user_profile_form[username]">
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="inputEmail3" value="{{app.user.email}}" name="fos_user_profile_form[email]">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword3" class="col-sm-2 control-label">Имя</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputPassword3" value="{{app.user.firstName}}" name="fos_user_profile_form[firstName]">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword3" class="col-sm-2 control-label">Текущий пароль</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="inputPassword3" required="required" name="fos_user_profile_form[current_password]">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="exampleInputFile">Аватар</label>
		<input  class="col-sm-10 choose-picture" type="file" id="exampleInputFile" name="image" >
	</div>
	<div class="form-group profile-edit-userpic">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<figure>
				<img src="{{ asset('bundles/acmedemo/images/avatar/') }}{{app.user.avatar}}" alt="{{app.user.firstName}}" title="{{app.user.firstName}}"/>
			</figure>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Обновить</button>
		</div>
	</div>
	{{ form(form._token)}}
</form>

