<!DOCTYPE html>
<html>
    <head>        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/acmedemo/img/lerad.png')}}" />   
        {%block meta%}
        <meta name="keywords" content="Your keywords">
        <meta name="description" content="Get inspired by our Spring Summer 2014 collection, see where our Garcia clothes sales points are and watch our latest fashion videos." />
        {% endblock%}
        <meta http-equiv="X-UA-Compatible" content="IE=8" />        
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{% block title %}Lerad | Женская дизайнерская одежда{% endblock %}</title>
        {% block stylesheets %}       
        <link href="{{ asset('bundles/acmedemo/css/general.css')}}" rel="stylesheet" type="text/css">        
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/scripts/jquery.js')}}"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-51416487-1', 'lerad-wear.com');
          ga('send', 'pageview');
        </script>
        {% endblock %}     
    </head>
    <body class="courses-pages">       
        <div class="page-holder">
            <div class="page-header">
                <div class="wrapper">
                    <div class="logo">
                        <a href="{{path('main')}}"><!--  --></a>
                    </div>
                    <div class="main-nav">
                        <ul>
                            {% if app.request.attributes.get('_route')=='main'%}
                            <li class="active">
                                <a href="#">Главная</a>
                            </li>
                            {%else%}
                            <li>
                                <a href="{{path('main')}}">Главная</a>
                            </li>                            
                            {%endif%}
                            {% if app.request.attributes.get('_route')=='portfolio'%}
                            <li class="active">
                                <a>Коллекции</a>
                                <ul>
                                    {{ render(controller("AcmeDemoBundle:Default:collectionMenu")) }}
                                </ul>
                            </li>
                            {%else%}
                            <li>
                                <a>Коллекции</a>
                                <ul>
                                    {{ render(controller("AcmeDemoBundle:Default:collectionMenu")) }}
                                </ul>
                            </li>
                            {%endif%}
                            {% if app.request.attributes.get('_route')=='about'%}
                            <li class="active">
                                <a href="#">О нас</a>
                            </li>
                            {%else%}
                            <li>
                                <a href="{{path('about')}}">О нас</a>
                            </li>
                            {%endif%}
                            {% if app.request.attributes.get('_route')=='news'%}
                            <li class="active">
                                <a href="#">Новости</a>
                            </li>
                            {%else%}
                            <li>
                                <a href="{{path('news')}}">Новости</a>
                            </li>                           
                            {%endif%}
                            {% if app.request.attributes.get('_route')=='contacts'%}
                            <li class="active">
                                <a href="#">Контакты</a>
                            </li>
                            {%else%}
                            <li>
                                <a href="{{path('contacts')}}">Контакты</a>
                            </li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
            </div> 
            {% if app.request.attributes.get('_route')=='portfolio'%}
            <div class="page-breadcrumbs">
                <div class="wrapper"><ul><li><a href="{{path('main')}}">Главная</a><ins>›</ins></li><li><a href="#">Коллекции</a><ins>›</ins></li><li>{{category.name}}</li></ul></div>
            </div>
            {%endif%} 
            {% if app.request.attributes.get('_route')=='photo'%}
            <div class="page-breadcrumbs">
                <div class="wrapper">
                    <ul>
                        <li><a href="{{path('main')}}">Главная</a><ins>›</ins></li>
                        <li><a href="#">Коллекции</a><ins>›</ins></li>
                        <li>
                            <a href="{{path('portfolio',{'url':category.url})}}">{{category.name}}</a><ins>›</ins><li>{{dress.text}}</li>
                    </ul>
                </div>
            </div>
            {%endif%}
            {% if app.request.attributes.get('_route')=='about'%}
            <div class="page-breadcrumbs">
                <div class="wrapper"><ul><li><a href="{{path('main')}}">Главная</a><ins>›</ins></li><li>О нас</li></ul></div>
            </div>
            {%endif%}
            {% if app.request.attributes.get('_route')=='news'%}
            <div class="page-breadcrumbs">
                <div class="wrapper"><ul><li><a href="{{path('main')}}">Главная</a><ins>›</ins></li><li>Новости</li></ul></div>
            </div>
            {%endif%}
            {% if app.request.attributes.get('_route')=='contacts'%}
            <div class="page-breadcrumbs">
                <div class="wrapper"><ul><li><a href="{{path('main')}}">Главная</a><ins>›</ins></li><li>Контакты</li></ul></div>
            </div>
            {%endif%}
            <!--div class="page-breadcrumbs">
                <div class="wrapper"></div>
            </div-->
            {%block body%}
            {%endblock%}
            <div class="page-footer">
                <div class="wrapper">
                    <div class="follow">
                        <span>Социальные сети</span><a href="https://www.vk.com/lerad_wear" class="vk"></a><a href="https://www.twitter.com/LERAD_wear" class="twitter"></a><a href="http://www.instagram.com/lerad_wear" class="instagram"></a>
                    </div>
                    <div class="collapsed">                                 
                    </div>
                </div>
            </div>
        </div>
        <!--/Container-->
        {% block javascripts %}        
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/scripts/jquery.mousewheel.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/scripts/jquery.selectik.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/scripts/scripts.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/scripts/stores.js')}}"></script>
        <script type="text/javascript">
            Page.subscribeSuccessfullMessage = 'Thank you! You have been successfully subscribed to our newsletter.';
            Page.subscribeErrorTitle = 'There was a problem';
            function loadPage(list) {
                location.href = list.options[list.selectedIndex].value;
            }
        </script> 
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/scripts/jquery-ui.js')}}"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-12424121-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>  
        
        {% endblock %} 
        {% block javaadd %} 
        {% endblock %} 
    </body>
</html>
