<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Админка{% endblock %}</title>        
        {% block stylesheets %}
        
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/allcss.css') }}" />       
        

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="admin-pages">
     <!-- b-page (begin) -->
        <div class="b-page">
            <div class="b-page__wrapper">

                <!-- b-header (begin) -->
                <header class="b-header">
                    <div class="b-constrain">                       
                        <!-- b-header-logo (begin) -->                        
                        {% if app.request.attributes.get('_route')!='login' %}
                        <div class="admin_exit">
                            <a href="#" >
                                <p>Выход</p>
                            </a>                            
                        </div>
                        <!-- b-header-logo (end) -->
                        <!-- b-header-nav (begin) -->
                        <nav class="b-header-nav">
                            <ul class="b-header-nav__list">
                                {% if app.request.attributes.get('_route')=='admin_main' %}
                                <li class="b-header-nav__item b-header-nav__item_active">Главная</li>
                                {% else%}
                                <li class="b-header-nav__item b-header-nav__item_active">
                                    <a  href="{{ path('admin_main') }}" class="c-header-nav__link" title="Главная">Главная</a> 
                                </li>                               
                                {%endif%}                               
                                {% if app.request.attributes.get('_route')=='collection' %}
                                <li class="b-header-nav__item b-header-nav__item_active">Коллекции</li>
                                {% else%}
                                <li class="b-header-nav__item b-header-nav__item_active">
                                    <a  href="{{ path('collection') }}" class="c-header-nav__link" title="Коллекции">Коллекции</a> 
                                </li>                               
                                {%endif%} 
                                {% if app.request.attributes.get('_route')=='admin_news' %}
                                <li class="b-header-nav__item b-header-nav__item_active">Новости</li>
                                {% else%}
                                <li class="b-header-nav__item b-header-nav__item_active">
                                    <a  href="{{ path('admin_news') }}" class="c-header-nav__link" title="Новости">Новости</a> 
                                </li>                               
                                {%endif%} 
                                {% if app.request.attributes.get('_route')=='admin_message' %}
                                <li class="b-header-nav__item b-header-nav__item_active">Сообщения</li>
                                {% else%}
                                <li class="b-header-nav__item b-header-nav__item_active">
                                    <a  href="{{ path('admin_message') }}" class="c-header-nav__link" title="Сообщения">Сообщения</a> 
                                </li>                               
                                {%endif%}
                                {% if app.request.attributes.get('_route')=='admin_settings' %}
                                <li class="b-header-nav__item b-header-nav__item_active">Настройки</li>
                                {% else%}
                                <li class="b-header-nav__item b-header-nav__item_active">
                                    <a  href="{{ path('admin_settings') }}" class="c-header-nav__link" title="Настройки">Настройки</a> 
                                </li>                               
                                {%endif%} 
                            </ul>

                           
                        </nav>
                        <!-- b-header-nav (end) -->
                        {% endif %}
                    </div>             
                </header>
                <!-- b-header (end) -->
                
                <!-- b-body (begin) -->
                <div class="b-body">
                    <div class="b-constrain">
                        {% block up %}
                         {% endblock %}
                        
                        <!-- b-columns (begin) -->
                        <div class="b-columns b-columns_grid_1">
                          
                         {% block body %}
                         {% endblock %}

                                        
                            
                        </div>
                        <!-- b-columns (end) -->
                    </div>
                </div>
                <!-- b-body (end) /-->
            </div>

        </div>
        <!-- b-page (end) -->    
        
       
        
    </body>
</html>
