@charset "utf-8";
/* CSS Document */

/*
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
*/

@font-face {
	font-family: 'BodoniXTRegular';
    src: url('../Fonts/BodoniXT.eot');
    src: url('../Fonts/BodoniXT.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/BodoniXT.ttf') format('truetype'),
         url('../Fonts/BodoniXT.woff') format('woff'),
         url('../Fonts/BodoniXT.svg#BodoniXTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../Fonts/OpenSans-Regular.eot');
    src: url('../Fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../Fonts/OpenSans-Regular.woff') format('woff'),
         url('../Fonts/OpenSans-Regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../Fonts/OpenSans-Semibold.eot');
    src: url('../Fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('../Fonts/OpenSans-Semibold.woff') format('woff'),
         url('../Fonts/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../Fonts/OpenSans-Bold.eot');
    src: url('../Fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../Fonts/OpenSans-Bold.woff') format('woff'),
         url('../Fonts/OpenSans-Bold.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}






body, html {
	width:					100%;
	margin:					0px;
	padding:				0px;
}

body {
	font-family:            OpenSansSemibold, Verdana, Geneva, sans-serif;
	font-size:              12px;
	line-height:            17px;
	color:					#777;
	background-color:		#f9f8f5;
}

img, div, p, span, form, input, textarea, dl, dt, dd {
    border:                 none;
    border-width:           0px;
    padding:                0px;
    margin:                 0px;
	outline:				none;
}

input, textarea {
    background-color:       transparent;
	resize:					none;
	outline:				none;
}

table {
	margin:					0px;
	padding:				0px;
	border-width:			0px;
	border-collapse:		collapse;
	border-spacing:			0px;
}

table td {
	padding:				0px;
}

h1, h2, h3, h4 {
	padding:				0px;
	margin:					0px;
	font-weight:			normal;
	font-family:            HemaBold, Verdana, Geneva, sans-serif;
}

.clear {
    clear:                  both;
    height:                 0px;
    overflow:               hidden;
}

ul, li {
	padding:				0px;
	margin:					0px;
	list-style:				none;
}

ins, a {
    text-decoration:        none;
    color:                  inherit;
    color:                  expression(this.parentNode.currentStyle.color);
}

a {
	cursor:					pointer;
}





.page-holder {
	width:					100%;
	min-width:				1042px;
	position:				relative;
}

.page-header {
	background:				url(../Images/header-bg.png) center center;
	position:				relative;
	z-index:				300;
}

.page-header .wrapper {
	width:					1022px;
	height:					65px;
	margin:					0px auto;
	text-align:				right;
}

.page-header .logo {
	float:					left;
	padding-top:			5px;
}

.page-header .logo a {
	display:				block;
	background:				url(../Images/logo.png) 0px 0px no-repeat;
	width:					150px;
	height:					55px;
}

.page-header .main-nav {
	text-transform:			uppercase;
	color:					#fff;
	white-space:			nowrap;
	padding-top:			24px;
	cursor:					default;
}

.page-header .main-nav > ul {
	position:				relative;
	float:					right;
}

.page-header li {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	position:				relative;
	font-family:			OpenSansBold;
	margin-left:			20px;
	height:					41px;
}

.page-header li:hover > a {
	color:					#d05328;
}

.page-header li.active > a {
	color:					#d05328;
}

.page-header li ul {
	display:				none;
	position:				absolute;
	top:					100%;
	background-color:		#fff;
	height:					40px;
	margin-left:			-10px;
}

.page-header li ul li {
	line-height:			40px;
	font-family:			OpenSansRegular;
	margin:					0px 10px;
}

.page-header li ul a {
	color:					#2d2927;
}

.page-header li ul a:hover,
.page-header li ul a.active {
	color:					#d05328;
}

.page-header li ul .pointer {
	display:				block;
	background:				url(../Images/design-set.png) -136px -9px no-repeat;
	overflow:				hidden;
	width:					13px;
	height:					7px;
	position:				absolute;
	top:					-7px;
	left:					0px;
}

.page-header li.active ul {
	display:				block;
}

.page-content {
	padding-bottom:			30px;
}

.page-footer {
	position:				absolute;
	z-index:				300;
	width:					100%;
	min-width:				1042px;
	bottom:					0px;
	left:					0px;
	background-color:		#000000;
	font-family:			OpenSansBold;
}

.page-footer a:hover {
	color:					#d05328;
}

.page-footer .wrapper {
	width:					1022px;
	margin:					0px auto;
}

.page-footer .follow {
	float:					right;
	white-space:			nowrap;
	cursor:					default;
	text-transform:			uppercase;
	color:					#fff;
	line-height:			28px;
}

.page-footer .follow span {
	margin-right:			3px;
}

.page-footer .follow a {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	overflow:				hidden;
	width:					16px;
	height:					16px;
	background-image:		url(../Images/design-set.png);
	background-repeat:		no-repeat;
	margin-left:			4px;
}

.page-footer .vk {
	background-position:	-168px -8px;
}

.page-footer .vk:hover {
	background-position:	-168px -32px;
}

.page-footer .twitter {
	background-position:	-190px -8px;
}

.page-footer .twitter:hover {
	background-position:	-190px -32px;
}

.page-footer .instagram {
	background-position:	-213px -8px;
}

.page-footer .instagram:hover {
	background-position:	-213px -32px;
}

.page-footer .collapsed {
	height:					30px;
	cursor:					default;
	font-size:				11px;
	text-transform:			uppercase;
	color:					#fff;
	line-height:			30px;
}

.page-footer .collapsed li {
	display:				block;
	float:					left;
}

.page-footer .collapsed .level-item {
	width:					143px;
}

.page-footer .collapsed .ready-hover {
	width:					189px;
}

#languageCollapsed {
	color:					#d05328;
}

.page-footer .collapsed ins {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	overflow:				hidden;
	width:					7px;
	height:					5px;
	background:				url(../Images/design-set.png) -136px -32px no-repeat;
	margin-left:			6px;
}

.page-footer .expanded {
	display:				none;
	color:					#fff;
	line-height:			14px;
	font-size:				11px;
	text-transform:			uppercase;
	font-family:			OpenSansRegular;
	padding-bottom:			15px;
}

.page-footer .column {
	float:					left;
	width:					143px;
}

.page-footer .links li {
	display:				block;
}

.page-footer .links li:first-child {
	font-family:			OpenSansBold;
	line-height:			30px;
	margin-bottom:			-2px;
}

.page-footer .subscribe {
	margin-right:			6px;
	width:					183px;
}

.page-footer .subscribe .title {
	line-height:			30px;
	font-family:			OpenSansBold;
}

.page-footer .subscribe .input {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	width:					141px;
	height:					27px;
	border:					solid 1px #43403e;
	background-color:		#fff;
}

.page-footer .subscribe .input.focus {
	border-color:			#d05328;
}

.page-footer .subscribe .input.invalid {
	border-color:			#f00;
}

.page-footer .subscribe .input.invalid input {
	color:					#f00;
}

.page-footer .subscribe .input input {
	font-size:				10px;
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	color:					#000;
	width:					130px;
	margin:					6px 0px 0px 5px;
	text-align:				left;
}

.page-footer .subscribe .input input.watermark {
	text-align:				center;
	color:					#777;
}

a.custom-btn {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	text-transform:			uppercase;
	height:					31px;
	line-height:			31px;
	padding:				0px 20px;
	background:       url(../Images/fons2.png);
	color:					#fff;
	font-family:			OpenSansRegular;
	font-size:				12px;
}

a.custom-btn ins {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	font-size:				130%;
	margin-left:			5px;
	margin-top:				-4px;
}

a.custom-btn:hover {
	background:		url(../Images/fons3.png);
	color:					#d05328;
}

.page-footer .subscribe .btn {
	display:				block;
	padding-top:			10px;
}

.page-footer .subscribe .custom-btn {
	background-color:		#777;
	height:					26px;
	line-height:			26px;
	font-size:				10px;
	min-width:				103px;
	text-align:				center;
}

.page-footer .subscribe .custom-btn:hover {
	background-color:		#e8e6db;
}

.page-footer .language {
	width:					200px;	
}

.page-footer .language .custom-select {
	display:				inline-block;
	line-height:			30px;
	height:					30px;
}

.page-footer .language .title {
	line-height:			30px;
	font-family:			OpenSansBold;
	margin-right:			8px;
}

.page-footer .language .select-list {
	width:					120px;
	background-color:		#2d2927;
	top:					auto !important;
	margin-left:			-8px;
	bottom:					30px;
	-webkit-box-shadow:		0px -3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:		0px -3px 5px rgba(0, 0, 0, 0.2);
	box-shadow:				0px -3px 5px rgba(0, 0, 0, 0.2);
}

.page-footer .language .select-list li {
	white-space:			nowrap;
	padding:				4px 8px;
	float:					none;
	line-height:			1.2em;
}

.custom-select {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	position:				relative;
}

.custom-select select {
	width:					1px;
	height:					1px;
	filter:					progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity:			0;
	-khtml-opacity:			0;
	opacity:				0;
}

.custom-select .custom-text {
	font-family:			OpenSansBold;
	color:					#d05328;
	cursor:					pointer;
}

.custom-select .custom-text:after {
	content:				'';
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	background:				url(../Images/design-set.png) -136px -32px no-repeat;
	width:					7px;
	height:					5px;
	margin-left:			6px;
}

.custom-select .select-list {
	position:				absolute;
	top:					25px;
}

.custom-select .select-list li {
	cursor:					pointer;
}

.custom-select .select-list li:hover {
	color:					#d05328;
}

.home-carousel {
	position:				relative;
	width:					100%;
	height:					100%;
}

.home-carousel .slides {
	display:				block;
	width:					100%;
	height:					100%;
	overflow:				hidden;
	position:				relative;
}

.home-carousel .slides li {
	display:				none;
	position:				absolute;
	top:					0px;
	left:					0px;
	width:					100%;
	min-width:				1042px;
	height:					100%;
	overflow:				hidden;
	background-color:		#CCC;
	filter:					progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity:			0;
	-khtml-opacity:			0;
	opacity:				0;
}

.home-carousel .slides li:first-child {
	display:				block;
	filter:					progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity:			1;
	-khtml-opacity:			1;
	opacity:				1;	
}

.home-carousel .slides img {
	width:					100%;
}

.home-carousel .slides .content {
	position:				absolute;
	top:					50%;
	left:					50%;
	width:					646px;
	height:					400px;
	margin-top:				-300px;
	margin-left:			-511px;
	color:					#2d2927;
}

.home-carousel .slides .content.light {
	color:					#fff;
}
.home-carousel .slides .content.right {
	margin-left:			-135px;
}

.home-carousel .slides .cell {
	display:				table-cell;
	width:					500px;
	height:					400px;
	vertical-align:			middle;
	text-align:				center;
}

.home-carousel .slides h2 {
	text-transform:			uppercase;
	font-family:			Arial;
	font-size:				70px;
	background: url(../Images/fons.png);
	line-height:			80px;
	margin-bottom:			7px;
}

.home-carousel .slides p {
	text-transform:			uppercase;
	font-family:			OpenSansRegular;
	font-size:				15px;
	line-height:			20px;
	margin-bottom:			18px;
}

.home-carousel .btn-prev {
	display:				block;
	background:				url(../Images/design-set.png) 0px -40px no-repeat;
	width:					50px;
	height:					86px;
	position:				absolute;
	top:					50%;
	margin-top:				-43px;
	left:					37px;
}

.home-carousel .btn-prev:hover {
	background-position:	0px -130px;
}

.home-carousel .btn-next {
	display:				block;
	background:				url(../Images/design-set.png) -74px -40px no-repeat;
	width:					50px;
	height:					86px;
	position:				absolute;
	top:					50%;
	margin-top:				-43px;
	right:					37px;
}

.home-carousel .btn-next:hover {
	background-position:	-74px -130px;
}

.home-carousel .nav-items {
	height:					180px;
	width:					1022px;
	position:				absolute;
	z-index:				100;
	bottom:					20px;
	left:					50%;
	margin-left:			-511px;
	text-align:				center;
}

.home-carousel .nav-items li {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	width:					292px;
	height:					180px;
	background-color:		#fff;
	margin:					0px 16px;
}

.home-carousel .nav-items li a {
	padding-top:			5px;
	display:				block;
}

.home-carousel .nav-items .thumb {
	display:				block;
	width:					292px;
	height:					120px;
	margin-bottom:			9px;
	overflow:				hidden;
}

.home-carousel .nav-items .thumb img {
	width:					292px;
}

.home-carousel .nav-items .title {
	display:				block;
	text-transform:			uppercase;
	font-family:			BodoniXTRegular;
	font-size:				19px;
	line-height:			20px;
	color:					#2c2c2c;
	margin-bottom:			3px;
}

.home-carousel .nav-items .btn {
	display:				block;
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	line-height:			14px;
	font-size:				11px;
}

.home-carousel .nav-items a:hover .btn {
	color:					#d05328;
}

.general-content {
	height:					100%;
}

.general-content .wrapper {
	width:					1022px;
	height:					100%;
	margin:					0px auto;
	background-color:		#fff;
}

.general-content .title-image img {
	display:				block;
	width:					100%;
	height:					auto;
}

.page-breadcrumbs {
	width:					100%;
	min-width:				1042px;
}

.page-breadcrumbs.wide {
	background-color:		#fff;
}

.page-breadcrumbs ul {
	display:				block;
	width:					1005px;
	padding-left:			17px;
	height:					40px;
	margin:					0px auto;
	background-color:		#fff;
	text-transform:			uppercase;
	cursor:					default;
	white-space:			nowrap;
	line-height:			40px;
	font-family:			OpenSansBold;
	font-size:				11px;
}

.page-breadcrumbs li {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	color:					#2d2927;
}

.page-breadcrumbs a {
	color:					#777;
}

.page-breadcrumbs a:hover {
	color:					#d05328;
}

.page-breadcrumbs ins {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	color:					#777;
	margin:					-4px 4px 0px 4px;
}

.general-content .content-section {
	width:					952px;
	margin:					0px auto;
	padding-top:			36px;
	padding-bottom:			50px;
}

.content-section .divider {
	height:					16px;
	background:				url(../Images/design-set.png) 0px -230px repeat-x;
	text-align:				center;
	margin-bottom:			21px;
}

.content-section .divider span {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	color:					#2d2927;
	font-size:				12px;
	line-height:			16px;
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	background-color:		#fff;
	white-space:			nowrap;
	padding:				0px 12px;
}

.content-section .columns-holder {
	width:					987px;
}

.content-section .columns-holder:after {
	content:				'';
	display:				block;
	clear:					both;
}

.content-section .content-main-column {
	width:					658px;
	float:					left;
}

.content-section .column {
	width:					294px;
	margin-right:			35px;
	float:					left;
}

.content-section .column.wide {
	width:					623px;
}

.content-section .text-block h2 {
	text-transform:			uppercase;
	font-size:				16px;
	font-family:			Arial;
	color:					#2d2927;
	line-height:			0px;
	margin-bottom:			0 px;
	height:					20px;
}

.content-section .text-block p {
	margin-bottom:			17px;
}

.content-section .subscribe-block {
	background:				url(../Images/subscribe-block-bg.gif);
}

.subscribe-block .wrapper {
	width:					auto;
	background:				none;
	padding:				30px 12px 20px 12px;
	text-align:				center;
}

.subscribe-block h2 {
	text-transform:			uppercase;
	font-family:			Arial;
	font-size:				18px;
	line-height:			1.2em;
	color:					#2d2927;
	margin-bottom:			16px;
}

.subscribe-block h2 ins {
	display:				block;
	width:					21px;
	height:					13px;
	margin:					0px auto 16px auto;
	background:				url(../Images/design-set.png) -136px -56px;
}

.subscribe-block p {
	
	font-family:			OpenSansSemibold, Verdana, Geneva, sans-serif;
	font-size:				12px;
	line-height:			17px;
}

.subscribe-block form {
	padding:				14px 0px 24px 0px;
}

.subscribe-block .input {
	width:					268px;
	height:					33px;
	border:					solid 1px #bbb9b0;
	background-color:		#fff;
	margin-bottom:			0px;
	text-align:				left;
	margin-bottom:			20px;
}

.subscribe-block .input.focus {
	border-color:			#d05328;
}

.subscribe-block .input.invalid {
	border-color:			#f00;
}

.subscribe-block .input input {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	color:					#000;
	font-size:				11px;
	width:					250px;
	margin:					8px 0px 0px 8px;
	text-align:				left;
}

.subscribe-block .input input.watermark {
	text-align:				center;
	color:					#777;
}

.subscribe-block .custom-btn {
	background-color:		#2d2927;
}

.subscribe-block .custom-btn:hover {
	background-color:		#d05328;
	color:					#fff;
}

.subscribe-block hr {
	color:					#bab8af;
	background-color:		#bab8af;
	border:					none;
	height:					1px;
}

.subscribe-block .follow {
	padding:				20px 0px 30px 0px;
	cursor:					default;
}

.subscribe-block .follow h2 {
	font-size:				19px;
}

.subscribe-block .follow a {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	overflow:				hidden;
	background-image:		url(../Images/design-set.png);
	background-repeat:		no-repeat;
	width:					23px;
	height:					22px;
	margin:					0px 2px;
}

.subscribe-block .follow .vk {
	background-position:	-136px -80px;
}

.subscribe-block .follow .vk:hover {
	background-position:	-136px -112px;
}

.subscribe-block .follow .twitter {
	background-position:	-167px -80px;
}

.subscribe-block .follow .twitter:hover {
	background-position:	-167px -112px;
}

.subscribe-block .follow .instagram {
	background-position:	-198px -80px;
}

.subscribe-block .follow .instagram:hover {
	background-position:	-198px -112px;
}

.general-content .video-block {
	margin-top:				-12px;
	width:					294px;
}

.general-content .video-block .thumb {
	display:				block;
	width:					294px;
	height:					165px;
	overflow:				hidden;	
	position:				relative;
	cursor:					pointer;
	margin-bottom:			7px;
}

.video-block .thumb img {
	width:					294px;
}

.video-block .thumb ins {
	display:				block;
	width:					51px;
	height:					35px;
	background:				url(../Images/design-set.png) -96px -256px no-repeat;
	position:				absolute;
	top:					50%;
	left:					50%;
	margin:					-17px 0px 0px -25px;
}

.video-block .thumb:hover ins {
	background-position:	-96px -304px;
}

.video-block .share {
	white-space:			nowrap;
	text-align:				center;
	margin-bottom:			-3px;
	cursor:					default;
}

.video-block .share span {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	font-size:				11px;
	line-height:			21px;
	margin-right:			5px;
}

.video-block .share a {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	overflow:				hidden;
	background-image:		url(../Images/design-set.png);
	background-repeat:		no-repeat;
	width:					17px;
	height:					16px;
	margin-left:			3px;
}

.video-block .share .vk {
	background-position:	-136px -144px;
}

.video-block .share .vk:hover {
	background-position:	-136px -168px;
}

.video-block .share .twitter {
	background-position:	-159px -144px;
}

.video-block .share .twitter:hover {
	background-position:	-159px -168px;
}

.general-content .video-player {
	margin-bottom:			-3px;
}

.general-content .video-player .thumb {
	width:					1022px;
	height:					576px;
	overflow:				hidden;
	position:				relative;
	cursor:					pointer;
}

.video-player .thumb img {
	width:					1022px;
}

.video-player .thumb ins {
	display:				block;
	width:					87px;
	height:					60px;
	background:				url(../Images/design-set.png) 0px -256px no-repeat;
	position:				absolute;
	top:					50%;
	left:					50%;
	margin:					-30px 0px 0px -43px;
}

.video-player .thumb:hover ins {
	background-position:	0px -320px;
}

.video-player .share {
	float:					right;
	white-space:			nowrap;
	padding:				6px 34px 0px 0px;
	cursor:					default;
}

.video-player .share span {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	font-size:				11px;
	line-height:			21px;
	margin-right:			5px;
}

.video-player .share a {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	overflow:				hidden;
	background-image:		url(../Images/design-set.png);
	background-repeat:		no-repeat;
	width:					17px;
	height:					16px;
	margin-left:			3px;
}

.video-player .share .vk {
	background-position:	-136px -144px;
}

.video-player .share .vk:hover {
	background-position:	-136px -168px;
}

.video-player .share .twitter {
	background-position:	-159px -144px;
}

.video-player .share .twitter:hover {
	background-position:	-159px -168px;
}

.fullscreen-content {
	position:				relative;
	width:					100%;
	min-width:				1042px;
	height:					100%;
}

.fullscreen-content .bg-layer {
	position:				absolute;
	z-index:				1;
	top:					0px;
	left:					0px;
	width:					100%;
	height:					100%;
	overflow:				hidden;
}

.bg-layer .bg-image img {
	width:					100%;
}

.fullscreen-content .wrapper {
	width:					1022px;
	height:					100%;
	margin:					0px auto;
	position:				relative;
	z-index:				2;
}

.pressarea-login-block {
	background:				url(../Images/subscribe-block-bg.gif);
	width:					294px;
	position:				absolute;
	top:					50%;
	left:					50%;
	margin:					-193px 0px 0px -147px;
	text-align:				center;
}

.pressarea-login-block .wrapper {
	width:					auto;
	padding:				28px 12px 17px 12px;
}

.pressarea-login-block h2 {
	text-transform:			uppercase;
	font-family:			BodoniXTRegular;
	font-size:				18px;
	line-height:			1.2em;
	color:					#2d2927;
	margin-bottom:			16px;
	padding:				0px 10px;
}

.pressarea-login-block h2 ins {
	display:				block;
	width:					21px;
	height:					17px;
	margin:					0px auto 14px auto;
	background:				url(../Images/design-set.png) -168px -56px;
}

.pressarea-login-block p {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	font-size:				11px;
	line-height:			17px;
	padding:				0px 5px;
	letter-spacing:			0.04em;
}

.pressarea-login-block p a {
	text-decoration:		underline;
	color:					#2d2927;
}

.pressarea-login-block p a:hover {
	text-decoration:		none;
	color:					#d05328;
}

.pressarea-login-block form {
	padding:				14px 0px;
}

.pressarea-login-block hr {
	border:					none;
	height:					1px;
	color:					#bab8af;
	background-color:		#bab8af;
	margin-bottom:			11px;
}

.pressarea-login-block .input {
	width:					268px;
	height:					33px;
	border:					solid 1px #bbb9b0;
	background-color:		#fff;
	margin-bottom:			0px;
	text-align:				left;
	margin-bottom:			20px;
}

.pressarea-login-block .input.focus {
	border-color:			#d05328;
}

.pressarea-login-block .input.invalid {
	border-color:			#f00;
}

.pressarea-login-block .input input {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	color:					#000;
	font-size:				11px;
	width:					250px;
	margin:					8px 0px 0px 8px;
	text-align:				left;
}

.pressarea-login-block .input input.watermark {
	text-align:				center;
	color:					#777;
}

.pressarea-login-block .input span.watermark {
	display:				block;
	position:				absolute;
	top:					0px;
	left:					0px;
	text-transform:			uppercase;
	text-align:				center;
	font-family:			OpenSansBold;
	color:					#777;
	font-size:				11px;
	width:					250px;
	margin:					8px 0px 0px 8px;
	cursor:					text;
}

.pressarea-login-block .custom-btn {
	background-color:		#2d2927;
	width:					103px;
}

.pressarea-login-block .custom-btn:hover {
	background-color:		#d05328;
	color:					#fff;
}

#googleMapHolder {
	width:					100%;
	height:					100%;
}

.stores-block {
	position:				absolute;
	top:					40px;
	right:					40px;
	background:				url(../Images/subscribe-block-bg.gif);
	width:					294px;
	text-align:				center;
	z-index:				1000;
	-webkit-box-shadow:		0px 4px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:		0px 4px 8px rgba(0, 0, 0, 0.3);
	box-shadow:				0px 4px 8px rgba(0, 0, 0, 0.3);
	/*filter:					progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	-moz-opacity:			0.9;
	-khtml-opacity:			0.9;
	opacity:				0.9;*/
}

/*
.stores-block:hover {
	filter:					progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity:			1;
	-khtml-opacity:			1;
	opacity:				1;
}
*/

.stores-block .wrapper {
	width:					auto;
	padding:				31px 12px 17px 12px;
	position:				static;
}

.stores-block h2 {
	text-transform:			uppercase;
	font-family:			BodoniXTRegular;
	font-size:				18px;
	line-height:			1.2em;
	color:					#2d2927;
	margin-bottom:			16px;
}

.stores-block h2 ins {
	display:				block;
	width:					23px;
	height:					23px;
	margin:					0px auto 17px auto;
	background:				url(../Images/design-set.png) -224px -56px;
}

.stores-block p {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	font-size:				11px;
	line-height:			17px;
}

.stores-block p a {
	text-decoration:		underline;
	color:					#2d2927;
}

.stores-block p a:hover {
	text-decoration:		none;
	color:					#d05328;
}

.stores-block form {
	padding:				31px 0px 24px 0px;
}

.stores-block hr {
	border:					none;
	height:					1px;
	color:					#bab8af;
	background-color:		#bab8af;
	margin-bottom:			11px;
}

.stores-block .input {
	width:					268px;
	height:					33px;
	border:					solid 1px #bbb9b0;
	background-color:		#fff;
	margin-bottom:			0px;
	text-align:				left;
	margin-bottom:			20px;
}

.stores-block .input.focus {
	border-color:			#d05328;
}

.stores-block .input.invalid {
	border-color:			#f00;
}

.stores-block .input input {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	color:					#000;
	font-size:				11px;
	width:					250px;
	margin:					8px 0px 0px 8px;
}

.stores-block .input input.watermark {
	text-align:				center;
	color:					#777;
}

.stores-block .custom-btn {
	background-color:		#2d2927;
	width:					63px;
}

.stores-block .custom-btn:hover {
	background-color:		#d05328;
	color:					#fff;
}

.stores-block .stores-list {
	overflow:				hidden;
	width:					270px;
}

.stores-block .stores-list .scroll-wrapper {
	max-height:				275px;
	overflow:				auto;
}

#storesList {
	padding:				0px 10px;
}

#storesList a {
	display:				block;
	text-align:				center;
	line-height:			17px;
	text-transform:			uppercase;
	padding-top:			16px;
	padding-bottom:			13px;
}

#storesList .title {
	display:				block;
	font-family:			BodoniXTRegular;
	color:					#2d2927;
	font-size:				18px;
	line-height:			21px;
}

#storesList a:hover .title {
	color:					#d05328;
}

#storesList .address {
	display:				block;
	font-size:				11px;
}

#storesList .address:after {
	content:				'';
	display:				block;
	width:					36px;
	height:					1px;
	overflow:				hidden;
	background-color:		#bab8af;
	margin:					23px auto 0px auto;
}

.history-holder {
	background:				url(../Images/History/history-bg.jpg) center top no-repeat;
	height:					1876px;
	position:				relative;
	padding-bottom:			237px;
}

.history-holder .page-title {
	height:					224px;
	text-align:				center;
}

.history-holder .page-title h1 {
	font-family:			BodoniXTRegular;
	font-size:				75px;
	line-height:			1.1em;
	color:					#000;
	text-transform:			uppercase;
	padding-top:			85px;
}

.history-holder .page-title h2 {
	text-transform:			uppercase;
	font-family:			OpenSansRegular;
	font-size:				15px;
	line-height:			1em;
	color:					#2d2927;
}

#historyPathsHolder {
	width:					394px;
	height:					1636px;
	padding-right:			70px;
	position:				relative;
	margin:					0px auto;
}

#historyPathDark {
	position:				absolute;
	bottom:					0px;
	left:					0px;
	width:					394px;
	height:					1636px;
	background:				url(../Images/History/history-path-dark.png) center bottom no-repeat;
}

#historyPathLight {
	position:				absolute;
	top:					0px;
	left:					0px;
	width:					394px;
	height:					0px;
	background:				url(../Images/History/history-path-light.png) center top no-repeat;
}

#pointsHolder .point {
	background:				url(../Images/design-set.png) -160px -256px no-repeat;
	width:					37px;
	height:					36px;
	position:				absolute;
	left:					50%;
	display:				none;
}

#historyYearsHolder .item {
	width:					290px;
	position:				absolute;
	left:					50%;
	cursor:					default;
}

#historyYearsHolder .item .title {
	position:				relative;
	overflow:				hidden;
}

#historyYearsHolder .item h2 {
	font-size:				60px;
	line-height:			1.1em;
	color:					#2d2927;
	font-family:			BodoniXTRegular;
	text-transform:			uppercase;
}

#historyYearsHolder .item h2.hover,
#historyYearsHolder .item h2.active {
	position:				absolute;
	top:					0px;
	left:					0px;
	color:					#d05328;
	display:				none;
}

#historyYearsHolder .item h3 {
	font-size:				18px;
	font-family:			BodoniXTRegular;
	text-transform:			uppercase;
	line-height:			19px;
	color:					#2d2927;
	margin-bottom:			12px;
}

#historyYearsHolder .item h3.light {
	color:					#d05328;
}

#historyYearsHolder .image-holder {
	position:				relative;
	height:					200px;
}

#historyYearsHolder .image-holder img {
	display:				block;
	position:				absolute;
	top:					0px;
	left:					0px;
	filter:					progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity:			0;
	-khtml-opacity:			0;
	opacity:				0;
}

#lookbookHolder {
	width:					100%;
	height:					100%;
	position:				relative;
	overflow:				hidden;
	-webkit-touch-callout:	none;
	-webkit-user-select:	none;
	-khtml-user-select:		none;
	-moz-user-select:		none;
	-ms-user-select:		none;
	user-select:			none;
}

#lookbookList {
	display:				block;
	width:					100%;
	overflow:				hidden;
}

#lookbookList ul {
	display:				block;
	position:				absolute;
}

#lookbookList ul li {
	display:				block;
	float:					left;
	width:					0px;
	position:				relative;
}

#lookbookList img {
	display:				none;
}

#lookbookList ins {
	display:				none;
	background:				url(../Images/design-set.png) -208px -256px no-repeat;
	width:					31px;
	height:					31px;
	position:				absolute;
	top:					20px;
	right:					20px;
	cursor:					pointer;
}

#lookbookList ins:hover {
	background-position:	-208px -296px;
}

#lookbookList .products {
	display:				none;
	position:				static;
}

#lookbookSlider {
	position:				absolute;
	width:					100%;
	height:					10px;
	left:					0px;
	bottom:					0px;
	background-color:		#fff;
	z-index:				10;
}

#lookbookSlider a {
	display:				block;
	position:				absolute;
	top:					0px;
	left:					0px;
	background-color:		#d05328;
	height:					10px;
	width:					100px;
}

#lookbookHolder .btn-prev {
	display:				block;
	background:				url(../Images/design-set.png) 0px -40px no-repeat;
	width:					50px;
	height:					86px;
	position:				absolute;
	z-index:				300;
	top:					50%;
	margin-top:				-43px;
	left:					37px;
}

#lookbookHolder .btn-prev:hover {
	background-position:	0px -130px;
}

#lookbookHolder .btn-next {
	display:				block;
	background:				url(../Images/design-set.png) -74px -40px no-repeat;
	width:					50px;
	height:					86px;
	position:				absolute;
	z-index:				301;
	top:					50%;
	margin-top:				-43px;
	right:					37px;
}

#lookbookHolder .btn-next:hover {
	background-position:	-74px -130px;
}

#lookbookPreview {
	position:				absolute;
	z-index:				2;
	top:					0px;
	left:					0px;
	width:					100%;
	overflow:				hidden;
	display:				none;
}

#lookbookPreview img {
	display:				block;
	position:				absolute;
	cursor:					n-resize;
}

#lookbookPreview .btn-close {
	display:				none;
	position:				absolute;
	z-index:				300;
	left:					50%;
	top:					20px;
	margin-left:			480px;
	background:				url(../Images/design-set.png) -208px -336px no-repeat;
	width:					31px;
	height:					31px;
}

#lookbookPreview .btn-close:hover {
	background-position:	-208px -376px;
}

#lookbookProducts {
	position:				absolute;
	z-index:				20;
	bottom:					-80px;
	left:					0px;
	width:					100%;
	height:					75px;
	background-color:		#fff;
}

#lookbookProducts .wrapper {
	width:					1022px;
	text-transform:			uppercase;
	text-align:				center;
	font-size:				11px;
	line-height:			1.2em;
	color:					#777;
	font-family:			OpenSansBold;
}

#lookbookProducts .products {
	padding-top:			16px;
	height:					28px;
	font-size:				11px;
	line-height:			1.2em;
	color:					#2d2927;
	letter-spacing:			0.06em;
}

#lookbookProducts .products a {
	margin:					0px 7px;
}

#lookbookProducts .products a:hover {
	color:					#d05328;
}

#lookbookProducts .products span {
	color:					#777;
	margin-left:			3px;
}

#lookbookProducts .share {
	font-size:				11px;
	letter-spacing:			0.05em;
	line-height:			1.2em;
}

#lookbookProducts .share span {
	margin-right:			4px;
}

#lookbookProducts .share a {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	background-image:		url(../Images/design-set.png);
	background-repeat:		no-repeat;
	width:					17px;
	height:					16px;
	margin:					-2px 0px 0px 2px;
}

#lookbookProducts .share .vk {
	background-position:	-136px -144px;
}

#lookbookProducts .share .vk:hover {
	background-position:	-136px -168px;
}

#lookbookProducts .share .twitter {
	background-position:	-159px -144px;
}

#lookbookProducts .share .twitter:hover {
	background-position:	-159px -168px;
}

#lookbookProducts .share .pinterest {
	background-position:	-182px -144px;
}

#lookbookProducts .share .pinterest:hover {
	background-position:	-182px -168px;
}

.online-shops li {
	display:				block;
	width:					280px;
	height:					100px;
	overflow:				hidden;
	float:					left;
	margin:					0px 30px 10px 0px;
}

.online-shops a {
	display:				block;
	position:				relative;
	width:					280px;
	height:					100px;
}

.online-shops a img {
	display:				block;
	position:				absolute;
	top:					0px;
	left:					0px;
}

.online-shops a:hover img {
	top:					-100px;
}

.press-clippings-list {
	width:					630px;
}

.press-clippings-list li {
	display:				block;
	float:					left;
	width:					180px;
	margin:					0px 30px 20px 0px;
}

.press-clippings-list .pc-image {
	width:					180px;
	height:					254px;
	overflow:				hidden;
	background: 			url("../images/pc-image-shadow.png") no-repeat scroll center bottom transparent;
	padding-bottom:			16px;
}

.press-clippings-list .pc-image img {
	display:				block;
	height:					254px;
}

.press-clippings-list .pc-title {
	text-transform:			uppercase;
	font-size:				18px;
	font-family:			BodoniXTRegular;
	color:					#2d2927;
	line-height:			19px;
	margin-bottom:			4px;
}

.press-clippings-list .pc-nav {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	font-size:				11px;
	line-height:			21px;
}

.press-clippings-list .pc-nav a:hover {
	color:					#D05327;
}

.column .item .title h2 {
	text-transform:			uppercase;
	font-size:				18px;
	font-family:			Arial;
	color:					#2d2927;
	line-height:			19px;
	margin-bottom:			14px;	
}

.ofices-list p {
	margin-bottom:			14px;
}

.ofices-list em {
	font-style:				normal;
}

.ofices-list em strong {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	font-weight:			normal;
	font-size:				11px;
	line-height:			21px;
}

.contact-form .input-holder {
	width:					292px;
	height:					33px;
	border:					solid 1px #bbb9b0;
	background-color:		#fff;
	margin-bottom:			0px;
	text-align:				left;
	margin-bottom:			20px;
}

.contact-form .input-holder.focus {
	border-color:			#d05328;
}

.contact-form .input-holder.invalid {
	border-color:			#f00;
}

.contact-form .input-holder input {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	color:					#000;
	font-size:				11px;
	width:					274px;
	margin:					8px 0px 0px 8px;
	text-align:				left;
}

.contact-form .input-holder input.watermark {
	color:					#777;
}

.contact-form .textarea-holder {
	width:					292px;
	height:					106px;
	border:					solid 1px #bbb9b0;
	background-color:		#fff;
	margin-bottom:			0px;
	text-align:				left;
	margin-bottom:			20px;
}

.contact-form .textarea-holder.focus {
	border-color:			#d05328;
}

.contact-form .textarea-holder.invalid {
	border-color:			#f00;
}

.contact-form .textarea-holder textarea {
	text-transform:			uppercase;
	font-family:			OpenSansBold;
	color:					#000;
	font-size:				11px;
	width:					274px;
	height:					117px;
	margin:					8px 0px 0px 8px;
	text-align:				left;
}

.contact-form .textarea-holder textarea.watermark {
	color:					#777;
}

.contact-form .btn-holder {
	text-align:				right;
}

.contact-form .btn-submit {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
	vertical-align:			middle;
	text-transform:			uppercase;
	height:					31px;
	line-height:			31px;
	padding:				0px 20px;
	background-color:		#d05328;
	color:					#fff;
	font-family:			OpenSansRegular;
	font-size:				12px;	
	cursor:					pointer;
}

.contact-form .btn-submit:hover {
	background-color:		#2D2927;
}

.contact-form .btn-holder .required-text,
.contact-form .btn-holder .sent-text {
	float:					left;
	text-align:				left;
	width:					188px;
	font-weight:			normal;
	color:					#f00;
	display:				none;
}

.item a:hover {
	color:					#d05328;
}

.content-main-column > p {
	padding-right:			35px;
}

#map_canvas {
	width:					100%;
	height:					100%;
}

#storesLocatorList {
	display:				none;
}

#draggableHelper {
	cursor:					move;
}

.wrapper.pressarea {
 	background-color:		#fff;
}

.pressarea .content-section {
	width:					952px;
	margin:					0px auto;
}

.press-area-title {
	padding-top:			20px;
	padding-bottom:			10px;
	margin-bottom:			24px;
	border-bottom:			solid 1px #bab8af;
}

.press-area-title h2 {
	text-transform:			uppercase;
	font-size:				22px;
	font-family:			BodoniXTRegular;
	color:					#2d2927;
	line-height:			19px;
	margin-bottom:			14px;	
}

.pressarea .item {
	margin-bottom:			24px;
}

.pressarea .item .title h2 {
	margin-bottom:			8px;
}

.press-area-content .wrapper {
	width:					1022px;
	margin:					0px auto;
	background-color:		#fff;
}

.content-main-column .h2-holder {
	padding-right:			35px;
	margin-bottom:			20px;
}

.content-main-column .h2-holder h2 {
	text-transform:			uppercase;
	font-size:				22px;
	font-family:			BodoniXTRegular;
	color:					#2d2927;
	line-height:			19px;
	margin-bottom:			14px;
	padding-top:			14px;
	padding-bottom:			10px;
}

.content-main-column .h2-holder .back-link {
	float:					right;
	text-transform:			uppercase;
	margin-top:				20px;
}

.content-main-column .h2-holder .back-link:hover {
	color:					#d05328;
}

.content-main-column .items-list {
	width:					auto;
}

.content-main-column .items-list li {
	width:					294px;
	float:					left;
	margin:					0px 35px 20px 0px;
}

.content-main-column .items-list .image-holder {
	width:					292px;
	height:					178px;
	overflow:				hidden;
	border:					solid 1px #e8e6db;
	margin-bottom:			10px;
}

.content-main-column .items-list .image-holder img {
	width:					292px;
}

.content-main-column .download-links li {
	margin-bottom:			0px;
	text-transform:			uppercase;
}

.content-main-column .download-links a:hover {
	color:					#d05328;
}

.content-main-column .links {
	text-transform:			uppercase;	
}

.content-main-column .links .download-link {
	float:					right;
}

#videoPagePlayer {
	display:				none;
}

#videoPageList .video-section {
	background-color:		#2d2926;
}

#videoPageList .video-block {
	margin:					0px 36px 0px 0px;
	padding:				0px;
	width:					458px;
	float:					left;
}

#videoPageList .list {
	padding:				22px 0px 46px 35px;
	width:					988px;
}

#videoPageList .video-block h2 {
	font-family:			'BodoniXTRegular';
	text-transform:			uppercase;
	color:					#fff;
	margin-bottom:			13px;
}

#videoPageList .video-thumb {
	display:				block;
	position:				relative;
	width:					458px;
	height:					258px;
	overflow:				hidden;
	background-color:		#fff;
}

#videoPageList .video-thumb ins {
	display:				block;
	position:				absolute;
	top:					50%;
	left:					50%;
	width:					87px;
	height:					60px;
	margin:					-30px 0px 0px -44px;
	background:				url(../images/video-play-btn.png) 0px 0px no-repeat;
}

#videoPageList .video-thumb:hover ins {
	background-position:	0px -70px;
}

#videoPageList .video-thumb img {
	display:				block;
	width:					458px;
}

#videoPagePlayer .vimeo-player {
	width:					1022px;
	height:					577px;
	position:				relative;
	background-color:		#000;
}

#videoPagePlayer .vimeo-player .btn-close {
	display:				block;
	width:					39px;
	height:					38px;
	position:				absolute;
	top:					0px;
	left:					100%;
	background:				url(../images/video-close-btn.png) 0px 0px no-repeat;
}

#videoPagePlayer .vimeo-player .btn-close:hover {
	background-position:	0px -40px;
}

.video-page .fb-comments-holder {
	margin:					0 auto;
	padding-bottom:			50px;
	padding-top:			36px;
	width:					952px;
}
.news p {
    padding-right:          30px;
}
.line {
    width:                  954px;
}
.badge {
  margin:                   5px 30px 0px 0px;
  float:                    left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width:                    60px;
  height:                   61px;
  padding:                  0px;
  background:               #d05328;
  text-align:               center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
time {
  position:                 relative;
  display:                  block;
  font:                     30px 'Molot';
  line-height: 1.2em;
  text-transform:           uppercase;
  color:                    #ffffff;
  text-shadow: rgba(0, 0, 0, 0.11) 1px 1px 0px;
  margin:                   5px 0px 0px 0px;
}
time span {
  position:                 relative;
  display:                  block;
  font-size:                12px;
  line-height:              1.2em;
  margin:                  -4px 0px 0px 5px;
}
.datum {
  padding-bottom:           20px;
}
.news h2 {
padding-top:                22px;
}
.text-news {
text-align: justify;
}
.contact
{
background: url(../Images/subscribe-block-bg.gif);
padding: 30px 12px 20px 12px;
text-align: center;
}