@font-face
{
	font-family: 'BodoniXTRegular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/bodonixt-webfont.eot');
	src: url('../fonts/bodonixt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bodonixt-webfont.woff') format('woff'), url('../fonts/bodonixt-webfont.ttf') format('truetype'), url('../fonts/bodonixt-webfont.svg#bodonixtregular') format('svg');
}
@font-face
{
	font-family: 'OpenSansBold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/open-sans.bold-webfont.eot');
	src: url('../fonts/open-sans.bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans.bold-webfont.woff') format('woff'), url('../fonts/open-sans.bold-webfont.ttf') format('truetype'), url('../fonts/open-sans.bold-webfont.svg#open_sansbold') format('svg');
}
@font-face
{
	font-family: 'OpenSansRegular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/open-sans.regular-webfont.eot');
	src: url('../fonts/open-sans.regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans.regular-webfont.woff') format('woff'), url('../fonts/open-sans.regular-webfont.ttf') format('truetype'), url('../fonts/open-sans.regular-webfont.svg#open_sansregular') format('svg');
}
.w-710
{
	background: #fff;
	width: 710px;
}
.garcia-h2
{
	color: #000;
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 15px;
}
.garcia-main-table
{
	color: #000;
	font-size: 14px;
}
.garcia-main-table ul li
{
	line-height: 20px;
}
.garcia-main-table ul li a
{
	color: #000;
	font-size: 13px;
	text-decoration: underline;
}
.garcia-main-table td,.garcia-main-table th
{
	padding: 5px!important;
}
.garcia-main-h2
{
	color: #000;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 10px;
}
.garcia-main-h3
{
	color: #9e9d98;
	font-size: 16px!important;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 10px;
}
html,body,div,section,header,p,ol,li,dl,dd,ul,blockquote,footer,aside,article,h1,h2,h3,h4,h5,h6
{
	border: 0;
	margin: 0;
	padding: 0;
}
ul,li,ol
{
	list-style: none;
	margin: 0;
	padding: 0;
}
html,body
{
	height: 100%;
}
body
{
	background: #e8e6db;
	background: #f6f5f1;
	color: #fff;
	font: 16px "OpenSansRegular",Verdana,Tahoma,Arial,sans-serif;
}
.home-body
{
	overflow: hidden;
}
#wrapper
{
	background: #e8e6db;
	border: 0!important;
	margin: 0 auto;
	position: relative;
	width: 940px;
	z-index: 1001;
}
#wrapper.homepage
{
	background: transparent;
	border: 0;
	height: 0;
	overflow: hidden;
	position: static;
}
#wrapper.homepage #main-header
{
	position: absolute;
	z-index: 2000;
}
#main-search-dropdown
{
	background: #e8e6db;
	box-shadow: 6px 13px 29px -15px #7e7e7e;
	height: 70px;
	left: 10px;
	moz-box-shadow: 6px 13px 29px -15px #7e7e7e;
	padding: 25px 30px;
	position: absolute;
	top: 60px;
	webkit-box-shadow: 6px 13px 29px -15px #7e7e7e;
	width: 880px;
	z-index: 1001;
}
#main-search-dropdown #search,#main-search-dropdown #msd-suggest
{
	background: transparent;
	border: 0;
	display: block;
	float: left;
	font-size: 70px;
	height: 95px;
	left: 10px;
	letter-spacing: -5px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 12px;
	webkit-appearance: none;
}
#main-search-dropdown #search:focus,#main-search-dropdown #msd-suggest:focus
{
	outline: 0;
}
#main-search-dropdown #search
{
	color: #000;
	font-family: "OpenSansRegular",sans-serif;
	left: 0;
	padding-left: 14px;
	padding-right: 48px;
	width: 878px;
	z-index: 1002;
}
#main-search-dropdown #msd-suggest
{
	color: #fff;
	z-index: 1001;
}
#main-search-dropdown #msd-search-button,#main-search-dropdown #msd-close-button
{
	cursor: pointer;
	display: block;
	height: 38px;
	position: absolute;
	text-indent: -999em;
	width: 39px;
	z-index: 1010;
}
#main-search-dropdown #msd-search-button:hover,#main-search-dropdown #msd-close-button:hover
{
	opacity: .7;
}
#main-search-dropdown #msd-search-button
{
	background: url(data:image/png;
	border: 0;
	left: 829px;
	top: 25px;
}
#main-search-dropdown #msd-close-button
{
	background: url(data:image/png;
	left: 877px;
	top: 25px;
}
#wrapper.homepage #main-footer
{
	bottom: -50px;
	float: none;
	min-height: 272px;
	position: fixed;
	z-index: 2000;
}
.jcarousel-clip
{
	height: 100%;
}
.jcarousel-container
{
	height: 100%;
}
.ie8 #huge-carousel
{
	display: none;
}
#huge-carousel
{
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}
#huge-carousel.micro
{
	position: relative;
	width: 700px;
}
#huge-carousel ul
{
	float: left;
	height: 100%;
	left: 0;
	position: relative;
	z-index: 1000;
}
#huge-carousel ul li
{
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	height: 100%;
	margin: 0;
	moz-background-size: cover;
	overflow: hidden;
	position: relative;
	webkit-background-size: cover;
	webkit-transform: translatez(0);
}
#huge-carousel ul li.hc-first
{
	background-image: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/developers_only/xcar2.png.pagespeed.ic.VX1qBzxvE9.png);
}
#huge-carousel ul li.hc-second
{
	background-image: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/developers_only/xcar3.png.pagespeed.ic.cJNWO-I7vh.png);
}
#huge-carousel ul li.hc-third
{
	background-image: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/developers_only/xcar4.png.pagespeed.ic.yjVUrGzOW6.png);
}
#huge-carousel ul li .hc-text
{
	background: transparent;
	bottom: 360px;
	display: none;
	height: 200px;
	left: 0px;
	position: absolute;
	width: 940px;
}
#huge-carousel ul li .hc-text p
{
	font-size: 80px;
	text-align: right;
	text-shadow: .1em .1em .2em #777;
}
#huge-carousel ul li .hc-text p span
{
	color: #333;
	font-size: 50px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	top: -20px;
}
#home-page-widget
{
	bottom: 70px;
	float: left;
	height: 180px;
	overflow: hidden;
	position: absolute;
	width: 942px;
	z-index: 1100;
}
#home-page-widget li
{
	float: left;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
	width: 220px;
}
#home-page-widget li:last-child
{
	margin-right: 0;
}
#home-page-widget li span
{
	background: #000;
	background: url(data:image/png;
	bottom: 0;
	color: #fff;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-size: 16px;
	left: 0;
	line-height: 12px;
	min-height: 32px;
	padding: 20px;
	position: absolute;
	text-transform: uppercase;
	width: 181px;
}
#content
{
	color: #333;
	position: relative;
	width: 940px;
}
.homepage #content
{
	position: static;
}
#breadcrumb
{
	margin: 20px 0 20px 0;
}
#breadcrumb li a
{
	color: #000;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
}
#breadcrumb li a:hover
{
	text-decoration: underline;
}
#breadcrumb li.last a
{
	color: #9d9e98;
	cursor: default;
	text-decoration: none;
}
.garcia-grid-bundle-item
{
	float: left;
	height: 700px;
	margin: 10px 1px 1px 20px;
	padding: 0;
	position: relative;
	width: 220px;
}
.garcia-grid-bundle-item .prod_grid
{
	height: 700px;
	padding-top: 0;
	position: relative;
	width: 220px;
	z-index: 1000;
}
.garcia-grid-bundle-item .prod_grid .thumb
{
	background: transparent;
	float: left;
	height: 620px;
	margin: 0;
	position: relative;
	text-align: center;
	width: 220px;
	z-index: -1;
}
.garcia-grid-bundle-item .prod_grid .thumb img
{
	border: 0;
	color: transparent;
	display: block;
	display: none;
	height: 620px;
	margin: 0;
	padding: 0;
	width: 220px;
}
.garcia-grid-bundle-item .prod_grid .thumb-bundle
{
	float: left;
	height: 620px;
	margin: 0;
	position: relative;
	text-align: center;
	width: 220px;
	z-index: -1;
}
.garcia-grid-bundle-item .prod_grid .thumb-bundle img
{
	border: 0;
	color: transparent;
	display: block;
	display: none;
	height: 610px;
	margin: 0;
	padding: 0;
	width: 220px;
}
.garcia-grid-bundle-item .prod_grid .details
{
	background: url(data:image/png;
	height: 560px;
	left: 10px;
	position: absolute;
	top: 20px;
	width: 200px;
}
.garcia-grid-bundle-item .prod_grid .details button[type="submit"],.garcia-grid-bundle-item .prod_grid .details .button_submit
{
	background: url(data:image/png;
	border: 0;
	bottom: 14px;
	display: block;
	display: none;
	height: 31px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 17px;
	webkit-appearance: none;
	width: 11px;
}
.garcia-grid-bundle-item .prod_grid .details button[type="submit"] span,.garcia-grid-bundle-item .prod_grid .details .button_submit span
{
	display: none;
}
.garcia-grid-bundle-item .prod_grid .cart
{
	height: 100px;
	overflow: hidden;
	top: 620px;
}
.garcia-grid-bundle-item .prod_grid .cart form
{
	display: none;
}
.ui-autocomplete.ui-menu
{
	background: #e8e6db;
	border: 1px solid #e8e6db;
	border-radius: 0;
	moz-border-radius: 0;
	webkit-border-radius: 0;
}
.ui-autocomplete.ui-menu .ui-menu-item
{
	background: #e8e6db;
}
.ui-autocomplete.ui-menu .ui-menu-item a
{
	color: #000;
	display: block;
	font-size: 80px;
	letter-spacing: -5px;
	line-height: 100px;
	padding: 5px 10px;
	text-decoration: none;
}
.ui-autocomplete.ui-menu .ui-menu-item a:hover
{
	color: #222;
}
.content
{
	color: #000;
	width: 900px;
}
.content h2
{
	color: #000;
	padding-bottom: 10px;
}
.content p
{
	color: #000;
	padding-bottom: 10px;
}
.content.rich-text
{
	width: auto;
}
.empty-popup-cart
{
	background: #f6f5f1;
	color: #000;
	font-size: 1.2em;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	padding: 10px;
	text-align: center;
}
.garcia-facets-wrapper
{
	float: left;
	width: 220px;
}
.garcia-facets-wrapper .nav_column
{
	background: #fff;
	border: 0;
	margin-bottom: 20px!important;
}
.jpgic-rating
{
	display: block;
	height: 14px;
	margin: 5px 0 10px 0px;
	width: 65px;
}
.jpgic-rating .star-chart
{
	background: url(data:image/png;
	display: block;
	height: 14px;
	width: 65px;
}
.jpgic-rating .star-chart .sc-percent
{
	background: url(data:image/png;
	display: block;
	height: 14px;
	width: 100px;
}
#pdp-data .review_detail .jpgic-rating
{
	float: left;
	margin: 0;
	margin-left: 10px;
}
.write_review,#write_reviews
{
	float: left;
	width: 380px;
}
.write_review #reviewForm input[type="text"],#write_reviews #reviewForm input[type="text"],.write_review #reviewForm textarea,#write_reviews #reviewForm textarea
{
	background: #fff;
}
.write_review #reviewForm dl,#write_reviews #reviewForm dl
{
	border: 0;
	float: left;
	width: 380px;
}
.write_review #reviewForm dl dt,#write_reviews #reviewForm dl dt
{
	border: 0;
	font-size: 12px;
	height: auto;
	line-height: 1;
	width: auto;
}
.write_review #reviewForm dl dt label,#write_reviews #reviewForm dl dt label
{
	border: 0;
	font-size: 12px;
	height: auto;
	line-height: auto;
	width: auto;
}
.write_review #reviewForm dl dd,#write_reviews #reviewForm dl dd
{
	border: 0;
	clear: both;
	font-size: 12px;
	height: auto;
	line-height: auto;
	width: 190px;
	width: auto!important;
}
.ui-stars-cancel
{
	display: none;
}
.ui-stars-star a,.ui-stars-cancel a
{
	background: url(data:image/png;
	height: 13px;
	width: 13px;
}
.ui-stars-star-hover a,.ui-stars-star-on a
{
	background: url(data:image/png;
}
.review_detail
{
	border-bottom: 1px solid #25282a;
}
.review_actions
{
	font-size: 12px;
	position: absolute;
	right: 20px;
	top: 20px;
}
.review_actions a
{
	color: #25282a;
	text-decoration: underline;
}
.review_actions a#write_review_action
{
	color: #25282a;
}
.review_detail h3,.write_review h3
{
	color: #25282a;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
}
.review-comment
{
	color: #25282a;
	font-size: 13px;
	padding-bottom: 5px;
}
.review_origins
{
	color: #25282a;
	font-size: 12px;
	font-style: italic;
	padding-bottom: 5px;
}
.review_detail p.review_origins
{
	font-weight: normal;
}
.nav_column
{
	border-radius: 0;
	moz-border-radius: 0;
	padding-bottom: 20px;
	webkit-border-radius: 0;
	width: 220px;
}
.nav_column .title_holder h2
{
	background: #000;
	color: #fff;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	padding: 14px 10px 15px 18px;
	text-transform: uppercase;
}
.nav_column .item
{
	padding: 0 20px;
}
.nav_column .item span.dropdown
{
	background: transparent;
	position: relative;
	top: 5px;
}
.nav_column .item span.dropdown:hover
{
	background: transparent;
}
.nav_column .item ul.indent li
{
	color: transparent;
	padding-bottom: 10px;
}
.nav_column .item ul.indent li a
{
	color: #25282a;
	text-decoration: none;
}
.nav_column .item .category
{
	border: 0;
	border-bottom: 1px solid #e4e5e1;
	margin: 0;
	padding: 9px 0;
}
.nav_column .item .category .facet_block-label
{
	font-size: 10px!important;
}
.nav_column .item .category .refinementToggle
{
	float: left;
	width: 155px;
}
.nav_column .item .category span.dropdown .dropdown-img
{
	background: url(data:image/png;
}
.nav_column .item .category .toggleArrow span.dropdown .dropdown-img
{
	background: url(data:image/png;
}
.nav_column .item .category h4
{
	color: #000;
	display: inline-block;
	font-family: "OpenSansBold";
	font-size: 12px;
	margin: 0;
	max-width: none!important;
	padding: 0;
	text-transform: uppercase;
}
.facetValues
{
	padding-bottom: 10px;
	padding-top: 15px;
}
.facetValues .facet_block-label
{
	font-family: "OpenSansRegular";
	font-size: 12px;
}
.facetValues input[type="checkbox"]
{
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.checkout_multi_a
{
	width: 560px;
}
.item_container_holder
{
	margin: 10px 0;
}
.item_container
{
	clear: left;
	color: #25282a;
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
}
.item_container_holder .title
{
	display: none;
}
.item_container_holder .title-top
{
	height: 7px;
	overflow: visible;
}
.item_container_holder .title_holder h2
{
	background: transparent;
	color: #25282a;
	font-size: 30px;
	moz-text-shadow: none;
	padding: 0 6px 4px 0px;
	text-shadow: none;
	webkit-text-shadow: none;
}
#password_bar.pstrength-bar
{
	border: 0!important;
}
.productgridcontainer
{
	float: left;
	margin-left: 0;
	width: 720px;
}
.productgridcontainer .last-pager
{
	margin-top: 20px;
}
.productgridcontainer .prod_refine
{
	border: 0;
	border-top: 1px solid #e4e5e1;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	height: 38px;
	margin: 0 0 0px 0;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 0;
	width: 700px;
}
.productgridcontainer .prod_refine h3
{
	display: none;
}
.productgridcontainer .prod_refine a,.productgridcontainer .prod_refine ul
{
	display: none;
}
.productgridcontainer .prod_refine form
{
	float: right;
	position: relative;
	top: 6px;
}
.productgridcontainer .prod_refine form label
{
	color: #25282a;
	float: left;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	top: 2px;
}
.productgridcontainer .prod_refine form select
{
	background: #fff;
	border: 0;
	border-radius: 0;
	color: #000;
	display: block;
	font-family: "OpenSansRegular";
	font-size: 12px;
	min-width: 220px;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	padding: 5px;
	webkit-border-radius: 0;
}
.productgridcontainer .prod_refine form select:focus
{
	outline: 0;
}
.productgridcontainer .prod_refine form select option
{
	border: 0;
	color: #000;
	display: block;
	line-height: 20px;
	margin-bottom: 10px;
}
.productgridcontainer .prod_refine p.strong
{
	color: #25282a;
	display: none;
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
}
.nav_column.my-account-nav
{
	background: #fff;
	border: 0;
}
.nav_column.my-account-nav .my-account-nav-ul
{
	padding-top: 30px;
}
.nav_column.my-account-nav .my-account-nav-ul li
{
	color: #000;
}
.item_container_holder tr .updates a
{
	color: #000;
	display: block;
	font-size: 13px;
	padding: 0 0 10px 0;
	text-decoration: underline;
}
.item_container_holder tr th
{
	padding-left: 0;
}
.item_container_holder tr td
{
	padding-left: 0;
}
.item_container_holder tr td:first-child
{
	color: #25282a;
	font-weight: bold;
	width: auto;
}
.blocky
{
	display: block;
}
.black-white,button.black-white
{
	background: #000;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	moz-border-radius: 0;
	moz-text-shadow: none;
	ms-border-radius: 0;
	o-border-radius: 0;
	padding: 7px 14px;
	text-decoration: none;
	text-shadow: none;
	webkit-border-radius: 0;
	webkit-text-shadow: none;
}
.black-white.active,button.black-white.active
{
	background: #d3461e!important;
}
.black-white.active:hover,button.black-white.active:hover
{
	background: #d3461e!important;
}
.black-white.grey,button.black-white.grey
{
	background: #e8e6db!important;
	color: #9e9d98;
}
.black-white.grey:hover,button.black-white.grey:hover
{
	background: #e8e6db!important;
}
.black-white:hover,button.black-white:hover
{
	background: #000;
	text-decoration: none;
}
.my-account-column
{
	float: left;
	margin-right: 10px;
	width: 220px;
}
.my-account-landing-board
{
	background: #fff;
	border: 0;
	border-radius: 0;
	margin-bottom: 30px;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	webkit-border-radius: 0;
}
.my-account-landing-board img
{
	display: none;
}
.my-account-content-wrapper
{
	width: 710px;
}
.cust_acc_tile h1 a,.cust_acc_tile h1 a:visited
{
	color: #000!important;
	display: block;
	margin-bottom: 10px;
}
.cust_acc_tile ul li
{
	list-style: none;
}
.cust_acc_tile ul li a
{
	color: #000!important;
}
.add-address-left-label
{
	padding-left: 0;
}
#infscr-loading
{
	clear: both;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	text-align: center;
	width: 705px;
}
#infscr-loading p
{
	margin: 0;
	padding: 0;
}
#infscr-loading img
{
	padding: 10px 0;
}
.information_message span
{
	height: 52px;
}
.information_message span.single
{
	top: -10px;
}
.spot
{
	cursor: pointer;
	display: block;
	position: absolute;
}
.spot .plus
{
	background: url(data:image/png;
	display: block;
	height: 40px;
	position: relative;
	width: 80px;
	z-index: 2000;
}
.product-name
{
	display: none;
}
.product-view
{
	background: #fff;
	color: #000;
	left: 60px!important;
	line-height: 30px;
	max-width: 230px;
	min-width: 163px;
	min-width: auto;
	overflow: visible;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: -32px!important;
	z-index: 2001;
}
.product-view:after
{
	background: url(data:image/png;
	content: "";
	height: 29px;
	left: -15px;
	position: absolute;
	top: 40px;
	width: 15px;
}
.product-view dt
{
	background: url(data:image/png;
	clear: both;
	color: #000;
	font-family: "BodoniXTRegular";
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 10px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.product-view .pv-price
{
	clear: both;
	font-family: "OpenSansBold";
	font-size: 14px;
	font-weight: normal;
}
.product-view .pv-buy
{
	color: #000;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
.product-view .pv-buy:hover
{
	color: #000;
}
.product-view .pv-buy a
{
	color: #000;
}
.product-view .pv-buy a:hover
{
	color: #000;
}
.facets-landing-section
{
	float: left;
	width: 225px;
}
.facets-landing-section .nav_column
{
	background: #fff;
	border: 0;
}
.landing-category-content
{
	float: left;
	left: 15px;
	margin-bottom: 40px;
	position: relative;
	top: 0;
	width: 715px;
}
#checkout-cart-details-btn
{
	display: none;
}
.multicheckout
{
	background: #fff;
	clear: both;
	float: left;
	padding: 40px;
	width: 940px;
}
form h2
{
	clear: both;
}
a.positive,a.neutral,a.form
{
	padding: 0;
}
.garcia-form-h2
{
	color: #9e9d98;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}
a.positive,a.neutral,a.form
{
	height: auto;
}
.cart-middle-row .item_container_holder.checkout-total-items-container
{
	position: static;
}
.checkoutProgress ul li
{
	background: #e8e6da;
	background: #fff;
	border: 0;
	border-right: 2px solid #f6f5f1;
	width: auto;
}
.checkoutProgress ul li a
{
	color: #9e9d98;
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-size: 14px;
	font-weight: normal!important;
	line-height: auto!important;
	text-transform: uppercase;
}
.checkoutProgress ul li a:hover
{
	opacity: .7;
	text-decoration: none;
}
.checkoutProgress ul li.checkoutProgressStepVisited
{
	background: #f1f1f1;
	background: #fff;
	color: #797876;
	height: 41px;
}
.checkoutProgress ul li.checkoutProgressStepVisited a
{
	color: #ccc;
	font-size: 14px;
}
.checkoutProgress ul li.checkoutProgressStepActive
{
	background: #fff;
}
.checkoutProgress ul li.checkoutProgressStepActive a
{
	color: #797876;
}
.checkoutProgress ul li.checkoutProgressStepActive a:hover
{
	cursor: default;
	opacity: 1;
}
.pm-subtype
{
	clear: both;
	float: left;
	margin-left: 100px;
}
.select-address
{
	color: #9e9d98;
	float: left;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 5px;
	width: 365px;
}
.add-new-address
{
	color: #9e9d98;
	float: left;
	text-align: right;
	width: 175px;
}
.add-new-address a
{
	color: #9e9d98;
	font-size: 14px;
}
.add-new-address a:after
{
	content: "\0bb";
}
.delivery-address-cell
{
	text-align: left;
}
.delivery-address-cells-wrapper
{
	border-top: 1px solid #25282a;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 540px;
}
.delivery-address-cells-wrapper .delivery-address-cell
{
	border-bottom: 1px solid #ccc;
	float: left;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	position: relative;
	width: 269px;
}
.delivery-address-cells-wrapper .delivery-address-cell.no-b-bottom
{
	border-bottom: 0!important;
}
.delivery-address-cells-wrapper .delivery-address-cell.min-h
{
	min-height: 220px;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-links li
{
	display: inline-block;
	padding-top: 5px;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-links li.li-ticked
{
	background-color: transparent;
	background-image: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/xheader-sprite.png.pagespeed.ic.Bayylc9XcA.png);
	background-position: -748px -535px;
	background-repeat: no-repeat;
	height: 65px;
	left: 190px;
	position: absolute;
	text-indent: -999em;
	top: 13px;
	width: 70px;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-links li.li-ticked.sel
{
	background-position: -462px -385px;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-links li.li-ticked a
{
	display: block;
	height: 64px;
	width: 64px;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-links li a
{
	color: #9e9d98;
	font-size: 14px;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-links li:hover
{
	background-position: -462px -385px;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-details
{
	font-size: 14px;
	min-height: 125px;
	padding: 20px 20px 0 0;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-details li
{
	font-weight: normal;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-details li:first-child
{
	padding-bottom: 10px;
}
.delivery-address-cells-wrapper .delivery-address-cell .dac-details li h3
{
	color: #9e9d98;
	font-size: 12px;
	padding-bottom: 0!important;
	text-transform: uppercase;
}
.delivery-address-cells-wrapper .delivery-address-cell:nth-child(2n+2)
{
	padding-left: 20px;
	width: 249px;
}
.delivery-address-cells-wrapper .delivery-address-cell:nth-child(2n+1)
{
	border-right: 1px solid #ccc;
}
.another-payment-method
{
	padding: 10px 0 7px 0;
	text-align: right;
	width: 540px;
}
.another-payment-method a
{
	color: #9e9d98;
	font-size: 14px;
	font-weight: normal;
}
.another-payment-method a:after
{
	content: "\203a";
}
.checkout-summary-flow
{
	background: #fff;
	border-top: 1px solid #25282a;
	float: left;
	margin-bottom: 40px;
	padding-top: 10px;
	position: relative;
	width: 100%;
}
.checkout-summary-flow>ul
{
	background: #fff url(data:image/png;
	float: left;
}
.checkout-summary-flow>ul>li
{
	float: left;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 0;
	min-height: 155px;
	padding: 0;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 10px;
	width: 257px;
}
.checkout-summary-flow>ul>li:last-child
{
	border-right: 0;
	padding-right: 0;
}
.checkout-summary-flow>ul>li:first-child
{
	padding-left: 0;
	padding-right: 15px;
}
.checkout-summary-flow>ul>li address
{
	font-style: normal;
	font-weight: normal;
}
.csf-item dt
{
	color: #25282a;
	display: block;
	font-family: "OpenSansBold";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: auto!important;
	margin: 0;
	padding: 0 0 10px 0;
}
.csfi-body
{
	font-size: 12px;
	line-height: 16px;
}
.csfi-body address
{
	margin: 0;
	padding: 0;
}
.csfi-body address .address-header
{
	color: #797876;
	display: block;
	font-size: 12px;
	padding-top: 15px;
	text-transform: uppercase;
}
.csfi-body ul
{
	margin: 0;
	padding: 0;
}
.csfi-footer
{
	bottom: -27px;
	position: absolute;
}
.csfi-footer a
{
	color: #797876;
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.csfi-footer a:after
{
	content: "\00a0\203a";
}
.cart-wrapper
{
	width: 840px;
}
.span-24
{
	padding: 10px 20px;
	width: auto;
}
.wide-buttons-wrapper
{
	float: left;
	width: 540px;
}
.place-order-top
{
	margin-bottom: 20px;
}
.big-cart-font
{
	font-size: 30px;
	font-weight: normal;
}
.garcia-wide-white-wrapper
{
	background: #fff;
	padding: 20px 50px;
	width: 840px;
}
.content-wrapper
{
	clear: both;
}
.content-wrapper .content
{
	color: #25282a;
	font-size: 14px;
	line-height: 20px;
	padding: 25px 0;
	width: auto;
}
.garcia-content-wrapper
{
	background: #fff;
	clear: both;
	float: left;
	padding: 50px;
	width: 840px;
}
.garcia-content-wrapper .gcw-left
{
	float: left;
	width: 250px;
}
.rich-text h1
{
	color: #25282a;
	font-size: 30px;
	padding: 0 0 20px 0;
}
.rich-text h2
{
	color: #25282a;
	font-size: 24px;
	padding: 0 0 10px 0;
}
.rich-text h3
{
	color: #9e9d98;
	font-size: 16px;
	padding: 0 0 10px 0;
}
.rich-text h4
{
	color: #25282a;
	font-size: 14px;
	padding: 0 0 10px 0;
}
.rich-text p
{
	color: #25282a;
	font-size: 14px;
}
.cms_banner_slot .banner,.cms_banner_slot .simple_banner
{
	border: 0;
}
.garcia-20px-wrapper
{
	background: #fff;
	float: left;
	padding: 20px;
	width: 670px;
}
.garcia-50px-wrapper
{
	background: #fff;
	float: left;
	padding: 50px;
	position: relative;
	width: 840px;
}
.garcia-cart-wrapper
{
	float: left;
	padding-top: 40px;
	width: 840px;
}
.cart-voucher
{
	border-bottom: 1px solid #e6e6e4;
	float: left;
	padding-bottom: 14px;
	width: 534px;
}
.cart-voucher h2 label
{
	color: #000;
	float: left;
	font-size: 21px;
	font-weight: bold;
	line-height: 35px;
	padding-right: 30px;
}
.cart-voucher input[type="text"]
{
	background: #f5f4f0;
	border: 0;
	float: left;
	padding: 4px 10px;
	width: 280px;
}
.checkout-deliveries-horizontal
{
	float: left;
	padding-top: 20px;
	width: 538px;
}
.checkout-deliveries-horizontal li
{
	float: left;
	height: 90px;
	width: 258px;
}
.checkout-deliveries-horizontal li:first-child
{
	margin-right: 10px;
	width: 269px;
}
.checkout-deliveries-horizontal li .dm-name
{
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.checkout-deliveries-horizontal li .dm-description
{
	color: #000;
	display: block;
	font-size: 14px;
	padding-top: 12px;
}
.checkout-deliveries-horizontal li .dm-cost
{
	float: left;
	left: 20px;
	position: relative;
}
.your-order
{
	float: left;
	margin-bottom: 40px;
	width: 840px;
}
.your-order h2
{
	color: #000;
	font-size: 25px;
	font-weight: bold;
}
.your-order p
{
	color: #000;
	font-size: 13px;
	font-weight: normal;
	padding-top: 5px;
}
.your-order p em
{
	color: #d3461e;
	font-style: normal;
}
.order-short-summary
{
	float: left;
	width: 840px;
}
.nav_column
{
	margin: 0;
}
#content
{
	float: left;
}
#cboxContent,#colorbox
{
	border: 0;
	border-radius: 0;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	webkit-border-radius: 0;
}
#cboxClose
{
	right: 30px;
	top: 30px;
}
#colorbox,#cboxOverlay,#cboxWrapper
{
	position: fixed;
}
.garcia-messages-wrapper
{
	float: left;
	margin: 20px 0;
	padding: 0;
	width: 100%;
}
.garcia-messages-wrapper .information_message
{
	margin: 0;
	padding: 0;
}
.garcia-messages-wrapper .information_message p
{
	background: #fff url(data:image/png;
	border: 0;
	border-radius: 0;
	color: #d3461e;
	font-size: 14px;
	margin: 0;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	padding: 10px 15px;
	webkit-border-radius: 0;
}
.garcia-messages-wrapper .information_message.positive p,.garcia-messages-wrapper .information_message.neutral p
{
	background: #e2edd6;
	color: #6ca930;
}
.garcia-checkout-left
{
	float: left;
	width: 570px;
}
.garcia-checkout-right
{
	float: left;
	left: 50px;
	position: relative;
	width: 270px;
}
.garcia-checkout-right .checkout-banner
{
	border-bottom: 1px solid #000;
	height: auto;
	margin-bottom: 40px;
	padding-bottom: 20px;
}
.garcia-checkout-right .checkout-banner footer img
{
	padding-bottom: 10px;
}
.garcia-cart-totals .item_container_holder.checkout-total-items-container
{
	left: 640px;
	margin: 0;
	position: absolute;
	top: 48px;
}
.your-order
{
	float: left;
	width: 535px;
}
.scroller.positive .title_holder h2,.item_container_holder.positive .title_holder h2
{
	background: transparent;
	moz-text-shadow: none;
	text-shadow: none;
	webkit-text-shadow: none;
}
.checkout-buttons-wrapper-narrow
{
	float: left;
	width: 540px;
}
.checkout-buttons-wrapper-narrow button,.checkout-buttons-wrapper-narrow .checkout-button-back
{
	clear: none!important;
}
.checkout-button-back
{
	background: #000;
	border: 0;
	color: #fff!important;
	display: inline-block;
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 7px 14px;
	text-decoration: none;
}
.checkout-button-back:hover
{
	text-decoration: none;
}
.checkout-button-back.grey
{
	background: #e8e6db!important;
	color: #9e9d98!important;
}
.payment-method-list
{
	color: #000;
}
.payment-method-list form
{
	float: left;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 540px;
}
.payment-method-list form>ol
{
	float: left;
	list-style: none;
	margin: 0;
	width: 540px;
}
.payment-method-list form>ol ol
{
	float: left;
	padding-bottom: 10px;
	padding-left: 10px;
}
.payment-method-list form>ol ol li
{
	padding-bottom: 5px;
	width: 400px;
}
.payment-method-list form label
{
	font-size: 14px;
	margin: 0;
	padding: 0 10px 0 0;
}
.payment-method-list form h2
{
	padding-bottom: 10px;
}
.payment-method-list form h2 label
{
	color: #000;
	font-size: 20px;
	font-weight: bold;
}
.prod_review
{
	margin-top: 0;
}
.garcia-main-table
{
	border: 0!important;
	margin-top: 20px;
}
.jc-main-table
{
	border-radius: 0!important;
	moz-border-radius: 0!important;
	ms-border-radius: 0!important;
	o-border-radius: 0!important;
	webkit-border-radius: 0!important;
}
.jc-main-table>tbody>tr td,.garcia-main-table>tbody>tr td,.jc-main-table>tbody>tr th,.garcia-main-table>tbody>tr th
{
	color: #25282a;
	font-size: 12px;
	font-weight: normal;
}
.jc-main-table>tbody>tr td td,.garcia-main-table>tbody>tr td td,.jc-main-table>tbody>tr th td,.garcia-main-table>tbody>tr th td
{
	padding: 0!important;
	width: 100px;
}
.jc-h2
{
	font-size: 23px!important;
	font-weight: bold!important;
	margin-bottom: 15px!important;
}
.jc-h2 a
{
	color: #25282a;
	font-size: 23px!important;
	font-weight: bold!important;
	text-transform: uppercase;
}
.sl-button
{
	float: left;
	margin-top: 20px;
}
.store_map
{
	display: block;
	display: inline;
	float: left;
	height: 365px;
	height: 500px;
	margin: 0 0 20px 0;
	overflow: hidden;
	width: 460px;
}
#sl-advice
{
	padding-bottom: 10px;
}
.store_finder .item_container_holder
{
	height: auto;
	min-height: 1px;
}
.jc-sl-store-finder
{
	display: block;
	float: left;
	height: auto;
	margin: 0 0 20px 0;
	margin-right: 20px;
	overflow: hidden;
	width: 460px;
}
.jc-sl-store-finder .garcia-form-row label,.jc-sl-store-finder .garcia-form-row dt
{
	width: 150px;
}
.jc-sl-store-finder #storeFinderForm .sl_input
{
	background-color: #fff;
}
#storeFinderForm
{
	float: left;
	position: relative;
	width: 530px;
}
.slt-store-cell
{
	position: relative;
}
.view-map-link
{
	position: absolute;
	right: 20px;
	top: 10px;
}
#store_locator
{
	width: 940px;
}
#store_locator address
{
	font-style: normal;
}
#store_locator th
{
	color: #25282a;
	font-size: 14px;
	font-weight: normal;
}
#store_locator td
{
	padding-bottom: 30px;
}
.sl-thumb
{
	clear: both;
	margin-top: 20px;
}
.sl-thumb img
{
	clear: both;
	display: block;
	height: 120px;
	width: 160px;
}
.sl-marker
{
	position: absolute;
	right: 20px;
	top: 35px;
}
.store-openings td
{
	border-bottom: 0!important;
}
.sl-left,.sl-right
{
	float: left;
	width: 469px;
}
.sl-big-image img
{
	clear: both;
	display: block;
	height: 345px;
	width: 460px;
}
.jc-h3
{
	color: #25282a!important;
	font-size: 24px;
	margin: 0;
	padding: 0;
}
.cat-ubrs
{
	background: #000;
	clear: both;
	color: #fff;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
	margin: 20px 0;
	padding: 0 20px 20px 20px;
	width: 180px;
}
.cat-ubrs li
{
	border-bottom: 1px solid #fff;
	padding: 20px 0;
	text-transform: uppercase;
}
.cat-ubrs a
{
	color: #fff;
	cursor: pointer;
}
.cat-ubrs a:hover
{
	cursor: default;
	text-decoration: none;
	text-transform: uppercase;
}
.cat-story
{
	background: #fff;
	padding: 20px;
	text-align: center;
	width: 180px;
}
.cat-story h1,.cat-story h2,.cat-story h3,.cat-story h4,.cat-story h5,.cat-story h6
{
	color: #000;
	font-family: 'BodoniXTRegular';
	font-size: 30px;
	font-weight: normal;
	letter-spacing: -1px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.cat-story h1:after,.cat-story h2:after,.cat-story h3:after,.cat-story h4:after,.cat-story h5:after,.cat-story h6:after
{
	background: #999;
	bottom: 15px;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -34px;
	position: absolute;
	width: 67px;
}
.cat-story p,.cat-story span,.cat-story div
{
	color: #25282a;
	font-family: "OpenSansRegular";
	font-size: 12px;
	line-height: 18px;
}
.garcia-wide-wrapper
{
	float: left;
	margin-right: 0;
	width: 950px;
}
.prod_grid,#pdp-data
{
	position: relative;
	z-index: 2000;
}
.prod_grid.sale:after,#pdp-data.sale:after
{
	background: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/xlabel-sale.png.pagespeed.ic.NaeKdKVFgg.png) no-repeat 0px 0px;
	content: "";
	display: block;
	height: 53px;
	left: 177px;
	position: absolute;
	top: -4px;
	width: 35px;
	z-index: 5000;
}
.prod_grid.new:before,#pdp-data.new:before
{
	background: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/xlabel-new.png.pagespeed.ic.39_gPo1qI_.png) no-repeat 0px 0px;
	content: "";
	display: block;
	height: 53px;
	left: 177px;
	position: absolute;
	top: -4px;
	width: 35px;
	z-index: 5000;
}
.product-promo
{
	display: block;
	height: 53px;
	left: 177px;
	overflow: hidden;
	position: absolute;
	top: -4px;
	width: 35px;
	z-index: 5000;
}
#pdp-data
{
	position: relative;
}
#pdp-data .product-promo
{
	left: 407px;
	top: -4px;
}
#pdp-data.sale:after
{
	left: 407px;
	top: -4px;
}
#pdp-data.new:before
{
	left: 407px;
	top: -4px;
}
.jpgic-prices
{
	font-size: 13px;
}
.jpgic-prices .old-price
{
	color: #999;
	font-size: 16px;
	font-weight: normal;
	text-decoration: line-through;
}
.jpgic-prices em
{
	font-style: normal;
}
.jpgic-prices .new-price
{
	font-size: 22px;
	font-weight: normal;
}
.lister-desc
{
	font-size: 12px;
}
.prod_grid .details
{
}
.terms-and-conditions
{
	clear: both;
	float: right;
	font-size: 12px;
	left: -140px;
	position: relative;
	text-align: right;
	top: 30px;
	width: 200px;
}
.terms-and-conditions a
{
	color: #9e9d98;
}
#password_minchar
{
	font-size: 10px;
}
.hidden
{
}
.order-description
{
	float: left;
	font-family: "OpenSansRegular";
	font-size: 13px!important;
	font-weight: normal!important;
	line-height: auto!important;
	margin-bottom: 20px;
	width: 100%;
}
.cart_popup .cart_modal_popup .prod_info .prod_price
{
	font-size: 12px;
	position: relative;
}
#cart_popup .prod_info
{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
	width: 155px;
}
#cart_popup .prod_info .prod_options,#cart_popup .prod_info .prod_quantity
{
	font-weight: normal;
	padding-bottom: 2px;
}
.cart_popup .cart_modal_popup .prod_info .prod_price
{
	right: 0;
}
.nav_column .item ul.facet_block span.remove a
{
	background: #fff;
}
.nav_column .item ul.facet_block span.remove a:hover
{
	background: #fff;
}
.gjc-payment-item
{
	padding: 0 0 15px 0;
}
.gpi-image
{
	display: inline-block;
	width: 45px;
}
.gpi-image img
{
	max-width: 31px;
}
.gpi-label
{
	display: inline-block!important;
	margin-left: 10px!important;
}
.item_container_holder.checkout-total-items-container p
{
	padding: 0;
}
.delivery_method_item span.dm-checkbox input
{
	top: 8%;
}
#password_minchar
{
	left: 10px;
	position: relative;
}
#password_text
{
	left: 0px;
	position: absolute;
	top: -25px;
}
#password_bar
{
	background-color: #3f0;
	font-size: 1px;
	height: 5px;
	left: 190px;
	position: absolute;
	top: 0px;
	width: 179px;
}
.form_field_error input[type="text"],.form_field_error input[type="password"]
{
	width: 163px;
}
.existing_address
{
	border: 0;
	font-weight: normal;
	padding: 0;
	padding-bottom: 20px;
}
.existing_address a
{
	clear: both;
	display: block;
	float: none!important;
	text-decoration: underline;
}
#colorbox,#cboxOverlay,#cboxWrapper
{
	position: absolute!important;
	z-index: 5000;
}
.xl_image
{
	float: none!important;
	width: auto!important;
}
.facetz-applied .item
{
	padding-top: 20px;
}
.facetz-applied li
{
	line-height: 16px!important;
}
.facetz-applied li>a
{
	color: #25282a;
	font-size: 14px;
	text-decoration: none!important;
	text-transform: capitalize;
}
.facetz-applied li>a:hover
{
	color: #25282a;
}
.nav_column .item ul.facet_block span.remove img
{
	margin: 0;
	padding: 0;
}
.nav_column .item ul.facet_block span.remove
{
	margin-top: 0;
	position: relative;
	top: -2px;
}
#cboxOverlay
{
	position: fixed!important;
}
#select-delivery-store-form table#store_locator
{
	width: 840px;
}
#select-delivery-store-form table#store_locator td
{
	padding: 10px 10px;
}
#select-delivery-store-form table#store_locator .sl-phone
{
	position: relative;
	top: -5px;
}
#select-delivery-store-form table#store_locator h2
{
	font-size: 18px;
	width: 150px;
	word-break: break-word;
}
.placeholder
{
	color: #aaa;
}
#addContactForm textarea
{
	left: 10px;
	position: relative;
	width: 343px;
}
#addContactForm input[type="text"]
{
	width: 334px;
}
#addContactForm .form_field_error p
{
	width: 519px;
}
.prod_refine label
{
	float: left;
}
.prod_refine a
{
	margin-left: 10px;
}
.make-relative-td
{
	padding: 10px;
	position: relative;
}
.prod_refine ul.pager
{
	clear: both;
	float: left;
	padding: 10px 0;
}
#map_canvas
{
	z-index: 2000!important;
}
#main-header
{
	background: #25282a;
	color: #fff;
	height: 60px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	z-index: 3000;
}
#main-header h1
{
	padding: 3px 1px 1px 19px;
}
#main-header #mh-gutter
{
	margin: 0 auto;
	position: relative;
	width: 960px;
}
#header-basket-widget
{
	background-image: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/xheader-sprite.png.pagespeed.ic.Bayylc9XcA.png);
	background-position: -271px -53px;
	background-repeat: no-repeat;
	float: left;
	height: 24px;
	padding: 5px 0 6px 27px;
	position: relative;
	text-align: right;
	top: -5px;
}
#header-basket-widget:hover
{
	background-position: -372px -53px;
	color: #797876;
}
#header-basket-widget.filled
{
	background-position: -575px -53px;
	color: #d3461e;
}
#header-basket-widget.filled:hover
{
	background-position: -475px -53px;
	color: #fff!important;
}
#header-search-widget
{
	background-image: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/xheader-sprite.png.pagespeed.ic.Bayylc9XcA.png);
	background-position: -676px -49px;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	height: 26px;
	padding-left: 24px;
	padding-top: 5px;
	position: relative;
	text-align: right;
	top: -5px;
	width: auto;
}
#header-search-widget.active
{
	background-position: -866px -49px;
	color: #fff;
}
#header-search-widget.active:hover
{
	background-position: -866px -49px;
	color: #fff;
}
#header-search-widget:hover
{
	background-position: -766px -49px;
	color: #797876;
}
.siteLogo
{
	height: 40px;
	width: 125px;
}
.siteLogo a
{
	display: block;
	height: 40px;
	padding: 10px 10px 10px 10px;
	width: 125px;
}
.header-meta-container
{
	float: left;
	height: 30px;
	padding-top: 24px;
	position: absolute;
	right: 0px;
	top: -8px;
	width: auto;
}
#header-login
{
	float: right;
	padding-right: 10px;
	text-transform: uppercase;
}
#header-login li
{
	color: #9e9d98;
	float: left;
	font-family: "OpenSansBold",Verdana,sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin-left: 20px;
	padding-left: 20px;
	position: relative;
}
#header-login li a
{
	color: #9e9d98;
	text-decoration: none;
}
#header-login li a:hover
{
	color: #797876;
}
#header-login li:after
{
	background: #9e9d98;
	content: "";
	height: 17px;
	left: 0px;
	position: absolute;
	top: 5px;
	width: 1px;
}
#header-login li:first-child:after
{
	display: none;
}
#header-login li.hl-stores
{
	background-image: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/xheader-sprite.png.pagespeed.ic.Bayylc9XcA.png);
	background-position: -257px -155px;
	background-repeat: no-repeat;
	padding-left: 41px;
}
#header-login li.hl-stores:hover
{
	background-position: -357px -155px;
}
#header-login li.hl-stores:hover a
{
	color: #797876;
}
#wrapper.homepage+#main-footer
{
	bottom: -10px;
	position: fixed;
	z-index: 3000;
}
#wrapper.homepage+#main-footer #mf-gutter
{
	padding-top: 0;
}
#wrapper.homepage+#main-footer .footer-section
{
	overflow: visible;
	padding-top: 20px;
	position: relative;
}
#wrapper.homepage+#main-footer .footer-section dt
{
	cursor: pointer;
	min-width: auto;
}
#wrapper.homepage+#main-footer .footer-section dd
{
	background: #f1f1f1;
	bottom: 62px;
	bottom: 69px;
	left: -999em;
	min-width: 125px;
	padding: 20px;
	padding-right: 60px;
	position: absolute;
}
#wrapper.homepage+#main-footer .footer-section dd:after
{
	background: #c0a;
	background: url(data:image/png;
	bottom: -10px;
	content: "";
	height: 10px;
	left: 32px;
	position: absolute;
	width: 19px;
}
#wrapper.homepage+#main-footer .footer-section dd a
{
	color: #262729;
	font-size: 12px;
}
#wrapper.homepage+#main-footer .footer-section li
{
	padding: 0;
	padding-bottom: 10px;
}
#wrapper.homepage+#main-footer .footer-section:hover dd
{
	left: 0;
}
#main-footer
{
	background: #25282a;
	color: #fff;
	float: left;
	margin: 0 auto;
	position: relative;
	width: 100%;
}
#main-footer #mf-gutter
{
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
	width: 940px;
}
#main-footer #mf-gutter .footer-section
{
	float: left;
	margin-right: 10px;
	overflow: hidden;
	width: 130px;
}
#main-footer #mf-gutter .footer-section dt
{
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 25px;
}
#main-footer #mf-gutter .footer-section dd
{
	font-size: 11px;
	line-height: 20px;
}
#main-footer #mf-gutter .footer-section dd a
{
	color: #fff;
	text-decoration: none;
}
#main-footer #mf-gutter .footer-section dd a:hover
{
	text-decoration: underline;
}
#main-footer #mf-gutter .footer-socials
{
	height: 50px;
	position: absolute;
	right: -15px;
	top: 20px;
	width: 210px;
}
#main-footer #mf-gutter .footer-socials dt
{
	float: left;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	margin-right: 10px;
	min-width: 1px;
}
#main-footer #mf-gutter .footer-socials li
{
	border-left: 1px solid #9e9d98;
	float: left;
	height: 22px;
	margin-left: 10px;
	padding-left: 10px;
	width: 20px;
}
#main-footer #mf-gutter .footer-socials li a
{
	background-image: url(http://shop.garciajeans.com/_ui/desktop/theme-garcia_b2c/images/xheader-sprite.png.pagespeed.ic.Bayylc9XcA.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 22px;
	width: 20px;
}
#main-footer #mf-gutter .footer-socials li em
{
	display: none;
}
#main-footer #mf-gutter .footer-socials li.fs-facebook a
{
	background-position: -271px -252px;
}
#main-footer #mf-gutter .footer-socials li.fs-facebook a:hover
{
	background-position: -371px -252px;
}
#main-footer #mf-gutter .footer-socials li.fs-twitter a
{
	background-position: -273px -353px;
}
#main-footer #mf-gutter .footer-socials li.fs-twitter a:hover
{
	background-position: -373px -353px;
}
#main-footer #mf-gutter .footer-socials li.fs-youtube a
{
	background-position: -275px -451px;
}
#main-footer #mf-gutter .footer-socials li.fs-youtube a:hover
{
	background-position: -375px -451px;
}
#main-footer #mf-gutter .footer-socials li:first-child
{
	margin-left: 0;
}
.cc-pager
{
	height: 112px;
	position: absolute;
	right: 0px;
	top: 330px;
	width: 37px;
	z-index: 4000;
}
.cc-pager span
{
	background: #fd0;
	display: block;
	height: 36px;
	margin-bottom: 1px;
	text-indent: -999em;
	width: 34px;
}
.cc-pager span.ccp-prev
{
	background: url(data:image/png;
	cursor: pointer;
}
.cc-pager span.ccp-prev.disabled
{
	cursor: default;
	opacity: .5;
}
.cc-pager span.ccp-next
{
	background: url(data:image/png;
	cursor: pointer;
}
.cc-pager span.ccp-next.disabled
{
	cursor: default;
	opacity: .5;
}
.cc-pager span.ccp-value
{
	background: url(data:image/png;
	color: #fff;
	font-size: 16px;
	line-height: 37px;
	text-align: center;
	text-indent: 0;
}
.show-all-link,ul.pager a.nextpage,ul.pager
{
	display: none!important;
}
.basket-prices em
{
	display: none;
}
.basket-prices .basket-old-price
{
	color: #999;
	text-decoration: line-through;
}
.variant-section
{
	float: left;
	margin-bottom: 20px;
	width: 460px;
}
.variant-section img
{
	display: block;
	float: left;
	margin-right: 10px;
}
.variant-section .variant-facets
{
	float: left;
}
.vf-row
{
	float: left;
	padding-left: 119px;
	padding-top: 6px;
	width: 120%;
}
.vf-row label
{
	font-size: 14px;
}
.vi-info
{
	padding-bottom: 20px;
}
.vi-info h3,.vi-info h4,.vi-info p
{
	color: #000;
	font-size: 13px;
	font-weight: bold;
}
.vi-info p
{
	font-weight: normal;
}
.hs-slides li
{
}
#voucherForm .jc-button
{
	background: #c7c6c1;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 12px;
	height: 27px;
	left: 1px;
	line-height: 27px;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 8px;
	width: 40px;
}
.form-element-tooltip
{
	position: relative;
}
.form-element-tooltip .form-element-tooltip-label
{
	cursor: pointer;
}
.form-element-tooltip .form-element-tooltip-label:hover+em
{
	left: -106px;
}
.form-element-tooltip em
{
	background: #d2624a;
	display: block;
	font-size: 12px;
	font-style: normal;
	left: -999em;
	line-height: 1.2;
	line-height: 1;
	padding: 1em;
	position: absolute;
	text-align: center;
	top: -82px;
	width: 200px;
}
.form-element-tooltip em:after
{
	background: #fd0;
	background: url(data:image/png;
	bottom: -7px;
	content: "";
	display: block;
	height: 7px;
	left: 109px;
	position: absolute;
	width: 12px;
}
.form-element-tooltip
{
	margin-left: 10px;
	position: relative;
	top: 5px;
}
.form-element-tooltip .gt-label
{
	background: url(data:image/png;
	display: inline-block;
	height: 18px;
	width: 18px;
}
#garcia-product-detail-page.gpdp-bundles
{
	background: transparent!important;
}
#garcia-product-detail-page.gpdp-bundles #pdp-data
{
	background: transparent;
	padding: 0 18px 30px 20px;
	width: 441px;
}
#garcia-product-detail-page.gpdp-bundles #pdp-data .product-description
{
	font-size: 14px;
	padding-bottom: 20px;
}
#garcia-product-detail-page.gpdp-bundles #pdp-data.sale:after,#garcia-product-detail-page.gpdp-bundles #pdp-data.sale:before
{
	display: none;
}
#garcia-product-detail-page.gpdp-bundles #pdp-data hgroup
{
	padding-top: 0;
}
#garcia-product-detail-page.gpdp-bundles #pdp-data .variant-section.bundle
{
	background: #fff;
}
#garcia-product-detail-page.gpdp-bundles #pdp-data .variant-section.bundle .variant-image
{
	float: left;
	padding: 30px 0;
	padding: 30px;
	text-align: center;
	width: 176px;
}
#garcia-product-detail-page.gpdp-bundles #pdp-data .variant-section.bundle .variant-image img
{
	display: inline;
}
#garcia-product-detail-page.gpdp-bundles #pdp-data .variant-section.bundle .variant-facets
{
	float: left;
	padding: 20px 0 20px 0;
	width: 223px;
}
#garcia-product-detail-page.gpdp-bundles #pdp-data .variant-section.bundle .variant-facets select
{
	width: 180px!important;
}
#garcia-product-detail-page.gpdp-bundles .prod_image_main
{
	width: 460px;
}
.bundle_modal img
{
	width: 460px!important;
}
#bdp-media.bundle
{
	width: 460px!important;
}
.vi-info.bundle
{
	padding-bottom: 15px!important;
}
.vi-info.bundle h3
{
	font-size: 14px!important;
}
.jpgic-prices .old-price,.jpgic-prices .new-price
{
	font-size: 14px!important;
	line-height: 1;
}
.vf-row.bundle
{
	padding-left: 50px!important;
}
.category-page
{
	float: right;
}
.subscribe .input
{
	background-color: #fff;
	border: solid 1px #43403e;
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	height: 27px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
	width: px;
	zoom: 1;
}
.subscribe .input.focus
{
	border-color: #d05328;
}
.subscribe .input.invalid
{
	border-color: red;
}
.subscribe .input.invalid input
{
	color: red;
}
.subscribe .input input
{
	color: #000;
	font-size: 10px;
	margin: 0px 0px 0px;
	text-align: left;
	text-transform: uppercase;
	width: 141px;
}
.subscribe .input input.watermark
{
	color: #777;
	text-align: center;
}
a.custom-btn
{
	background-color: #d05328;
	color: #fff;
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	font-size: 12px;
	height: 31px;
	line-height: 31px;
	padding: 0px 20px;
	text-transform: uppercase;
	vertical-align: middle;
	zoom: 1;
}
a.custom-btn ins
{
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	font-size: 130%;
	margin-left: 5px;
	margin-top: -4px;
	text-decoration: none!important;
	vertical-align: middle;
	zoom: 1;
}
a.custom-btn:hover
{
	background-color: #e8e6db;
	color: #d05328;
}
.page-footer .subscribe .btn
{
	display: block;
	padding-top: 10px;
}
.subscribe .custom-btn
{
	background-color: #777;
	font-size: 10px;
	height: 26px;
	line-height: 26px;
	min-width: 103px;
	text-align: center;
}
.subscribe .custom-btn:hover
{
	background-color: #e8e6db;
}
.footer-newsletter
{
	display: none;
}
.prod-grid-item-overlay
{
	color: #fff;
	font-size: 14px;
	padding: 5px 15px;
}
.prod-grid-item-overlay dt
{
	font-size: 14px;
}
.prod-grid-item-overlay dd
{
	clear: both;
	font-size: 14px;
}
.prod-grid-item-overlay dd h2
{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	padding-top: 10px;
}
.details-price
{
	display: none;
}
.garcia-grid-item
{
	background: #fff;
	float: left;
	height: 393px;
	margin: 0 0 20px 20px;
	padding: 0;
	width: 220px;
}
.garcia-grid-item .prod_grid
{
	background: #fff;
	box-shadow: 0px 1px 2px 1px #eaeaea;
	cursor: pointer;
	height: 393px;
	moz-box-shadow: 0px 1px 2px 1px #eaeaea;
	overflow: visible;
	padding-top: 0;
	position: relative;
	webkit-box-shadow: 0px 1px 2px 1px #eaeaea;
	width: 220px;
	z-index: 1000;
}
.garcia-grid-item .prod_grid:hover
{
	box-shadow: 0px 1px 8px 0px #ccc;
	moz-box-shadow: 0px 1px 8px 0px #ccc;
	webkit-box-shadow: 0px 1px 8px 0px #ccc;
}
.garcia-grid-item .prod_grid .thumb
{
	background: #fff;
	float: left;
	height: 293px;
	margin: 0;
	position: relative;
	text-align: center;
	width: 220px;
	z-index: -1;
}
.garcia-grid-item .prod_grid .thumb img
{
	background: #fff;
	border: 0;
	color: transparent;
	display: block;
	display: none;
	height: 293px;
	margin: 0;
	padding: 0;
	width: 220px;
}
.garcia-grid-item .prod_grid .details
{
	background: url(data:image/png;
	height: 375px;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 200px;
	z-index: 3000;
}
.garcia-grid-item .prod_grid .details button[type="submit"],.garcia-grid-item .prod_grid .details .button_submit
{
	background: url(data:image/png;
	border: 0;
	bottom: 14px;
	display: block;
	display: none;
	height: 31px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 17px;
	webkit-appearance: none;
	width: 11px;
}
.garcia-grid-item .prod_grid .details button[type="submit"] span,.garcia-grid-item .prod_grid .details .button_submit span
{
	display: none;
}
.garcia-grid-item .prod_grid .details dt,.garcia-grid-item .prod_grid .details dd
{
	color: #000;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	position: relative;
	top: -5px;
}
.garcia-grid-item .prod_grid .details dt
{
	clear: both;
	display: block;
	font-family: "OpenSansBold";
	min-width: 75px;
	padding-top: 5px;
}
.garcia-grid-item .prod_grid .details dd
{
	float: right;
	padding-top: 5px;
	position: relative;
	top: -5px;
	width: 121px;
}
.garcia-grid-item .prod_grid .cart h2
{
	background: #fff;
	bottom: 50px;
	color: #000;
	float: left;
	font-family: 'BodoniXTRegular';
	font-size: 20px;
	line-height: 20px;
	padding: 10px 20px 0 20px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 180px;
	word-break: break-word;
	z-index: 5000;
}
.lister-prices
{
	background: #fff url(data:image/png;
	bottom: 15px;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
	left: 0;
	min-height: 16px;
	padding-top: 10px;
	position: absolute;
	text-align: center;
	width: 220px;
	z-index: 5000!important;
}
.lister-prices .lp-old
{
	color: #797876;
	font-family: "OpenSansRegular";
	margin-right: 5px;
	text-decoration: line-through;
}
.garcia-crossell-gutter
{
	float: left;
	width: 940px;
}
.garcia-crossell-gutter .garcia-grid-item:first-child
{
	margin-left: 0;
}
.garcia-crossells
{
	clear: both;
	float: left;
	margin-top: 20px;
	width: 940px;
}
.garcia-crossells .gc-title
{
	color: #fff;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.landing-category-content
{
	margin-bottom: 20px;
}
.landing-category-content #category-lister-results .garcia-grid-item:first-child
{
	margin-left: 0;
}
.form_field_error
{
	background: transparent;
	border: 0;
	color: #d3461e;
	margin: -1px 0!important;
	padding: 0;
	position: relative;
	width: 100%;
}
.form_field_error input[type="text"],.form_field_error input[type="password"]
{
	background: transparent;
	border: 1px solid #d3461e;
}
.form_field_error p
{
	background: #fff url(data:image/png;
	bottom: 13px;
	color: #d3461e;
	font-weight: normal;
	height: 30px;
	left: 0px;
	line-height: 30px;
	padding: 0 10px;
	position: absolute;
	width: 355px;
}
.form_field_error p:after
{
	background: transparent url(data:image/png;
	content: "";
	height: 5px;
	left: 50%;
	position: absolute;
	top: -4px;
	width: 11px;
}
.pstrength-minchar
{
	display: none;
}
#jc-register-section,.form-login-wrapper,#jc-login-section
{
	float: left;
	width: 362px;
}
#jc-register-section
{
	margin-right: 110px;
}
.garcia-form
{
	width: 100%;
}
.garcia-form .checkout-button-back,.garcia-form button
{
	display: block;
	float: left;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	padding: 0 15px;
}
.password-forgotten
{
	color: #000;
	display: block;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	margin: 15px 0 0 0;
	width: 100%;
}
.form_field_error .garcia-form-row
{
	min-height: 95px;
}
.da-default .garcia-form-row
{
	border: 0;
}
.garcia-form-row
{
	border-bottom: 1px solid #000;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 12px;
	margin-bottom: 0;
	min-height: 49px;
	width: 100%;
}
.garcia-form-row:first-child
{
	border-top: 1px solid #000;
}
.garcia-form-row input[type="password"],.garcia-form-row input[type="text"]
{
	background: #f6f5f1;
	border: 0;
	height: 30px;
	line-height: 30px;
	margin: 0;
	outline: 0;
	padding: 0 7px;
	padding: 0;
	position: relative;
	top: 9px;
	vertical-align: top;
	width: 224px;
}
.garcia-form-row input[type="checkbox"],.garcia-form-row select
{
	position: relative;
	top: 15px;
}
.garcia-form-row label
{
	display: table-cell;
	font-family: "OpenSansBold";
	font-size: 14px;
	font-weight: normal;
	height: 49px;
	line-height: 14px;
	vertical-align: middle;
	width: 123px;
}
.garcia-form-row dt
{
	float: left;
	width: 124px;
}
.garcia-form-row dd
{
	float: left;
}
.gf-title
{
	color: #000;
	font-family: "BodoniXTRegular";
	font-size: 30px;
	font-weight: normal!important;
	line-height: 30px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.gf-description,.gf-info
{
	color: #000;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	padding-bottom: 20px;
}
.gf-info
{
	color: #9e9d98;
}
.garcia-nav-column
{
	background: #fff;
	float: left;
	margin-right: 20px;
	width: 220px;
}
.gnc-title
{
	background: #000;
	color: #fff;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
}
.gnc-content
{
	color: #000;
	display: inline-block;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	max-width: none!important;
	padding: 20px;
	text-transform: uppercase;
}
.gncc-list li
{
	padding-bottom: 10px;
}
.gncc-list a
{
	color: #000!important;
}
.garcia-account-wrapper
{
	background: #fff;
	float: left;
	margin-bottom: 30px;
	padding: 20px;
	width: 659px;
}
.garcia-account-wrapper .garcia-main-h2
{
	color: #000;
	font-family: "BodoniXTRegular";
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
}
.garcia-account-wrapper .jc-h3
{
	font-family: "OpenSansBold";
	font-size: 18px;
	font-weight: normal;
}
.garcia-account-wrapper li
{
	font-family: "OpenSansRegular";
	font-size: 13px;
	font-weight: normal;
}
#header-basket-list
{
	background: #e8e6db;
	box-shadow: 0px 5px 17px -5px #595959;
	moz-box-shadow: 0px 5px 17px -5px #595959;
	position: absolute;
	right: 10px;
	top: 60px;
	webkit-box-shadow: 0px 5px 17px -5px #595959;
	width: 240px;
}
#header-basket-list:after
{
	background: url(data:image/png;
	content: "";
	height: 8px;
	left: 50%;
	margin-left: -13px;
	position: absolute;
	top: -8px;
	width: 17px;
}
#header-basket-list li
{
	background: #fff;
	color: #000;
	margin-bottom: 1px;
	padding: 12px 3px 9px 60px;
	position: relative;
}
#header-basket-list li .hblo-total,#header-basket-list li dt,#header-basket-list li dd
{
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 0;
}
#header-basket-list li .hblo-total a,#header-basket-list li dt a,#header-basket-list li dd a
{
	color: #000;
}
#header-basket-list li dd
{
	font-family: "OpenSansRegular";
}
#header-basket-list li.hbl-overview
{
	background: transparent;
	padding: 10px;
}
.hbl-image
{
	left: 3px;
	position: absolute;
	top: 3px;
}
.hbl-desc
{
	font-family: "OpenSansBold"!important;
}
.hbl-desc span
{
	font-family: "OpenSansRegular";
}
.hblo-total
{
	font-family: "OpenSansRegular"!important;
	font-weight: normal;
	padding-left: 50px;
}
.hblo-total .hblot-price
{
	font-family: "OpenSansBold";
	margin-left: 5px;
}
.hblo-checkout a
{
	background: #d3461e;
	color: #fff;
	display: block;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
}
.hblo-checkout a:hover
{
	text-decoration: none;
}
#cart_popup
{
	background: #fff;
	border: 0;
	box-shadow: 0px 5px 17px -5px #595959;
	left: auto;
	moz-box-shadow: 0px 5px 17px -5px #595959;
	position: absolute;
	right: 0;
	top: 0;
	webkit-box-shadow: 0px 5px 17px -5px #595959;
	width: 240px;
	z-index: 5000;
}
#cart_popup:after
{
	background: url(data:image/png;
	content: "";
	height: 8px;
	left: 50%;
	margin-left: -13px;
	position: absolute;
	top: -8px;
	width: 17px;
}
#cart_popup .title img
{
	display: none;
}
#cart_popup .title h3
{
	background: #e8e6db;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 12px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
#cart_popup .prod_image,#cart_popup .prod_info
{
	float: left;
	margin-right: 5px;
}
#cart_popup .prod_info
{
	font-size: 12px;
	font-weight: normal;
	padding-left: 5px;
	padding-top: 8px;
}
#cart_popup .prod_info h2
{
	color: #000;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
}
#cart_popup .prod_info p
{
	font-family: "OpenSansRegular";
}
#cart_popup .links
{
	display: none;
}
#cart_popup .cart_modal_popup
{
	float: left;
	padding: 3px;
	width: 234px;
}
.search-results-header
{
	padding-bottom: 20px;
	padding-left: 20px;
}
.search-results-header h2
{
	color: #000;
	font-family: "BodoniXTRegular";
	font-weight: normal;
	line-height: 30px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.search-results-header .searchSpellingSuggestionPrompt
{
	color: #000;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 5px;
}
.search-results-header .searchSpellingSuggestionPrompt a
{
	color: #000;
}
#hpw-newsletter input
{
	background: #fff;
	border: 0;
	font-family: "OpenSansRegular";
}
#hpw-newsletter .btn
{
	display: none;
}
.order-history-wrapper .prod_refine
{
	float: left;
	left: 20px;
	margin-bottom: 20px;
	overflow: visible;
	padding: 0;
	position: relative;
	width: 660px;
}
.order-history-wrapper .prod_refine h3
{
	color: #000;
	float: left;
	font-family: "OpenSansBold";
	font-size: 14px;
	font-weight: normal;
	left: -20px;
	position: relative;
}
.order-history-wrapper .show-all-link,.order-history-wrapper ul.pager a.nextpage,.order-history-wrapper ul.pager
{
	display: block!important;
}
.order-history-wrapper .show-all-link
{
	color: #000;
	font-size: 12px;
	margin: 0 10px 0 0;
	padding: 0;
	text-decoration: underline;
}
.order-history-wrapper .sortOptions
{
	font-size: 12px;
	margin-right: 10px;
}
.order-history-wrapper ul.pager
{
	clear: none;
	padding: 0;
}
.order-history-wrapper ul.pager li
{
	margin-right: 10px;
}
.order-history-wrapper ul.pager li a
{
	color: #000;
	margin-left: 0;
	padding: 0;
	text-decoration: underline;
}
.order-history-wrapper .nextpage
{
	padding: 0;
}
.order-history-wrapper form
{
	float: left;
}
.order-history-wrapper .garcia-pager-right
{
	float: right;
}
.checkout-totals
{
	border-bottom: 1px solid #000;
	float: left;
	margin-bottom: 40px;
	padding-bottom: 10px;
	width: 250px;
}
.checkout-totals h2
{
	color: #000;
	font-family: "BodoniXTRegular";
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.checkout-totals dt,.checkout-totals dd
{
	color: #000;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 15px!important;
}
.checkout-totals dt.subtotal,.checkout-totals dd.subtotal
{
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 15px!important;
}
.checkout-totals dt.savings,.checkout-totals dd.savings
{
	color: #d3461e;
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 15px!important;
}
.checkout-totals dt.total,.checkout-totals dd.total
{
	border-bottom: 1px solid #000;
	border-top: 2px solid #000;
	font-family: "OpenSansRegular";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: 21px!important;
	margin: 15px 0 8px 0;
	padding: 20px 0;
	width: 50%;
}
.checkout-totals dd
{
	float: right;
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 15px!important;
}
.checkout-totals dd.total
{
	font-family: "OpenSansBold";
	font-size: 18px!important;
	font-weight: normal!important;
	line-height: 21px!important;
	text-align: right;
}
.checkout-totals dt
{
	clear: both;
}
.checkout-totals p
{
	clear: both;
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.we-are-cool
{
	background: #c7c6c1;
	height: 50px;
	overflow: hidden;
	width: 840px;
}
.we-are-cool h2
{
	background: url(data:image/png;
	border-left: 1px solid #fff;
	color: #fff;
	float: left;
	font-size: 18px;
	height: 50px;
	padding-left: 38px;
	width: 240px;
}
.we-are-cool .checkout-banner
{
	border-bottom: 1px solid #e6e6e4;
	display: block;
	float: left;
	height: 50px;
	overflow: hidden;
	width: 279px;
}
.we-are-cool .checkout-banner header
{
	height: 75px;
	overflow: hidden;
}
.we-are-cool .checkout-banner header h2
{
	color: #fff;
	font-family: "OpenSansBold";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: 14px!important;
	padding-top: 18px;
	text-transform: uppercase;
}
.we-are-cool .checkout-banner header h3
{
	display: none;
}
.we-are-cool .checkout-banner p
{
	font-size: 14px;
	padding-top: 5px;
}
.we-are-cool .checkout-banner .cb-image
{
	margin-top: 15px;
}
.mycart-h2
{
	color: #25282a;
	font-family: "OpenSansBold";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: 14px!important;
	text-transform: uppercase;
}
#your_cart .skip
{
	display: none;
}
#your_cart th
{
	border-bottom: 1px solid #000;
	color: #9e9d98;
	font-family: "OpenSansRegular";
	font-size: 10px!important;
	font-weight: normal!important;
	line-height: 15px!important;
	text-transform: uppercase;
}
#your_cart th:first-child
{
	text-indent: -999em;
}
#your_cart td
{
	border: 0;
	border-bottom: 1px solid #e6e6da;
}
#your_cart .product_details h2
{
	float: left;
	font-family: "BodoniXTRegular";
	font-size: 24px!important;
	font-weight: normal!important;
	line-height: 24px!important;
	margin-left: 15px;
	max-width: 270px;
	text-transform: uppercase;
	word-break: break-word;
}
#your_cart .product_details h2 a
{
	color: #000;
	text-decoration: none;
}
#your_cart .cart-prod-attributes
{
	border-left: 1px solid #e6e6da;
	float: right;
	min-height: 50px;
	padding-left: 10px;
	padding-top: 10px;
	width: 110px;
}
#your_cart .cart-prod-attributes dt
{
	clear: both;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 10px!important;
	font-weight: normal!important;
	line-height: 15px!important;
	min-width: 55px;
	text-transform: uppercase;
}
#your_cart .cart-prod-attributes dd
{
	float: left;
	font-family: "OpenSansBold";
	font-size: 10px!important;
	font-weight: normal!important;
	line-height: 15px!important;
	text-transform: uppercase;
}
#your_cart .cart-new-price,#your_cart .cart-old-price
{
	color: #9e9d98;
	display: block;
	font-family: "OpenSansRegular";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: auto!important;
	text-decoration: line-through;
}
#your_cart .cart-new-price
{
	color: #000;
}
#your_cart .total
{
	color: #000;
	font-family: "OpenSansBold";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: auto!important;
	text-transform: uppercase;
}
#your_cart .cart-update,#your_cart .my-cart-qty
{
	background: #f5f4f0;
	border: 0;
	color: #000;
	display: block;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 10px!important;
	font-weight: normal!important;
	height: 25px;
	line-height: 25px;
	line-height: auto!important;
	padding: 0 8px;
	text-align: center;
}
#your_cart .cart-update
{
	background: #c7c6c1;
	color: #fff;
	text-transform: uppercase;
}
#your_cart .my-cart-remove
{
	background: url(data:image/png;
	display: block;
	height: 13px;
	left: 320px;
	position: relative;
	text-indent: -999em;
	top: 4px;
	width: 13px;
}
#your_cart .product_image
{
	float: left;
}
.cart-promotions-potential
{
	background: transparent;
	border: 0;
	color: #d3461e;
	font-size: 13px;
	padding: 0;
}
.cart-promo-description
{
	float: left;
	min-height: 1px;
	padding-left: 70px;
	width: 285px;
}
.cart-promotions-applied
{
	background: transparent;
	color: #d3461e;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 10px!important;
	font-weight: normal!important;
	line-height: auto!important;
	padding: 0;
}
.cart-promos-cell
{
	border: 0!important;
	padding: 5px 0 10px 0;
}
.cart-promo-summary
{
	float: left;
}
.cart-promo-summary li,.cart-promo-summary span
{
	clear: both;
	font-weight: normal;
}
.cart-promo-description .cart-promotions-potential
{
	font-family: "OpenSansBold";
	font-size: 10px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.checkout-deliveries-horizontal
{
	padding-top: 0;
}
.checkout-deliveries-horizontal .delivery_method_item
{
	border: 0!important;
}
.checkout-deliveries-horizontal .delivery_method_item.active .dm-cost,.checkout-deliveries-horizontal .delivery_method_item:hover .dm-cost,.checkout-deliveries-horizontal .delivery_method_item.active .dm-checkbox label,.checkout-deliveries-horizontal .delivery_method_item:hover .dm-checkbox label,.checkout-deliveries-horizontal .delivery_method_item.active .dm-description,.checkout-deliveries-horizontal .delivery_method_item:hover .dm-description
{
	color: #000;
}
.checkout-deliveries-horizontal .delivery_method_item .dm-cost,.checkout-deliveries-horizontal .delivery_method_item .dm-checkbox label,.checkout-deliveries-horizontal .delivery_method_item .dm-description
{
	color: #ddd;
}
.checkout-deliveries-horizontal .delivery_method_item .dm-cost
{
	clear: both;
	padding: 0;
	padding-top: 5px;
	width: auto;
}
.checkout-deliveries-horizontal .delivery_method_item .dm-checkbox
{
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: left;
	width: 240px;
}
.checkout-deliveries-horizontal .delivery_method_item .dm-checkbox input
{
	top: 0;
}
.checkout-deliveries-horizontal .delivery_method_item .dm-checkbox label
{
	background: transparent;
	display: inline;
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-weight: normal!important;
	height: auto;
	line-height: auto!important;
	position: relative;
	top: -3px;
}
.checkout-deliveries-horizontal .delivery_method_item .dm-description
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 18px!important;
	padding-top: 0;
}
.cart-middle-row
{
	float: left;
	padding: 0;
	width: 100%;
}
.cart-middle-row .cmr-left
{
	float: left;
}
.cart-middle-row .cmr-right
{
	float: right;
}
.cart-form-buttons
{
	float: left;
	margin-top: 10px;
	width: 100%;
}
.checkout-banners-horizontal
{
	border-top: 1px solid #e6e6e4;
	float: left;
	margin-top: 31px;
	padding-top: 20px;
	width: 840px;
}
.checkout-banners-horizontal .checkout-banner
{
	float: left;
	margin-left: 44px;
}
.checkout-banners-horizontal .checkout-banner:first-child
{
	margin-left: 0;
}
.checkout-banner
{
	border-bottom: 1px solid #e6e6e4;
	display: block;
	height: 195px;
	overflow: hidden;
	width: 250px;
}
.checkout-banner header
{
	overflow: hidden;
}
.checkout-banner header h2
{
	color: #000;
	font-family: "BodoniXTRegular";
	font-size: 20px!important;
	font-weight: normal!important;
	line-height: 20px!important;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.checkout-banner header h3
{
	color: #000;
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 18px!important;
	margin: 0;
	padding-bottom: 5px;
}
.checkout-banner p
{
	color: #000;
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 18px!important;
	margin: 0;
	padding: 0;
}
.checkout-banner .cb-image
{
	margin-top: 15px;
}
.checkout-h2
{
	color: #000;
	font-family: "BodoniXTRegular";
	font-size: 30px!important;
	font-weight: normal!important;
	line-height: 30px!important;
	padding-bottom: 30px;
	text-transform: uppercase;
}
.h3-selector
{
	color: #9e9d98!important;
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 12px!important;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.checkout-h3
{
	color: #000!important;
	font-family: "OpenSansBold";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: 12px!important;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.delivery_method_item
{
	border-bottom: 1px solid #000;
	float: left;
	min-height: 50px;
	width: 100%;
}
.delivery_method_item:first-child
{
	border-top: 1px solid #000;
}
.delivery_method_item span
{
	display: block;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: auto!important;
	padding-top: 15px;
}
.delivery_method_item .dm-checkbox
{
	font-family: "OpenSansBold";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: 18px!important;
	min-width: 150px;
}
.delivery_method_item .dm-checkbox input
{
	margin-right: 5px;
}
.delivery_method_item .dm-description
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
	margin-left: 20px;
}
.delivery_method_item .dm-cost
{
	float: right;
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.delivery_method_list
{
	float: left;
	margin-bottom: 50px;
	width: 100%;
}
.checkout-store-locator
{
	float: left;
	width: 100%;
}
.checkout-store-locator .garcia-form-row dt .mandatory
{
	display: none;
}
.checkout-store-locator .garcia-form-row dd
{
	float: left;
	margin-left: 20px;
}
.checkout-store-locator #storeFinderForm
{
	float: left;
	position: relative;
	width: 569px;
}
.checkout-sl-map
{
	float: left;
	margin-top: 20px;
}
.checkout-sl-map .store_map
{
	height: 350px!important;
	width: 570px;
}
.checkout-sl-table
{
	float: left;
	width: 100%;
}
.checkout-sl-table table
{
	border: 0!important;
	width: 100%!important;
}
.checkout-sl-table table th
{
	border: 0!important;
	border-bottom: 1px solid #000!important;
	color: #a5a5a5!important;
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 12px!important;
}
.checkout-sl-table table td
{
	border: 0!important;
	border-bottom: 1px solid #ddd!important;
}
.checkout-sl-table table td .sl-marker
{
	top: 10px;
}
.checkout-sl-table table td .view-map-link
{
	display: none;
}
.checkout-sl-table table .slt-store-cell h2 a
{
	color: #000;
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 15px!important;
	text-decoration: none!important;
}
.checkout-sl-table .make-relative-td
{
	padding: 0 10px!important;
}
.add-new-address
{
	width: 196px;
}
.add-new-address a
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: 12px!important;
	position: relative;
	top: -5px;
}
.delivery-address-cells-wrapper
{
	width: 100%;
}
.delivery-address-cells-wrapper .delivery-address-cell
{
	width: 295px;
}
.dac-details
{
	min-height: 1px!important;
}
.dac-details li
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.dac-details li:first-child
{
	color: #000;
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
	padding-bottom: 5px;
}
.dac-details li:first-child strong
{
	font-weight: normal;
}
.li-edit a
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.payment-method-list form
{
	width: 100%;
}
.add-new-address
{
	float: right;
	text-align: right!important;
}
.payment-options h2
{
	color: #000;
	font-family: "OpenSansBold";
	font-size: 16px!important;
	font-weight: normal!important;
	line-height: auto!important;
	text-transform: uppercase;
}
.gjc-payment-item label
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.place-order-bottom
{
	width: 100%;
}
#cart_items_tbody .quantity span
{
	font-family: "OpenSansRegular";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.order-items-table
{
	float: left;
	width: 100%;
}
.order-items-table .title>h2
{
	display: none;
}
.cart_id
{
	color: #000;
	font-family: "OpenSansBold";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.deliverymode-description
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
#your_cart .cart-new-price
{
	text-decoration: none!important;
}
.zoom_lightbox
{
	overflow-x: scroll!important;
}
#your_cart .product_details
{
	width: 470px;
}
.order-description h2
{
	color: #000;
	font-family: "OpenSansBold";
	font-size: 16px!important;
	font-weight: normal!important;
	line-height: auto!important;
	text-transform: uppercase;
}
.order-description p
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.order-description p strong
{
	color: #9e9e98;
	font-family: "OpenSansBold";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.basket-prices
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.basket-old-price,.basket-new-price
{
	color: #000;
	display: block;
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.basket-old-price
{
	color: #9e9d98;
	text-decoration: line-through;
}
.jc-button
{
	font-family: "OpenSansBold";
	font-size: 13px!important;
	font-weight: normal!important;
	line-height: auto!important;
	text-transform: uppercase;
}
.order-detail-page .checkout-summary-flow
{
	margin-left: 0!important;
}
td.quantity
{
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.garcia-address
{
	font-family: "OpenSansRegular";
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.garcia-address a
{
	color: #000;
}
.choose-delivery-address #chooseDeliveryMethod_continue_button
{
	clear: both;
	float: right;
	margin-right: 0;
}
.choose-delivery-address #selectDeliveryMethodForm
{
	float: left;
	margin-bottom: 10px;
	width: 100%;
}
.empty-search
{
	background: #fff;
	margin-bottom: 20px;
	padding: 20px;
	width: 900px;
}
.empty-search .searchSpellingSuggestionPrompt
{
	color: #000;
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.empty-search .searchSpellingSuggestionPrompt a
{
	color: #000;
	font-family: "OpenSansRegular";
	font-size: 12px!important;
	font-weight: normal!important;
	line-height: auto!important;
}
.hidden-reviews
{
	height: 0px;
	visibility: hidden;
}
@font-face
{
	font-family: 'BodoniXTRegular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/bodonixt-webfont.eot');
	src: url('../fonts/bodonixt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bodonixt-webfont.woff') format('woff'), url('../fonts/bodonixt-webfont.ttf') format('truetype'), url('../fonts/bodonixt-webfont.svg#bodonixtregular') format('svg');
}
@font-face
{
	font-family: 'OpenSansBold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/open-sans.bold-webfont.eot');
	src: url('../fonts/open-sans.bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans.bold-webfont.woff') format('woff'), url('../fonts/open-sans.bold-webfont.ttf') format('truetype'), url('../fonts/open-sans.bold-webfont.svg#open_sansbold') format('svg');
}
@font-face
{
	font-family: 'OpenSansRegular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/open-sans.regular-webfont.eot');
	src: url('../fonts/open-sans.regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans.regular-webfont.woff') format('woff'), url('../fonts/open-sans.regular-webfont.ttf') format('truetype'), url('../fonts/open-sans.regular-webfont.svg#open_sansregular') format('svg');
}
#main-nav>ul
{
	float: left;
	height: 30px;
	left: 133px;
	padding-left: 30px;
	position: absolute;
	top: 24px;
}
#main-nav>ul>li
{
	display: block;
	float: left;
	font-size: 12px;
	height: 30px;
	margin-right: 30px;
	text-transform: uppercase;
}
#main-nav>ul>li>a
{
	color: #fff;
	display: block;
	float: left;
	font-family: "OpenSansBold",Verdana,Tahoma,Arial,sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 10px;
	text-decoration: none;
}
#main-nav>ul>li>a:hover
{
	color: #9e9d98;
}
#main-nav>ul>li
{
	padding-bottom: 6px;
}
#main-nav>ul>li:hover
{
	background: url(data:image/png;
}
#main-nav>ul>li>ul.Lb
{
	background: #e8e6db;
	box-shadow: 6px 13px 29px -15px #7e7e7e;
	color: #333;
	float: left;
	left: -999em;
	margin-top: 0;
	moz-box-shadow: 6px 13px 29px -15px #7e7e7e;
	padding: 20px;
	text-transform: none;
	top: 36px;
	webkit-box-shadow: 6px 13px 29px -15px #7e7e7e;
	width: 760px;
}
#main-nav>ul>li:hover>ul.Lb
{
	left: 0;
}
#main-nav>ul>li>ul.Lb li.Lb
{
	border: 0;
	float: left;
	min-width: 120px;
	padding-bottom: 10px;
	padding-right: 15px;
}
#main-nav>ul>li>ul.Lb li.Lb .nav-submenu-title
{
	color: #25282a;
	display: block;
	font-family: "OpenSansBold";
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 10px;
}
#main-nav>ul>li>ul.Lb li.Lb:last-of-type
{
	padding-right: 0;
}
#main-nav>ul>li>ul.Lb a
{
	color: #6f6d6d;
	display: block;
	font-size: 13px;
	padding-bottom: 5px;
	padding-bottom: 6px;
	padding-left: 0px;
	text-decoration: none;
}
#main-nav>ul>li>ul.Lb a:hover
{
	color: #9e9d98;
	text-decoration: none;
}
.empty-nav-item
{
	color: #fff;
	float: left;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
ul.Lb
{
	left: -3000px;
	position: absolute!important;
	width: 0;
	z-index: 10000000;
}
li.right_edge ul.Lb
{
	right: 0;
	width: auto;
}
li.left_edge ul.Lb
{
	left: 0;
	width: auto;
}
li.Lb
{
	padding-bottom: 5px;
	padding-right: 5px;
}
#nav_main ul li li.Lb .nav-submenu-title
{
	display: block;
	padding: 10px 10px 10px 10px;
}
#nav_main ul li li.Lb a
{
	padding: 10px 10px 10px 10px;
}
li.La:hover ul.Lb,li.La a:focus+ul.Lb,li.La ul.dropdown-visible
{
	left: auto;
	width: auto;
}
.left_col
{
	clear: left;
}
ul.Lc
{
	float: left;
	min-width: 140px;
}
li.Lc
{
	clear: left;
}
#nav_main ul li.Lc.right_col
{
	float: left;
}
#nav_main ul li li.Lb li.Lc a
{
	padding: 0 0 0 10px;
}
li.Lm
{
	float: right;
}
li.Lm span
{
	color: #25282a;
	display: block;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	padding-top: 10px;
	text-transform: uppercase;
}
li.Lm span:after
{
	content: " ›";
}
@font-face
{
	font-family: 'BodoniXTRegular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/bodonixt-webfont.eot');
	src: url('../fonts/bodonixt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bodonixt-webfont.woff') format('woff'), url('../fonts/bodonixt-webfont.ttf') format('truetype'), url('../fonts/bodonixt-webfont.svg#bodonixtregular') format('svg');
}
@font-face
{
	font-family: 'OpenSansBold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/open-sans.bold-webfont.eot');
	src: url('../fonts/open-sans.bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans.bold-webfont.woff') format('woff'), url('../fonts/open-sans.bold-webfont.ttf') format('truetype'), url('../fonts/open-sans.bold-webfont.svg#open_sansbold') format('svg');
}
@font-face
{
	font-family: 'OpenSansRegular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/open-sans.regular-webfont.eot');
	src: url('../fonts/open-sans.regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans.regular-webfont.woff') format('woff'), url('../fonts/open-sans.regular-webfont.ttf') format('truetype'), url('../fonts/open-sans.regular-webfont.svg#open_sansregular') format('svg');
}
#content
{
	min-height: 500px;
	overflow: visible;
}
.jcarousel-skin .jcarousel-clip-vertical
{
	height: auto;
}
.jcarousel-skin .jcarousel-next-vertical,.jcarousel-skin .jcarousel-prev-vertical
{
	background: transparent;
}
.jcarousel-skin .jcarousel-container-vertical
{
	padding: 0;
}
#garcia-product-detail-page
{
	background: #fff;
	float: left;
	width: 940px;
}
#pdp-media
{
	background: #fff;
	float: left;
	min-height: 610px;
	position: relative;
	width: 480px;
}
#bdp-media
{
	background: #fff;
	float: left;
	min-height: 610px;
	position: relative;
	width: 460px;
}
.scroller
{
	background: transparent;
	border: 0;
	border-radius: 0;
	left: 20px;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	position: absolute;
	top: 20px;
	webkit-border-radius: 0;
}
.scroller ul li span
{
	background: transparent;
	border: 1px solid transparent;
	height: 60px;
	width: 45px;
}
.scroller ul li span:hover
{
	border: 1px solid #000;
}
.media-navigator
{
	left: 0;
	position: absolute;
	top: 0;
	z-index: 4000;
}
.media-navigator .thumb.active
{
	border: 1px solid #000;
}
.prod_image_main
{
	border: 0;
	border-radius: 0;
	height: 640px;
	margin: 0;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	padding: 0;
	webkit-border-radius: 0;
}
.prod_image_main img
{
	display: block;
	height: 640px;
	width: 479px;
}
#pdp-data
{
	float: left;
	margin: 0;
	min-height: 580px;
	padding: 30px;
	width: 400px;
}
#pdp-data .jpgic-rating
{
	margin-top: 10px;
}
#pdp-data .prod hgroup
{
	padding-top: 0;
}
#pdp-data .prod hgroup h1
{
	color: #000;
	font-family: 'BodoniXTRegular';
	font-size: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}
#pdp-data .prod hgroup h3
{
	margin: 0;
	padding: 0;
}
#pdp-data .prod hgroup h2
{
	color: #000;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
	width: 100%;
}
#pdp-facets
{
	float: left;
	margin-right: 20px;
	width: 370px;
}
.prod_add_to_cart
{
	clear: both;
	float: left;
	margin: 0 0 10px 0;
	width: 400px;
}
.prod_add_to_cart form button
{
	margin-left: 0;
}
#pdp-socials
{
	bottom: 30px;
	float: left;
	left: 20px;
	margin-top: 40px;
	position: absolute;
	width: 210px;
}
.stock_message
{
	color: #000;
	display: inline-block;
	float: left;
	font-size: 10px;
	margin: 0;
	padding: 0;
	position: relative;
	top: 7px;
	width: 200px;
	width: 400px;
}
#addToCartForm
{
	float: left;
	position: relative;
	top: -2px;
	width: 400px;
}
.prod_add_to_cart form button
{
	padding: 0 10px 0 10px;
}
#stock-inputs-wrapper
{
	float: left;
	margin-bottom: 10px;
	width: 400px;
}
.prod_add_to_cart input.qty
{
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	font-size: 12px;
	font-weight: normal;
	margin: 0px 15px;
	moz-border-radius: 0;
	moz-box-shadow: none;
	ms-border-radius: 0;
	o-border-radius: 0;
	padding: 0;
	position: relative;
	webkit-border-radius: 0;
	webkit-box-shadow: none;
}
.prod_add_to_cart label
{
	color: #000;
	display: inline-block;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	width: 85px;
}
.gc-title
{
	background: #000;
	color: #fff;
	font-size: 29px;
	font-weight: bold;
	line-height: 50px;
	margin-bottom: 20px;
	padding: 0px 0px 0px 13px;
}
.prod_review .prod_review-new
{
	color: #000;
	font-size: 13px;
	font-weight: normal;
}
.prod_review .prod_review-new a
{
	color: #000;
}
.tc-product-composition
{
	color: #000;
	float: left;
	font-size: 12px;
	width: 385px;
}
.tc-product-composition dl
{
	float: none;
}
.tc-product-composition dl dt
{
	float: none;
	font-family: "OpenSansBold";
	font-weight: normal;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.garcia-grid-item .jpgic-prices
{
	font-size: 16px;
}
.jpgic-prices
{
	color: #25282a;
	font-size: 21px;
	font-weight: bold;
}
.pdp-promotion
{
	padding: 10px 0 15px 0;
}
.pdp-promotion p
{
	color: #d3461e!important;
	font-size: 14px;
}
#prod_tabs.ui-tabs
{
	width: 420px;
}
#wrapper
{
	overflow: visible;
}
.see-size-guide
{
	display: block;
	margin-left: 0px;
	padding-top: 5px;
	position: absolute;
	right: 40px;
	top: 13px;
}
.see-size-guide a
{
	color: #25282a;
	color: #333;
	font-size: 12px;
	outline: 0;
}
.pd-guts
{
	float: left;
	padding-bottom: 30px;
	width: 100%;
}
.pd-guts p
{
	color: #000;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
.bundle_modal img
{
	display: block;
	height: 1394px;
	width: 480px;
}
.variant-section.bundle
{
	margin-bottom: 50px;
}
.variant-section.bundle img
{
	width: 176px;
}
.vi-info.bundle
{
	padding-bottom: 20px;
}
.vi-info.bundle h3,.vi-info.bundle h4,.vi-info.bundle p
{
	color: #000;
	font-family: Arial,sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.vi-info.bundle p
{
	font-weight: normal;
}
.vf-row.bundle
{
	padding-left: 99px;
}
#pdp-socials.bundle
{
	bottom: -15px;
	float: left;
	left: 20px;
	margin-top: 40px;
	position: absolute;
	width: 210px;
}
.bundle-total-price
{
	float: left;
	width: 185px;
}
.bundle-total-price .total-price-label
{
	color: #000;
	font-family: Arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 185px;
}
#bdp-media.bundle
{
	width: 480px;
}
#pdp-add-button
{
	float: left;
	font-family: "OpenSansBold";
	font-size: 12px;
	font-weight: normal;
	height: 40px;
	letter-spacing: 0;
	line-height: 40px;
	margin: 5px 0 0 0;
	padding: 0 15px;
	text-transform: uppercase;
}
.pf-row label
{
	clear: left;
	color: #000;
	float: left;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	min-width: 100px;
}
.pf-row label:after
{
	content: ": ";
}
.pf-row.facetz
{
	clear: both;
	color: #141312;
	float: left;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 10px;
	width: 390px;
}
.pf-row.facetz>em
{
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	min-width: 97px;
	text-transform: capitalize;
}
.pf-row.facetz>label
{
	font-weight: normal;
	text-transform: capitalize;
}
#pdp-facets select
{
	background: #eee;
	border: 1px solid #ddd;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	height: 28px;
	margin: 0 0 5px 0;
	width: 130px;
}
#zoomLink
{
	bottom: 3px;
	float: left;
	height: 40px;
	left: -1px;
	position: absolute;
	width: 50px;
}
.write_review dl dd
{
	line-height: 10px;
	margin-bottom: 12px;
	padding: 0;
	padding-left: 0!important;
	top: auto;
}
.write_review dl dd input[type="text"]
{
	left: 0;
	margin: 0;
}
.write_review dl dd textarea
{
	height: auto!important;
	top: 0;
}
.write_review dl dt
{
	margin: 0;
	margin-top: 0;
	padding: 0;
}
#stars-wrapper
{
	float: left;
	margin-bottom: 14px;
}
.review_detail h3,.write_review h3
{
	padding-bottom: 0;
}
.prod-content
{
	padding: 15px 10px;
}
.prod_review
{
	display: none;
}
.pdp-prices
{
	float: left;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 20px;
	width: 380px;
}
.pdp-prices .old-price
{
	color: #9e9d98;
	text-decoration: line-through;
}
.pdp-prices .new-price
{
	font-family: "OpenSansBold";
}
#prod_tabs
{
	float: left;
	left: -10px;
	margin: 0;
	overflow: visible;
	position: relative;
}
#prod_tabs #tabs-content
{
	background: #f6f5f1;
	left: 0px;
	position: absolute;
	top: 30px;
	width: 415px;
	z-index: 5000;
}
#prod_tabs #tabs-content li
{
	border: 0;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	padding: 20px;
}
#prod_tabs.ui-tabs .ui-tabs-nav
{
	float: left;
	height: 30px;
	overflow: hidden;
}
#prod_tabs.ui-tabs .ui-tabs-nav li
{
	border: 0;
	cursor: pointer;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin: 0 5px 0 0;
	min-height: 0;
	padding: 0;
	width: auto;
}
#prod_tabs.ui-tabs .ui-tabs-nav li a
{
	background: url(data:image/png;
	color: #9e9d98;
	cursor: pointer!important;
	display: block;
	float: left;
	font-family: "OpenSansRegular";
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 30px;
	padding: 0 20px 0 8px;
	padding-right: 20px;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
}
#prod_tabs.ui-tabs .ui-tabs-nav .ui-state-hover,#prod_tabs.ui-tabs .ui-tabs-nav .ui-state-active
{
	background: #f6f5f1;
}
#prod_tabs.ui-tabs .ui-tabs-nav li a.tab_03
{
	background: transparent;
}
#prod_tabs.ui-tabs .ui-tabs-nav li:first-child,#prod_tabs.ui-tabs .ui-tabs-nav li:last-child
{
	border-radius: 0;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	webkit-border-radius: 0;
	width: auto;
}
#prod_tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
	background: #f6f5f1;
}
#prod_tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected a
{
	background: #f6f5f1 url(data:image/png;
	color: #000;
	cursor: pointer!important;
}
.prod_image_main span.details
{
	height: 23px!important;
	width: 23px!important;
}
.prod_add_to_cart label
{
	padding-top: 0;
}