.shop-left {
  background: #fff;
  width: 560px;
  float: left;
  position: relative;
  min-height: 610px;
}
.shop-right {
  float: left;
  padding: 30px;
  margin: 0;
  width: 400px;
  min-height: 550px;
}
.smallpic {
  width: 97px;
  height: 97px;
  border: #AAA solid 2px;
  border-radius: 6px;
  overflow: hidden;
  margin: 1px;
  float: left;
}
.pics {
    padding-top: 30px;
}