


/* Start:/bitrix/templates/.default/css/main.css*/
@font-face {
  src: url('/bitrix/templates/.default/css/../fonts/AGOptCyrillic.eot');
  src: url('/bitrix/templates/.default/css/../fonts/AGOptCyrillic.eot?#iefix') format('embedded-opentype'), url('/bitrix/templates/.default/css/../fonts/AGOptCyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  width: 100%;
  height: 100%;
  background: #fff;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #3c3a3a;
  font: normal 11px/17px 'PT Sans', Arial, Helvetica;
}
img {
  display: block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
}
.content-center {
  width: 992px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
h1 {
  color: #3c3a3a;
  font: 26px/26px AGOptCyrillic, Arial, Helvetica;
  margin: 24px 0 24px 0;
  word-spacing: 5px;
}
p {
  margin: 0.5em 0;
}
a {
  color: #81807f;
  text-decoration: none;
}
a:hover,
a:active,
afocus {
  color: #3c3a3a;
  text-decoration: none;
}
a.link-help {
  text-decoration: underline;
  padding: 0;
  display: inline-block;
  font: 11px/19px 'PT Sans', Arial, Helvetica;
  color: #3c3a3a;
}
a.link-help span {
  display: inline-block;
  background: transparent url('/bitrix/templates/.default/css/../img/link-help.png') 0 -2px no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
}
a.link-help:hover,
a.link-help:active,
a.link-help:focus {
  text-decoration: none;
  color: #3c3a3a;
}
a.link-help.no-mark {
  background: none;
  padding: 0;
}
a.dark {
  color: #3c3a3a;
  text-decoration: none;
}
a.dark:hover,
a.dark:active,
a.darkfocus {
  color: #81807f;
  text-decoration: none;
}
p.asterik {
  padding: 0 0 0 19px;
  background: transparent url('/bitrix/templates/.default/css/../img/link-help.png') 0 -34px no-repeat;
}
body .errortext {
  color: #d90000 !important;
}
body .notetext {
  color: #00d900 !important;
}
.valign-container {
  display: table;
  height: 100%;
}
.valign-container .valign-content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.form .form-line {
  margin: 10px 0 0 0;
  width: 100%;
}
.form .form-line .link-help {
  line-height: 27px;
}
.form.authorize,
.form.forgot-password,
.form.change-password,
.form.register {
  width: 240px;
}
.form.authorize input[type="text"],
.form.authorize input[type="password"],
.form.forgot-password input[type="text"],
.form.forgot-password input[type="password"],
.form.change-password input[type="text"],
.form.change-password input[type="password"],
.form.register input[type="text"],
.form.register input[type="password"] {
  width: 226px;
}
.form.authorize .buttons-line,
.form.forgot-password .buttons-line,
.form.change-password .buttons-line,
.form.register .buttons-line {
  margin: 8px 0 0 0;
}
.form.profile {
  width: 336px;
}
.form.profile input[type="text"],
.form.profile input[type="password"] {
  width: 226px;
}
.form.profile .field-name {
  width: 96px;
  float: left;
}
.form.profile .field-input {
  width: 240px;
  float: left;
}
.form.callback {
  width: 232px;
}
.form.callback input[type="text"] {
  width: 218px;
}
.form.feedback {
  width: 496px;
}
.form.feedback .block-contacts {
  margin: 0 0 8px 0;
  width: 100%;
}
.form.feedback .block-text {
  width: 100%;
}
.form.feedback input[name="NAME"] {
  width: 146px;
  margin: 0 0 0 0;
  float: left;
}
.form.feedback input[name="EMAIL"] {
  width: 146px;
  margin: 0 0 0 10px;
  float: left;
}
.form.feedback input[name="PHONE"] {
  width: 146px;
  margin: 0;
  float: right;
}
.form.feedback textarea[name="TEXT"] {
  width: 482px;
  height: 80px;
}
input[type="text"],
input[type="password"],
textarea {
  padding: 4px 6px;
  border: 1px solid #c4c4c4;
  color: #3c3a3a;
  font: 11px/17px 'PT Sans', Arial, Helvetica;
}
input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active,
textarea:focus,
textarea:active {
  border-color: #81807f;
  color: #3c3a3a;
}
input[type="text"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
  color: #81807f;
}
input[type="checkbox"],
input[type="radio"] {
  border: 1px solid #c4c4c4;
  margin: 0 4px 0 0;
  position: relative;
  top: 2px;
}
button,
a.button {
  color: #fff;
  background: #9f948e;
  font: 9px/25px 'PT Sans', Arial, Helvetica;
  border: none;
  padding: 1px 9px;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
}
button:hover,
button:active,
buttonfocus,
a.button:hover,
a.button:active,
a.buttonfocus {
  color: #fff;
  background: #92847d;
}
button.light,
a.button.light {
  color: #615d5b;
  background: #f5f4f3;
}
button.light:hover,
button.light:active,
button.lightfocus,
a.button.light:hover,
a.button.light:active,
a.button.lightfocus {
  color: #615d5b;
  background: #ebebeb;
}
.top-menu {
  width: 100%;
  font: 12px/24px 'PT Sans', Arial, Helvetica;
  color: #81807f;
}
.top-menu a.l1 {
  font: 12px/24px 'PT Sans', Arial, Helvetica;
  color: #81807f;
  text-decoration: none;
  white-space: nowrap;
}
.top-menu a.l1:hover {
  color: #3c3a3a;
}
.top-menu a.l1.bold {
  font-weight: bold;
}
.top-menu a.l1.uppercase {
  text-transform: uppercase;
}
.top-menu span.l1 {
  font: 12px/24px 'PT Sans', Arial, Helvetica;
  color: #81807f;
  text-decoration: none;
  white-space: nowrap;
}
.top-menu span.l1.bold {
  font-weight: bold;
}
.top-menu span.l1.uppercase {
  text-transform: uppercase;
}
.top-menu a.l2 {
  font: 12px/24px 'PT Sans', Arial, Helvetica;
  color: #81807f;
  text-decoration: none;
  float: left;
  clear: both;
  white-space: nowrap;
}
.top-menu a.l2:hover,
.top-menu a.l2:focus,
.top-menu a.l2:active {
  color: #3c3a3a;
}
.top-menu .top-menu-left {
  float: left;
  width: 400px;
}
.top-menu .top-menu-left .menu-item {
  float: left;
  margin: 0 34px 0 0;
}
.top-menu .top-menu-right {
  float: right;
  width: 400px;
}
.top-menu .top-menu-right .menu-item {
  float: right;
  margin: 0 0 0 34px;
}
.top-menu .menu-item {
  position: relative;
}
.top-menu .menu-item.sub a.l1,
.top-menu .menu-item.sub span.l1 {
  padding: 0 8px 0 0;
  background: transparent url(/bitrix/templates/.default/img/menu-arrow.png) 100% -9px no-repeat;
}
.top-menu .menu-item.sub .sub-menu {
  display: none;
  background: #fff;
  position: absolute;
  left: -15px;
  top: 24px;
  z-index: 50;
  padding: 0 14px 10px 14px;
  border: 1px solid #ebebeb;
  border-top: none;
}
.catalog-menu-container {
  position: relative;
  width: 100%;
}
.catalog-menu {
  width: 100%;
  font: 14px/27px AGOptCyrillic, Arial, Helvetica;
  color: #81807f;
  min-height: 27px;
  border-bottom: 1px solid #ebebeb;
  margin: 0;
  text-align: center;
  background: #fff;
}
.catalog-menu a.l1 {
  font: 14px/27px AGOptCyrillic, Arial, Helvetica;
  color: #81807f;
  text-decoration: none;
  white-space: nowrap;
}
.catalog-menu a.l1:hover,
.catalog-menu a.l1:focus,
.catalog-menu a.l1:active {
  color: #3c3a3a;
}
.catalog-menu a.l2 {
  font: 12px/26px 'PT Sans', Arial, Helvetica;
  color: #81807f;
  text-decoration: none;
  float: left;
  clear: both;
  white-space: nowrap;
}
.catalog-menu a.l2:hover,
.catalog-menu a.l2:focus,
.catalog-menu a.l2:active {
  color: #3c3a3a;
}
.catalog-menu .menu-item {
  display: inline-block;
  margin: 0 37px 0 0;
  position: relative;
}
.catalog-menu .menu-item.sub {
  margin-right: 34px;
}
.catalog-menu .menu-item.sub a.l1 {
  padding: 0 8px 0 0;
  background: transparent url(/bitrix/templates/.default/img/menu-arrow.png) 100% -10px no-repeat;
}
.catalog-menu .menu-item.sub a.l1:hover {
  background-position: 100% -43px;
}
.catalog-menu .menu-item.sub .sub-menu {
  display: none;
  background: #fff;
  position: absolute;
  left: -14px;
  top: 27px;
  z-index: 50;
  padding: 6px 14px 10px 14px;
  border: 1px solid #ebebeb;
}
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font: 12px/29px 'PT Sans', Arial, Helvetica;
  color: #e0d7d2;
  word-spacing: 2px;
}
.footer-menu a {
  font: 12px/29px 'PT Sans', Arial, Helvetica;
  color: #e0d7d2;
  text-decoration: none;
}
.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active {
  color: #fff;
}
.left-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.left-menu li a {
  font: 12px/26px 'PT Sans', Arial, Helvetica;
  color: #81807f;
  text-decoration: none;
  white-space: nowrap;
}
.left-menu li a:hover {
  color: #3c3a3a;
}
.catalog-list {
  width: 100%;
}
.catalog-list .catalog-list-item {
  width: 196px;
  float: left;
  margin: 0 0 5px 3px;
}
.catalog-list .catalog-list-item.hidden {
  display: none;
}
.catalog-list .catalog-list-item.first {
  margin-left: 0;
}
.catalog-list .catalog-list-item .img {
  width: 196px;
  height: 321px;
  overflow: hidden;
  position: relative;
}
.catalog-list .catalog-list-item .img .color-container {
  display: none;
}
.catalog-list .catalog-list-item .img .img1 {
  position: absolute;
  z-index: 10;
  background: #fff;
  width: 196px;
  height: 321px;
}
.catalog-list .catalog-list-item .img .img2 {
  position: absolute;
  z-index: 5;
  background: #fff;
  width: 196px;
  height: 321px;
}
.catalog-list .catalog-list-item .info {
  width: 196px;
  overflow: hidden;
}
.catalog-list .catalog-list-item .info .info-title {
  text-align: center;
  font: 10px/19px AGOptCyrillic, Arial, Helvetica;
  color: #3c3a3a;
  margin: 3px 0 0 0;
  word-spacing: 2px;
}
.catalog-list .catalog-list-item .info .info-title a {
  color: #3c3a3a;
  text-decoration: none;
}
.catalog-list .catalog-list-item .info .info-title a:hover,
.catalog-list .catalog-list-item .info .info-title a:focus,
.catalog-list .catalog-list-item .info .info-title a:active {
  color: #81807f;
  text-decoration: none;
}
.catalog-list .catalog-list-item .info .colors {
  width: 100%;
  text-align: center;
  margin: 6px 0 0;
}
.catalog-list .catalog-list-item .info .colors a {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ebebeb;
  margin: 1px;
}
.catalog-list .catalog-list-item .info .colors a.selected {
  border: 2px solid #81807f;
  margin: 0;
}
.catalog-list .catalog-list-item .info .line {
  background: transparent url('/bitrix/templates/.default/css/../img/catalog-list-item-line.png') 50% 50% no-repeat;
  width: 100%;
  height: 7px;
  margin: 3px 0 3px 0;
}
.catalog-list .catalog-list-item .info .price {
  text-align: center;
  font: 9px/17px 'PT Sans', Arial, Helvetica;
  color: #81807f;
}
.catalog-list .catalog-list-item .remove-from-favorites-list {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  background: transparent url('/bitrix/templates/.default/css/../img/close.png') 0 0 no-repeat;
  z-index: 100;
}
.catalog-list .catalog-list-item .remove-from-favorites-list:hover,
.catalog-list .catalog-list-item .remove-from-favorites-list:focus,
.catalog-list .catalog-list-item .remove-from-favorites-list:active {
  background-position: 0 -25px;
}
.catalog-list.narrow .catalog-list-item {
  margin-left: 14px;
}
.catalog-list.narrow .catalog-list-item.first {
  margin-left: 0;
}
.catalog-more {
  width: 100%;
  position: relative;
  height: 24px;
  text-align: center;
  padding: 10px 0;
}
.catalog-more .line {
  width: 100%;
  height: 1px;
  background: #ebebeb;
  position: absolute;
  left: 0;
  top: 21px;
}
.catalog-more .button-container {
  display: inline-block;
  background: #fff;
  position: relative;
}
.catalog-more .button-container .button-more {
  font: 9px/22px 'PT Sans', Arial, Helvetica;
  color: #81807f;
  text-decoration: none;
  padding: 0 8px;
}
.catalog-more .button-container .button-more:hover,
.catalog-more .button-container .button-more:focus,
.catalog-more .button-container .button-more:active {
  color: #3c3a3a;
  text-decoration: none;
}
.catalog-line-6 .catalog-line-item {
  width: 162px;
  float: left;
  margin: 0 0 0 4px;
}
.catalog-line-6 .catalog-line-item.first {
  margin-left: 0;
}
.catalog-line-6 .catalog-line-item .img {
  width: 162px;
  height: 269px;
  overflow: hidden;
  position: relative;
}
.catalog-line-6 .catalog-line-item .img .color-container {
  display: none;
}
.catalog-line-6 .catalog-line-item .img .img1 {
  position: absolute;
  z-index: 10;
  background: #fff;
  width: 162px;
  height: 269px;
}
.catalog-line-6 .catalog-line-item .img .img2 {
  position: absolute;
  z-index: 5;
  background: #fff;
  width: 162px;
  height: 269px;
}
.catalog-line-6 .catalog-line-item .info {
  width: 162px;
  overflow: hidden;
}
.catalog-line-6 .catalog-line-item .info .info-title {
  text-align: center;
  font: 10px/19px AGOptCyrillic, Arial, Helvetica;
  color: #3c3a3a;
  margin: 2px 0 0 0;
  word-spacing: 2px;
}
.catalog-line-6 .catalog-line-item .info .info-title a {
  color: #3c3a3a;
  text-decoration: none;
}
.catalog-line-6 .catalog-line-item .info .info-title a:hover,
.catalog-line-6 .catalog-line-item .info .info-title a:focus,
.catalog-line-6 .catalog-line-item .info .info-title a:active {
  color: #81807f;
  text-decoration: none;
}
.catalog-line-6 .catalog-line-item .info .colors {
  width: 100%;
  text-align: center;
  margin: 6px 0 0;
}
.catalog-line-6 .catalog-line-item .info .colors a {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ebebeb;
  margin: 1px;
}
.catalog-line-6 .catalog-line-item .info .colors a.selected {
  border: 2px solid #81807f;
  margin: 0;
}
.catalog-product {
  margin: 28px 0 0 0;
  width: 100%;
}
.catalog-product .images {
  float: left;
  width: 479px;
  position: relative;
}
.catalog-product .images .main-image {
  width: 377px;
  height: 618px;
  overflow: none;
  float: left;
  position: relative;
}
.catalog-product .images .main-image .img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: crosshair;
}
.catalog-product .images .small-images {
  margin: 0 0 0 16px;
  width: 86px;
  float: left;
}
.catalog-product .images .small-images a {
  display: block;
  width: 86px;
  height: 141px;
  overflow: none;
  margin: 16px 0 0 0;
}
.catalog-product .images .small-images a.first {
  margin-top: 0;
}
.catalog-product .description {
  float: left;
  margin: 0 0 0 33px;
  width: 480px;
}
.catalog-product .description .breadcrumbs {
  clear: both;
  font: 10px/10px 'PT Sans', Arial, Helvetica;
  color: #81807f;
}
.catalog-product .description .breadcrumbs a {
  color: #81807f;
  text-decoration: none;
}
.catalog-product .description .breadcrumbs a:hover,
.catalog-product .description .breadcrumbs a:focus,
.catalog-product .description .breadcrumbs a:active {
  color: #3c3a3a;
  text-decoration: none;
}
.catalog-product .description h1 {
  color: #3c3a3a;
  font: 26px/26px AGOptCyrillic, Arial, Helvetica;
  margin: 9px 0;
  word-spacing: 5px;
}
.catalog-product .description .text {
  margin: 17px 0 0 0;
  color: #3c3a3a;
  font: normal 11px/19px 'PT Sans', Arial, Helvetica;
}
.catalog-product .description .line {
  background: #ebebeb;
  width: 100%;
  height: 1px;
  margin: 19px 0;
}
.catalog-product .description .description-block {
  margin: 19px 0;
}
.catalog-product .description .description-block .title {
  color: #3c3a3a;
  font: 13px/21px AGOptCyrillic, Arial, Helvetica;
  word-spacing: 3px;
}
.catalog-product .description .description-block .properties {
  margin: 4px 0 4px 0;
  padding: 0;
  list-style: inside disc;
  font: 11px/19px 'PT Sans', Arial, Helvetica;
}
.catalog-product .description .description-block .sizes,
.catalog-product .description .description-block .colors {
  font: 11px/19px 'PT Sans', Arial, Helvetica;
  margin: 9px 0 10px 0;
}
.catalog-product .description .description-block .sizes a,
.catalog-product .description .description-block .colors a {
  display: block;
  float: left;
  margin: 0 0 0 8px;
  border: 1px solid #ebebeb;
  color: #81807f;
  padding: 2px 6px 3px 7px;
}
.catalog-product .description .description-block .sizes a.first,
.catalog-product .description .description-block .colors a.first {
  margin-left: 0;
}
.catalog-product .description .description-block .sizes a:hover,
.catalog-product .description .description-block .sizes a:focus,
.catalog-product .description .description-block .sizes a:active,
.catalog-product .description .description-block .colors a:hover,
.catalog-product .description .description-block .colors a:focus,
.catalog-product .description .description-block .colors a:active {
  border: 1px solid #9f948e;
  color: #9f948e;
}
.catalog-product .description .description-block .sizes a.selected,
.catalog-product .description .description-block .colors a.selected {
  border: 1px solid #9f948e !important;
  background: #9f948e;
  color: #fff;
}
.catalog-product .description .description-block .sizes a.disabled,
.catalog-product .description .description-block .colors a.disabled {
  border: 1px solid #ebebeb;
  color: #e0d7d2;
}
.catalog-product .description .description-block .sizes a.disabled:hover,
.catalog-product .description .description-block .sizes a.disabled:focus,
.catalog-product .description .description-block .sizes a.disabled:active,
.catalog-product .description .description-block .colors a.disabled:hover,
.catalog-product .description .description-block .colors a.disabled:focus,
.catalog-product .description .description-block .colors a.disabled:active {
  border: 1px solid #ebebeb;
  color: #e0d7d2;
}
.catalog-product .description .description-block .spacer-count {
  width: 100%;
  height: 27px;
}
.catalog-product .description .description-block .count {
  margin: 9px 0 24px 0;
  height: 27px;
}
.catalog-product .description .description-block .count .buttons {
  display: block;
}
.catalog-product .description .description-block .count .na {
  display: none;
  font: 11px/27px 'PT Sans', Arial, Helvetica;
}
.catalog-product .description .description-block .count.not-available .buttons {
  display: none;
}
.catalog-product .description .description-block .count.not-available .na {
  display: block;
}
.catalog-product .description .description-block .social .title {
  display: inline-block;
  vertical-align: top;
}
.catalog-product .description .description-block .social .links {
  display: inline-block;
  margin: 0 0 0 15px;
}
.catalog-product .description .description-block .social .links a {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
  background: transparent url('/bitrix/templates/.default/css/../img/social-dark.png') 0 0 no-repeat;
}
.catalog-product .description .description-block .social .links a.fb {
  background-position: 0 0;
}
.catalog-product .description .description-block .social .links a.fb:hover,
.catalog-product .description .description-block .social .links a.fb:focus,
.catalog-product .description .description-block .social .links a.fb:active {
  background-position: 0 -20px;
}
.catalog-product .description .description-block .social .links a.tw {
  background-position: 0 -40px;
}
.catalog-product .description .description-block .social .links a.tw:hover,
.catalog-product .description .description-block .social .links a.tw:focus,
.catalog-product .description .description-block .social .links a.tw:active {
  background-position: 0 -60px;
}
.catalog-product .description .description-block .social .links a.ig {
  background-position: 0 -80px;
}
.catalog-product .description .description-block .social .links a.ig:hover,
.catalog-product .description .description-block .social .links a.ig:focus,
.catalog-product .description .description-block .social .links a.ig:active {
  background-position: 0 -100px;
}
.catalog-product .description .description-block .price .title {
  display: inline-block;
  color: #615d5b;
}
.catalog-product .description .description-block .price .price-value {
  color: #918782;
  margin: 0 0 0 3px;
  display: inline-block;
}
.catalog-product .description .description-block .price .price-value .title {
  display: inline-block;
}
.catalog-product .description .description-block .price .price-value .price {
  display: inline-block;
  color: #918782;
  font: 19px/19px 'PT Sans', Arial, Helvetica;
}
.catalog-product .description .description-block .add-to-cart {
  margin: 0 13px 0 0;
}
.catalog-product .count-plus,
.catalog-product .count-minus {
  border: 1px solid #ebebeb;
  color: #81807f;
  width: 27px;
  height: 27px;
  background: #fff;
  vertical-align: top;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
  background: transparent url('/bitrix/templates/.default/css/../img/plus-minus.png') 0 0 no-repeat;
}
.catalog-product .count-plus:hover,
.catalog-product .count-plus:focus,
.catalog-product .count-plus:active,
.catalog-product .count-minus:hover,
.catalog-product .count-minus:focus,
.catalog-product .count-minus:active {
  border: 1px solid #9f948e;
  color: #9f948e;
  background: transparent url('/bitrix/templates/.default/css/../img/plus-minus.png') 0 -25px no-repeat;
  z-index: 10;
  position: relative;
}
.catalog-product .count-plus.disabled,
.catalog-product .count-minus.disabled {
  border: 1px solid #ebebeb !important;
  color: #9f948e !important;
  background: transparent url('/bitrix/templates/.default/css/../img/plus-minus.png') 0 -50px no-repeat !important;
  z-index: 0 !important;
  position: relative !important;
  cursor: default;
}
.catalog-product .count-plus {
  margin-left: -1px;
  background-position: 0 -75px;
}
.catalog-product .count-plus:hover,
.catalog-product .count-plus:focus,
.catalog-product .count-plus:active {
  background-position: 0 -100px;
}
.catalog-product .count-plus.disabled {
  background-position: 0 -125px !important;
}
.catalog-product .count-value {
  border: 1px solid #ebebeb;
  color: #81807f;
  background: #fff;
  vertical-align: top;
  padding: 0;
  margin: 0 0 0 -1px;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  position: relative;
  text-align: center;
}
.catalog-product .count-value:focus,
.catalog-product .count-value:active {
  z-index: 10;
}
.catalog-product .favorites-container {
  display: inline-block;
  font: 10px/26px 'PT Sans', Arial, Helvetica;
  margin: 0;
}
.catalog-product .favorites-container .add-to-favorites {
  display: inline-block;
}
.catalog-product .favorites-container .remove-from-favorites,
.catalog-product .favorites-container .go-to-favorites {
  display: none;
}
.catalog-product .favorites-container.already-in-favorites .add-to-favorites {
  display: none;
}
.catalog-product .favorites-container.already-in-favorites .remove-from-favorites,
.catalog-product .favorites-container.already-in-favorites .go-to-favorites {
  display: inline-block;
}
.catalog-product-bottom-line {
  background: #ebebeb;
  width: 100%;
  height: 1px;
  margin: 37px 0 16px;
}
.catalog-product-similar .title {
  text-align: center;
  font: 26px/31px AGOptCyrillic, Arial, Helvetica;
  color: #3c3a3a;
  padding: 6px 0;
  letter-spacing: 0.2px;
  word-spacing: 6px;
  margin: 0 0 11px 0;
}
.catalog-product-similar .catalog-product-similar-line .catalog-line-item {
  width: 117px;
  height: 192px;
  float: left;
  margin: 0 0 0 8px;
}
.catalog-product-similar .catalog-product-similar-line .catalog-line-item.first {
  margin-left: 1px;
}
.catalog-product-similar .catalog-product-similar-line .catalog-line-item .img {
  width: 117px;
  height: 192px;
  overflow: hidden;
  position: relative;
}
.content-popup-help {
  width: 540px;
}
.help-choose-size {
  width: 540px;
}
.help-choose-size .girl {
  float: left;
  width: 190px;
  height: 516px;
  padding: 0;
  margin: 0 0 10px 0;
}
.help-choose-size .text {
  float: right;
  width: 340px;
  color: #615d5b;
  font: 12px/16px 'PT Sans', Arial, Helvetica;
  text-align: justify;
}
.help-choose-size .text p {
  margin: 3px 0;
  padding: 0;
}
.help-choose-size .text .how-to-measure {
  font: 14px/20px 'PT Sans', Arial, Helvetica;
  margin: 0;
  padding: 0;
}
.help-choose-size .text .title {
  margin: 0;
  padding: 0;
  color: #3c3a3a;
  font: 14px/20px AGOptCyrillic, Arial, Helvetica;
}
.help-choose-size .text .sizes-table {
  width: 100%;
  margin: 15px 0 0 0;
}
.help-choose-size .text .sizes-table th {
  background: #f5f4f3;
  font: normal 12px/36px 'PT Sans', Arial, Helvetica;
  color: #615d5b;
  text-align: left;
  padding: 0 0 0 13px;
}
.help-choose-size .text .sizes-table td {
  font: normal 12px/36px 'PT Sans', Arial, Helvetica;
  text-align: left;
  padding: 0 0 0 13px;
  border-bottom: 1px solid #f5f5f5;
}
.help-choose-size.dress .girl {
  width: 190px;
  height: 516px;
  background: transparent url('/bitrix/templates/.default/css/../img/girl-size-dress.png') 0 0 no-repeat;
}
.help-choose-size.dress .text {
  width: 340px;
}
.help-choose-size.dress .text .title.chest {
  margin: 31px 0 0 0;
}
.help-choose-size.dress .text .title.waist {
  margin: 15px 0 0 0;
}
.help-choose-size.dress .text .title.hip {
  margin: 15px 0 0 0;
}
.help-choose-size.blouse .girl {
  width: 190px;
  height: 516px;
  background: transparent url('/bitrix/templates/.default/css/../img/girl-size-blouse.png') 0 0 no-repeat;
}
.help-choose-size.blouse .text {
  width: 340px;
}
.help-choose-size.blouse .text .title.chest {
  margin: 31px 0 0 0;
}
.help-choose-size.blouse .text .title.waist {
  margin: 15px 0 0 0;
}
.help-choose-size.skirt {
  width: 590px;
}
.help-choose-size.skirt .girl {
  width: 190px;
  height: 517px;
  background: transparent url('/bitrix/templates/.default/css/../img/girl-size-skirt.png') 0 0 no-repeat;
}
.help-choose-size.skirt .text {
  width: 390px;
}
.help-choose-size.skirt .text .title.waist {
  margin: 11px 0 0 0;
}
.help-choose-size.skirt .text .title.hip {
  margin: 20px 0 0 0;
}
.help-choose-size.skirt .text .sizes-table td {
  font: normal 12px/18px 'PT Sans', Arial, Helvetica;
}
.help-choose-size.skirt .text .sizes-table .tr1 td {
  padding-top: 3px;
}
.help-choose-size.skirt .text .sizes-table .tr3 td {
  padding-bottom: 3px;
}
.content-text {
  color: #81807f;
  text-align: justify;
}
.content-text p {
  margin: 7px 0 0 0;
  font: normal 11px/17px 'PT Sans', Arial, Helvetica;
}
.content-text ul {
  margin: 7px 0 0 0;
  font: normal 11px/17px 'PT Sans', Arial, Helvetica;
  padding: 0 0 0 13px;
}
.content-text ul li {
  margin: 3px 0 0 0;
}
.content-text h2 {
  color: #3c3a3a;
  font: 21px/31px AGOptCyrillic, Arial, Helvetica;
  margin: 16px 0 10px 0;
}
.content-text h3 {
  color: #3c3a3a;
  font: 14px/17px AGOptCyrillic, Arial, Helvetica;
  margin: 7px 0 16px 0;
}
.content-text h4 {
  color: #3c3a3a;
  font: 11px/17px 'PT Sans', Arial, Helvetica;
  margin: 7px 0 0 0;
}
.content-text .line {
  width: 100%;
  height: 1px;
  background: #ebebeb;
  margin: 20px 0;
}
.store {
  width: 826px;
  height: 320px;
  margin: 24px 0 0 0;
  overflow: hidden;
  position: relative;
}
.store .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.store .info {
  position: absolute;
  padding: 24px 20px;
  background: #fff;
  opacity: 0.85;
  max-width: 280px;
}
.store .info.left {
  top: 32px;
  left: 32px;
}
.store .info.right {
  top: 32px;
  right: 32px;
}
.store .info .title {
  font: 21px/28px AGOptCyrillic, Arial, Helvetica;
  color: #3c3a3a;
  text-align: center;
}
.store .info .line {
  width: 100%;
  height: 1px;
  background: #ebebeb;
  margin: 13px auto;
}
.store .info .address {
  color: #3c3a3a;
  font: 11px/24px 'PT Sans', Arial, Helvetica;
  margin: 16px 0 0 0;
}
.store .info .address .address-title {
  color: #3c3a3a;
  font: 13px/21px AGOptCyrillic, Arial, Helvetica;
}
.store .info .address a {
  text-decoration: none;
  color: #81807f;
}
.store .info .address a:hover,
.store .info .address a:active {
  text-decoration: none;
  color: #3c3a3a;
}
.popup-map {
  width: 480px;
  height: 360px;
  border: 1px solid #ebebeb;
  background: #fff;
}
#order_form_content {
  margin-top: 5px;
}
#order_form_content .block.right {
  float: right;
  width: 580px;
}
#order_form_content .block.left {
  float: left;
  width: 400px;
  clear: left;
}
#order_form_content .block h2 {
  font: 21px/31px AGOptCyrillic, Arial, Helvetica;
  color: #3c3a3a;
  margin: 16px 0 10px 0;
}
#order_form_content .block h3 {
  color: #3c3a3a;
  font: 14px/17px AGOptCyrillic, Arial, Helvetica;
  margin: 7px 0 16px 0;
}
#order_form_content .block p {
  margin: 7px 0 0 0;
  font: normal 11px/17px 'PT Sans', Arial, Helvetica;
  color: #81807f;
}
#order_form_content .block p a {
  color: #3c3a3a;
  text-decoration: none;
}
#order_form_content .block p a:hover,
#order_form_content .block p a:active,
#order_form_content .block p afocus {
  color: #81807f;
  text-decoration: none;
}
#order_form_content .block .line {
  width: 100%;
  height: 1px;
  background: #ebebeb;
  margin: 20px 0;
}
#order_form_content .block .products {
  width: 580px;
  margin: 0 0 16px 0;
}
#order_form_content .block .products td {
  text-align: left;
  padding: 2px 0 2px 16px;
  vertical-align: middle;
  color: #3c3a3a;
  height: 67px;
  border-top: 1px solid #ebebeb;
}
#order_form_content .block .products td.first {
  border-top: none;
}
#order_form_content .block .products td.head {
  background: #fafaf9;
  color: #81807f;
  font: 10px/26px 'PT Sans', Arial, Helvetica;
  padding: 2px 0 2px 16px;
  height: auto;
  border-top: none;
}
#order_form_content .block .products td.total {
  background: #fafaf9;
  color: #81807f;
  font: 10px/26px 'PT Sans', Arial, Helvetica;
  height: auto;
  border-top: none;
  padding: 14px 0 14px 16px;
}
#order_form_content .block .products td.total.sum {
  font: 11px/26px 'PT Sans', Arial, Helvetica;
}
#order_form_content .block .products td a {
  color: #3c3a3a;
  text-decoration: none;
}
#order_form_content .block .products td a:hover,
#order_form_content .block .products td a:active,
#order_form_content .block .products td afocus {
  color: #81807f;
  text-decoration: none;
}
#order_form_content .block .products td.col-color {
  width: 80px;
}
#order_form_content .block .products td.col-size {
  width: 40px;
}
#order_form_content .block .products td.col-price {
  width: 56px;
}
#order_form_content .block .products td.col-count {
  width: 52px;
}
#order_form_content .block .products td.col-sum {
  width: 88px;
}
#order_form_content .block.user-fields .field-title {
  color: #3c3a3a;
  font: 14px/17px AGOptCyrillic, Arial, Helvetica;
  margin: 7px 0 3px 0;
}
#order_form_content .block.user-fields .field-container {
  margin: 0 0 14px 0;
}
#order_form_content .block.user-fields .field-container input[type="text"] {
  width: 386px;
}
#order_form_content .block.order-payment {
  border-top: 1px solid #ebebeb;
  margin: 16px 0 0 0;
  padding: 3px 0 0 0;
}
#order_form_content .block.order-payment .fields-container {
  margin: 12px 0 16px 0;
}
#order_form_content .block.order-payment .fields-container .field-line {
  margin: 4px 0 0 0;
}
#order_form_content .block.order-payment .fields-container .field-line label {
  padding: 0 0 0 2px;
}
#order_form_content .block.order-delivery {
  border-top: 1px solid #ebebeb;
  margin: 16px 0 0 0;
  padding: 3px 0 0 0;
}
#order_form_content .block.order-delivery .fields-container {
  margin: 12px 0 16px 0;
}
#order_form_content .block.order-delivery .fields-container .field-line {
  margin: 4px 0 0 0;
}
#order_form_content .block.order-delivery .fields-container .field-line label {
  padding: 0 0 0 2px;
}
#order_form_content .block.order-delivery .field-title {
  color: #3c3a3a;
  font: 14px/17px AGOptCyrillic, Arial, Helvetica;
  margin: 7px 0 3px 0;
}
#order_form_content .block.order-delivery .field-container {
  margin: 0 0 14px 0;
}
#order_form_content .block.order-delivery .field-container input[type="text"] {
  width: 386px;
}
#order_form_content .block.order-delivery .field-container textarea {
  width: 386px;
  height: 68px;
}
.order-button {
  width: 400px;
  line-height: 27px;
}
.order-button .send-order {
  float: right;
}
.orders-list .order {
  margin: 0 0 24px 0;
}
.orders-list .order .order-number {
  color: #3c3a3a;
  font: 13px/26px AGOptCyrillic, Arial, Helvetica;
}
.orders-list .order .order-date {
  color: #81807f;
  font: 11px/17px 'PT Sans', Arial, Helvetica;
}
.orders-list .order .order-products-table {
  margin: 13px 0 0 0;
  width: 100%;
}
.orders-list .order .order-products-table td.col-header {
  background: #fafaf9;
  font: 10px/30px 'PT Sans', Arial, Helvetica;
  color: #81807f;
  height: 30px;
  padding: 0 0 0 16px;
}
.orders-list .order .order-products-table td.col-footer {
  background: #fafaf9;
  font: 10px/50px 'PT Sans', Arial, Helvetica;
  color: #81807f;
  height: 50px;
  padding: 0 0 0 16px;
}
.orders-list .order .order-products-table td.col-product {
  border-top: 1px solid #ebebeb;
  font: 10px/13px 'PT Sans', Arial, Helvetica;
  color: #3c3a3a;
  padding: 8px 0 8px 16px;
}
.orders-list .order .order-products-table td.col-product.first {
  border-top: none;
}
.orders-list .order .order-products-table .col-photo {
  width: 56px;
}
.orders-list .order .order-products-table .col-name {
  width: 224px;
}
.orders-list .order .order-products-table .col-name a {
  color: #3c3a3a;
  text-decoration: none;
}
.orders-list .order .order-products-table .col-name a:hover {
  color: #81807f;
  text-decoration: none;
}
.orders-list .order .order-products-table .col-price {
  width: 100px;
  white-space: nowrap;
}
.orders-list .order .order-products-table .col-color {
  width: 125px;
}
.orders-list .order .order-products-table .col-size {
  width: 100px;
}
.orders-list .order .order-products-table .col-count {
  width: 80px;
}
.orders-list .order .order-products-table .col-sum {
  width: 100px;
  white-space: nowrap;
}
.orders-list .order .order-products-table .col-total {
  text-align: right;
  padding-right: 40px;
}
#zoom-popup {
  border: 1px solid #ebebeb;
  position: fixed;
  width: 280px;
  height: 280px;
  display: none;
  z-index: 1000;
  background-color: #fff;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}
#zoom-popup.catalog-element {
  position: absolute;
  top: 0;
  left: 393px;
  width: 599px;
  height: 618px;
  margin: -1px 0 0 -1px;
}
#zoom-marker {
  border: 1px solid #ebebeb;
  position: absolute;
  width: 40px;
  height: 40px;
  display: none;
  z-index: 100;
  background: rgba(255,255,255,0.75);
}
#zoom-hint {
  border: 1px solid #ebebeb;
  position: absolute;
  padding: 0 2px;
  display: none;
  z-index: 100;
  background: rgba(255,255,255,0.75);
  white-space: nowrap;
}
.banner-left {
  background: #000;
}
.banner-right {
  background: #000;
}
.main {
  background: #fff;
  width: 100%;
  min-width: 992px;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}
.header {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding: 8px 0 10px 0;
}
.header .logo {
  width: 177px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.header .logo img {
  margin: 0 auto;
}
.header-cart {
  background: #92847d;
  padding: 13px 0 0 0;
  color: #fff;
  font: 10px/13px 'PT Sans', Arial, Helvetica;
  display: none;
  overflow: hidden;
}
.header-cart .title {
  float: left;
  color: #fff;
  font: 21px/31px AGOptCyrillic, Arial, Helvetica;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
.header-cart .hide {
  color: #e0d7d2;
  font: 10px/28px 'PT Sans', Arial, Helvetica;
  float: right;
}
.header-cart .hide a {
  color: #e0d7d2;
  text-decoration: none;
  padding: 0 11px 0 0;
  background: transparent url('/bitrix/templates/.default/css/../img/cart-hide-arrow.png') 100% -10px no-repeat;
}
.header-cart .hide a:hover {
  color: #fff;
  text-decoration: none;
  background-position: 100% -42px;
}
.header-cart .cart-message {
  margin: 0 0 13px 0;
  font: 11px/14px 'PT Sans', Arial, Helvetica;
}
.header-cart .cart-message .errortext {
  color: #fff !important;
}
.header-cart .header-cart-table {
  width: 100%;
  margin: 10px 0 0 0;
}
.header-cart .header-cart-table .row-headers {
  width: 100%;
  background: #988a84;
  font: 11px/27px 'PT Sans', Arial, Helvetica;
  color: #fff;
  height: 27px;
}
.header-cart .header-cart-table .row-sum {
  width: 100%;
  background: #988a84;
  font: 11px/50px 'PT Sans', Arial, Helvetica;
  color: #fff;
  height: 50px;
}
.header-cart .header-cart-table .row-sum .col-count {
  color: #e0d7d2;
}
.header-cart .header-cart-table .row-sum .btn-order {
  border: none;
  background: #fff;
  color: #9f948e;
  float: right;
  margin: 0 0 0 0;
  font: 10px/25px 'PT Sans', Arial, Helvetica;
  padding: 1px 9px;
}
.header-cart .header-cart-table .row-sum .btn-order:hover,
.header-cart .header-cart-table .row-sum .btn-order:focus,
.header-cart .header-cart-table .row-sum .btn-order:active {
  color: #9f948e;
  background: #f2efee;
}
.header-cart .header-cart-table .row-product {
  border-top: 1px solid #9d918a;
  font: 11px/13px 'PT Sans', Arial, Helvetica;
  color: #fff;
  padding: 8px 0;
}
.header-cart .header-cart-table .row-product.first {
  border-top: none;
}
.header-cart .header-cart-table .col-photo {
  width: 56px;
}
.header-cart .header-cart-table .col-name {
  width: 217px;
  padding: 0 16px 0 0;
}
.header-cart .header-cart-table .col-name a {
  color: #fff;
  text-decoration: none;
}
.header-cart .header-cart-table .col-name a:hover {
  color: #e0d7d2;
  text-decoration: none;
}
.header-cart .header-cart-table .col-price {
  width: 140px;
  white-space: nowrap;
}
.header-cart .header-cart-table .col-color {
  width: 126px;
}
.header-cart .header-cart-table .col-size {
  width: 126px;
}
.header-cart .header-cart-table .col-count {
  width: 100px;
}
.header-cart .header-cart-table .col-sum {
  width: 104px;
  white-space: nowrap;
}
.header-cart .header-cart-table .col-delete {
  width: 107px;
}
.header-cart .header-cart-table .col-delete .valign-container {
  width: 100%;
}
.header-cart .header-cart-table .col-delete .btn-del {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent url('/bitrix/templates/.default/css/../img/cart-buttons.png') 0 0 no-repeat;
  float: right;
}
.header-cart .header-cart-table .col-delete .btn-del:hover,
.header-cart .header-cart-table .col-delete .btn-del:focus,
.header-cart .header-cart-table .col-delete .btn-del:active {
  background-position: 0 -25px;
}
.header-cart .header-cart-table .tbl-footers {
  width: 100%;
}
.header-cart .header-cart-table .col-total {
  text-align: right;
  padding-right: 20px;
}
.header-cart .count .count-plus,
.header-cart .count .count-minus {
  border: none;
  width: 25px;
  height: 25px;
  vertical-align: top;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
  background: transparent url('/bitrix/templates/.default/css/../img/cart-buttons.png') -50px 0 no-repeat;
}
.header-cart .count .count-plus:hover,
.header-cart .count .count-plus:focus,
.header-cart .count .count-plus:active,
.header-cart .count .count-minus:hover,
.header-cart .count .count-minus:focus,
.header-cart .count .count-minus:active {
  border: none;
  background: transparent url('/bitrix/templates/.default/css/../img/cart-buttons.png') -50px -25px no-repeat;
  z-index: 10;
  position: relative;
}
.header-cart .count .count-plus.disabled,
.header-cart .count .count-minus.disabled {
  border: none;
  background: transparent url('/bitrix/templates/.default/css/../img/cart-buttons.png') -50px -50px no-repeat !important;
  z-index: 0 !important;
  position: relative !important;
  cursor: default;
}
.header-cart .count .count-plus {
  margin-left: -1px;
  background-position: -25px 0;
}
.header-cart .count .count-plus:hover,
.header-cart .count .count-plus:focus,
.header-cart .count .count-plus:active {
  background-position: -25px -25px;
}
.header-cart .count .count-plus.disabled {
  background-position: -25px -50px !important;
}
.header-cart .count .count-value {
  border: 1px solid #988a84;
  color: #fff;
  background: #92847d;
  vertical-align: top;
  padding: 0;
  margin: 0 0 0 -1px;
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  position: relative;
  text-align: center;
  font: 11px/23px 'PT Sans', Arial, Helvetica;
}
.header-cart .count .count-value:focus,
.header-cart .count .count-value:active {
  z-index: 10;
  border: 1px solid #f2efee;
}
.header-cart .size .size-plus,
.header-cart .size .size-minus {
  border: none;
  width: 25px;
  height: 25px;
  vertical-align: top;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
  background: transparent url('/bitrix/templates/.default/css/../img/cart-buttons.png') -100px 0 no-repeat;
}
.header-cart .size .size-plus:hover,
.header-cart .size .size-plus:focus,
.header-cart .size .size-plus:active,
.header-cart .size .size-minus:hover,
.header-cart .size .size-minus:focus,
.header-cart .size .size-minus:active {
  border: none;
  background: transparent url('/bitrix/templates/.default/css/../img/cart-buttons.png') -100px -25px no-repeat;
  z-index: 10;
  position: relative;
}
.header-cart .size .size-plus.disabled,
.header-cart .size .size-minus.disabled {
  border: none;
  background: transparent url('/bitrix/templates/.default/css/../img/cart-buttons.png') -100px -50px no-repeat !important;
  z-index: 0 !important;
  position: relative !important;
  cursor: default;
}
.header-cart .size .size-plus {
  margin-left: -1px;
  background-position: -75px 0;
}
.header-cart .size .size-plus:hover,
.header-cart .size .size-plus:focus,
.header-cart .size .size-plus:active {
  background-position: -75px -25px;
}
.header-cart .size .size-plus.disabled {
  background-position: -75px -50px !important;
}
.header-cart .size .size-value {
  border: 1px solid #988a84;
  color: #fff;
  background: #92847d;
  vertical-align: top;
  padding: 0;
  margin: 0 0 0 -1px;
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  position: relative;
  text-align: center;
  font: 11px/23px 'PT Sans', Arial, Helvetica;
}
.sub-header {
  width: 100%;
  margin: 8px 0 8px 0;
}
.sub-header .banner-left {
  width: 695px;
  height: 381px;
  float: left;
  overflow: hidden;
  position: relative;
}
.sub-header .banner-left .info {
  position: absolute;
  top: 32px;
  left: 32px;
  text-align: center;
  opacity: 0.85;
  background: #191919;
  padding: 25px;
}
.sub-header .banner-left .info .line {
  background: #4e4849;
  width: 100%;
  height: 1px;
  display: inline-block;
}
.sub-header .banner-left .info .title {
  color: #fff;
  font: 21px/28px AGOptCyrillic, Arial, Helvetica;
  word-spacing: 4px;
}
.sub-header .banner-left .info .text {
  color: #4e4849;
  font: 12px/19px 'PT Sans', Arial, Helvetica;
  margin: 7px 0 0 0;
}
.sub-header .banner-left .info .text a {
  color: #4e4849;
  font: 12px/19px 'PT Sans', Arial, Helvetica;
  text-decoration: none;
}
.sub-header .banner-left .info .text a:hover {
  color: #81807f;
  text-decoration: none;
}
.sub-header .banner-right {
  width: 293px;
  height: 182px;
  float: right;
  position: relative;
  overflow: hidden;
}
.sub-header .banner-right .info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 23px;
}
.sub-header .banner-right .info .title {
  color: #3c3a3a;
  font: 23px/27px AGOptCyrillic, Arial, Helvetica;
}
.sub-header .banner-right .info .line {
  width: 101px;
  height: 1px;
  background: #cbbeb6;
  margin: 15px;
}
.sub-header .banner-right .info .text {
  font: 12px/17px 'PT Sans', Arial, Helvetica;
  color: #615d5b;
}
.sub-header .banner-right .info .text a {
  font: 12px/17px 'PT Sans', Arial, Helvetica;
  color: #3c3a3a;
  text-decoration: none;
}
.sub-header .banner-right .info .text a:hover {
  color: #81807f;
  text-decoration: none;
}
.sub-header .subscribe {
  width: 245px;
  height: 155px;
  margin: 4px 0 0 0;
  float: right;
  padding: 20px 24px 20px 24px;
}
.sub-header .subscribe .title {
  color: #3c3a3a;
  font: 16px/26px AGOptCyrillic, Arial, Helvetica;
  word-spacing: 3px;
}
.sub-header .subscribe .line {
  width: 100%;
  height: 1px;
  background: #ebebeb;
  margin: 10px 0;
}
.sub-header .subscribe .text {
  color: #615d5b;
  font: 12px/17px 'PT Sans', Arial, Helvetica;
  margin: 16px 0;
}
.sub-header .subscribe .subscribe-email {
  width: 231px;
}
.sub-header .subscribe .subscribe-send {
  float: right;
  margin: 15px 0 0 0;
}
.content {
  margin: 0;
  padding: 0;
}
.content .left-col {
  width: 150px;
  float: left;
  margin: 53px 0 0 0;
}
.content .right-col {
  float: right;
  width: 826px;
}
.content .right-col .content-center {
  width: 826px !important;
}
.sub-content {
  margin: 0;
  padding: 0 0 334px 0;
}
.sub-content .title {
  text-align: center;
  font: 26px/31px AGOptCyrillic, Arial, Helvetica;
  color: #3c3a3a;
  padding: 6px 0;
  letter-spacing: 0.2px;
  word-spacing: 6px;
  margin: 0 0 11px 0;
}
.footer {
  background: #9f948e;
  margin: 0;
  padding: 0 0 12px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer .footer-column {
  margin: 19px 0;
}
.footer .footer-column.left {
  width: 190px;
  float: left;
}
.footer .footer-column.left.wide {
  width: 232px;
}
.footer .footer-column.right {
  float: right;
}
.footer .footer-column .col-title {
  font: 16px/26px AGOptCyrillic, Arial, Helvetica;
  color: #fff;
}
.footer .footer-column .col-title.border-bottom {
  border-bottom: 1px solid #a79d98;
  padding-bottom: 9px;
}
.footer .footer-column .col-content {
  margin: 11px 0 0;
}
.footer .footer-column .col-line {
  width: 83px;
  height: 0;
  border-bottom: 1px dotted #b4aba6;
  margin: 15px 0 11px;
}
.footer .footer-social a {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 4px 12px 0 0;
  background: transparent url('/bitrix/templates/.default/css/../img/social.png') 0 0 no-repeat;
}
.footer .footer-social a.fb {
  background-position: 0 0;
}
.footer .footer-social a.fb:hover,
.footer .footer-social a.fb:focus,
.footer .footer-social a.fb:active {
  background-position: 0 -20px;
}
.footer .footer-social a.tw {
  background-position: 0 -40px;
}
.footer .footer-social a.tw:hover,
.footer .footer-social a.tw:focus,
.footer .footer-social a.tw:active {
  background-position: 0 -60px;
}
.footer .footer-social a.ig {
  background-position: 0 -80px;
}
.footer .footer-social a.ig:hover,
.footer .footer-social a.ig:focus,
.footer .footer-social a.ig:active {
  background-position: 0 -100px;
}
.footer .footer-subscribe {
  margin: 17px 0 0 0;
}
.footer .footer-subscribe p {
  color: #fff;
  font: 12px/16px 'PT Sans', Arial, Helvetica;
}
.footer .footer-subscribe .input-container {
  margin: 16px 0 0 0;
}
.footer .footer-subscribe .social-container {
  float: left;
}
.footer .footer-subscribe .button-container {
  float: right;
}
.footer .footer-subscribe input {
  border: none;
  background: #b4aba6;
  color: #fff;
  padding: 5px 8px 5px 8px;
  font: 10px/16px 'PT Sans', Arial, Helvetica;
  width: 174px;
}
.footer .footer-subscribe input:focus,
.footer .footer-subscribe input:active {
  color: #fff;
}
.footer .footer-subscribe input.placeholder {
  color: #e0d7d2;
}
.footer .footer-subscribe button {
  border: none;
  background: #f2efee;
  color: #9f948e;
  margin: 18px 0 0 0;
  font: 9px/25px 'PT Sans', Arial, Helvetica;
  padding: 1px 9px;
}
.footer .footer-subscribe button:hover,
.footer .footer-subscribe button:focus,
.footer .footer-subscribe button:active {
  color: #9f948e;
  background: #fff;
}
.footer .line {
  width: 100%;
  height: 1px;
  background: #b4aba6;
  margin: 3px 0;
}
.footer .copyright {
  font: 10px/26px 'PT Sans', Arial, Helvetica;
  color: #f2efee;
  margin: 13px 0 0 0;
  word-spacing: 1px;
}
.popup-content {
  background: #fff;
  padding: 16px 28px 28px;
  color: #615d5b;
}
.popup-content h2 {
  font: 16px/26px AGOptCyrillic, Arial, Helvetica;
  color: #3c3a3a;
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 16px 0;
  padding: 0 32px 8px 0;
}

/* End */



/* Start:/bitrix/templates/.default/plugins/fancybox/jquery.fancybox-1.3.4.css*/
/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: 16px;
	right: 28px;
	width: 25px;
	height: 25px;
	background: transparent url('/bitrix/templates/.default/plugins/fancybox/../../img/close.png') 0 0 no-repeat;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-close:hover {
    background-position: 0 -25px;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('/bitrix/templates/.default/plugins/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('/bitrix/templates/.default/plugins/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('/bitrix/templates/.default/plugins/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('/bitrix/templates/.default/plugins/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('/bitrix/templates/.default/plugins/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }
/* End */



/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.css*/
font.errortext
{
	color:red;
}

font.notetext
{
	color:green;
}
/* End */
/* /bitrix/templates/.default/css/main.css */
/* /bitrix/templates/.default/plugins/fancybox/jquery.fancybox-1.3.4.css */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.css */
