/*------ template stylization ------*/
body {
  background-color: #111111;
}
/*------ header ------- */
header {
  width: 100%;
}
header .brand {
  position: relative;
  width: 308px;
  height: 69px;
  overflow: hidden;
  float: left;
  margin: 55px 0 36px;
}
header .brand a {
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
}
header .brand a:hover {
  text-decoration: none;
}
/*menu*/
.select-menu {
  width: 100%;
  margin: 0 auto 21px;
  display: none;
  font-family: Arial;
  color: #747474;
}
header .navbar {
  margin-bottom: 0;
}
header .navbar .sf-menu .nav {
  position: absolute;
  float: none;
  margin: 0;
  display: none;
}
header .navbar .sf-menu .nav li {
  float: none;
}
header .navbar .sf-menu .nav li a {
  padding: 0;
  text-shadow: none;
}
header .navbar-inner {
  min-height: 68px;
  padding: 0;
  background-color: transparent;
  background-image: none;
  filter: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
header .nav-collapse {
  height: 100%;
}
.sf-menu {
  list-style: none;
  float: right;
  padding: 0;
  margin: 46px 0px 0px 0px;
  white-space: nowrap;
  height: 114px;
}
.sf-menu > li {
  position: relative;
  display: inline-block;
  float: left;
  width: 165px;
  height: 100%;
}
.sf-menu > li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: url(../img/menu-marker.png) 0 0 no-repeat;
  width: 5px;
  height: 7px;
  right: 9px;
  bottom: 28px;
}
.sf-menu > li:first-child {
  background-color: #d4b113;
}
.sf-menu > li:first-child + li {
  background-color: #e1543b;
}
.sf-menu > li:first-child + li + li {
  background-color: #c12942;
}
.sf-menu > li:first-child + li + li + li {
  background-color: #5b1b33;
}
.sf-menu > li:first-child + li + li + li + li {
  background-color: #553568;
}
.sf-menu > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
}
.sf-menu > li > a > span {
  display: block;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font: 400 18px 'PT Sans Narrow';
  line-height: 1.2em;
  color: #fdfdfd;
  text-transform: uppercase;
  padding: 74px 22px 0px 0px;
}
.sf-menu > li > a:hover,
.sf-menu > li.active > a,
.sf-menu > li.sfHover > a {
  text-decoration: none;
}
.sf-menu > li > a:hover > span,
.sf-menu > li.active > a > span,
.sf-menu > li.sfHover > a > span {
  color: #000000;
}
.sf-menu ul {
  position: absolute;
  list-style: none;
  z-index: 999;
  width: 129px;
  top: 114px !important;
  left: 37px !important;
  display: none;
  overflow: visible;
  background: #ffffff;
  text-align: left;
}
.sf-menu ul:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 19px;
  width: 15px;
  height: 8px;
  background: url(../img/submenu_arrow_1.png) center no-repeat;
}
.sf-menu ul li {
  position: relative;
  padding: 0px 0px 0px 35px;
}
.sf-menu ul li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: url(../img/menu-marker_2.png) 0 0 no-repeat;
  width: 7px;
  height: 5px;
  right: 0;
  bottom: 50%;
  margin-right: 18px;
  margin-bottom: 0px;
}
.sf-menu ul li:first-child {
  margin-top: 19px;
}
.sf-menu ul li.last {
  margin-bottom: 15px;
}
.sf-menu ul li a {
  display: inline-block;
  font: 700 18px 'Economica';
  line-height: 1.2em;
  color: #adadad !important;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.sf-menu ul li.sfHover > a,
.sf-menu ul li > a:hover {
  color: #111111 !important;
  background: none !important;
}
.sf-menu ul ul {
  left: 130px !important;
  top: -19px !important;
  width: 96px;
  background: url(../img/submenu_2_bg.png);
}
.sf-menu ul ul:before {
  content: '';
  position: absolute;
  top: 21px;
  left: -8px;
  width: 8px;
  height: 16px;
  background: url(../img/submenu_arrow_2.png) center no-repeat;
}
.sf-menu ul ul li {
  padding-left: 23px;
}
.sf-menu ul ul li:first-child {
  margin-top: 18px;
}
.sf-menu ul ul li.last {
  margin-bottom: 13px;
}
.sf-menu ul ul li a {
  color: #d2d2d2 !important;
}
.sf-menu ul ul li.sfHover > a,
.sf-menu ul ul li > a:hover {
  color: #ffffff !important;
}
/*end menu*/
/*--- header end ------*/
/*------ content ------- */
/*----------- Back to top --------------*/
#toTop {
  position: fixed;
  overflow: hidden;
  right: 50%;
  margin-right: -650px !important;
  bottom: 20%;
  width: 34px;
  height: 34px;
  background: url(../img/up-arrow.png) transparent center bottom no-repeat;
  z-index: 999;
  display: none;
  border: none;
  -webkit-transition: background-position 0.4s ease-out;
  -moz-transition: background-position 0.4s ease-out;
  -o-transition: background-position 0.4s ease-out;
  transition: background-position 0.4s ease-out;
}
#toTop:hover {
  background-position: center top;
}
#toTop:active,
#toTop:focus {
  outline: none;
}
/*bootstrap classes*/
.thumbnails {
  margin: 0px 0px 0px 0px;
}
.thumbnails li {
  margin: 0px 0px 0px 0px;
}
.thumbnails li > a {
  position: relative;
  display: block;
}
.thumbnail {
  box-shadow: none;
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.thumbnail img {
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.thumbnail:hover {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.thumbnail a {
  position: relative;
}
.img-polaroid {
  background: #ffffff;
  padding: 0px;
  box-shadow: none;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.img-polaroid > img {
  max-width: inherit;
  width: 100%;
}
.btn {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  text-shadow: none;
  padding: 11px 23px;
  -webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  font: 14.04px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2em;
  color: #cacaca;
  text-shadow: rgba(140, 140, 140, 0.24) 1px 1px 0px;
  background: url(../img/more_bg.jpg);
  border: none;
}
.btn:visited {
  color: #cacaca;
}
.btn:hover,
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
  text-decoration: none;
  background-position: 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  color: #e1543b;
  background: url(../img/more_bg.jpg);
}
.btn.btn-link {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border: none;
  text-shadow: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  font: 14.04px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2em;
  color: #666666;
  text-transform: uppercase;
  background: none;
  text-shadow: rgba(0, 0, 0, 0.11) 1px 1px 0px;
}
.btn.btn-link:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 3px;
  right: -16px;
  width: 11px;
  height: 11px;
  background: url(../img/more_icon.png) center no-repeat;
}
.btn.btn-link:hover,
.btn.btn-link:active {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  background-position: 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  color: #c12942;
}
.badge {
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 60px;
  height: 61px;
  padding: 0px;
  margin: 0px;
  background: #d4b113;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.badge.badge-warning {
  background-color: #e1543b;
}
.badge.badge-important {
  background-color: #c12942;
}
.badge.badge-info {
  background-color: #5b1b33;
}
/*end bootstrap classes*/
header ul,
footer ul,
#content ul {
  list-style: none;
}
.container input,
.container textarea {
  position: relative;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 8px 8px;
  margin: 0;
  color: #747474;
  line-height: 20px;
  background-color: #111111;
  text-transform: uppercase;
  border: 1px solid #333333;
  -webkit-box-shadow: 1px 1px 0 #191919;
  -moz-box-shadow: 1px 1px 0 #191919;
  box-shadow: 1px 1px 0 #191919;
}
.container input:focus,
.container textarea:focus {
  -webkit-box-shadow: 1px 1px 0 #191919;
  -moz-box-shadow: 1px 1px 0 #191919;
  box-shadow: 1px 1px 0 #191919;
  color: #747474;
  border: 1px solid #333333;
}
.container input:focus:invalid:focus,
.container textarea:focus:invalid:focus {
  -webkit-box-shadow: 1px 1px 0 #191919;
  -moz-box-shadow: 1px 1px 0 #191919;
  box-shadow: 1px 1px 0 #191919;
  color: #747474;
  border: 1px solid #333333;
}
.container input {
  width: 210px;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  padding-bottom: 16px;
  text-transform: uppercase;
}
figure {
  display: inline-block;
  margin: 0;
}
h2 {
  font: 36px 'Economica';
  line-height: 1.2em;
  text-transform: uppercase;
  color: #b0b0b0;
  margin: 15px 0px 32px;
}
h2.small {
  font: 32.04px 'Economica';
  line-height: 1.2em;
  text-transform: uppercase;
  color: #c3c3c3;
  text-shadow: rgba(0, 0, 0, 0.11) 1px 1px 0px;
  margin: 10px 0px 19px;
}
h2.small a {
  color: inherit;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
h2.small a:hover {
  color: #c12942;
  text-decoration: none;
}
time {
  position: relative;
  display: block;
  font: 30px 'Economica';
  line-height: 1.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.11) 1px 1px 0px;
  margin: 5px 0px 0px 0px;
}
time span {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.2em;
  margin: -4px 0px 0px 0px;
}
h3,
.fontStyle1,
h4 {
  font: 18px 'Economica';
  line-height: 21px;
  text-transform: uppercase;
  color: #2e2e2e;
  margin: 10px 0px 10px;
}
h3 a,
.fontStyle1 a,
h4 a {
  color: inherit;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
h3 a:hover,
.fontStyle1 a:hover,
h4 a:hover {
  color: #c12942;
  text-decoration: none;
}
h6 {
  font: bold 12px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2em;
  color: #bab9b9;
  text-transform: uppercase;
  margin: 10px 0px;
}
address {
  font-style: normal;
  margin-bottom: 28px;
  text-transform: uppercase;
}
hr {
  height: 1px;
  display: block;
  margin: 22px 0 13px;
  border: none;
  background-color: #494949;
}
.sitem_over {
  position: absolute;
  background: url('../img/pic_bg_over.png');
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  overflow: hidden;
}
.sitem_over > strong {
  position: relative;
  background: url('../img/icon_zoom.png') center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
a:hover .sitem_over {
  opacity: 1;
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
/* custom blocks */
.block1,
.block2,
.block3 {
  overflow: hidden;
  margin: 35px 0px 0px 0px;
}
.block1 {
  padding: 31px 41px 18px 38px;
  background-color: #ffffff;
}
.block1 h2 {
  color: #403f3f;
}
.block1 hr {
  background-color: #dadada;
  margin: 13px 0 16px;
}
.block1 .btn.btn-link {
  color: #403f3f;
}
.block1 .btn.btn-link:after {
  top: 6px;
  width: 6px;
  height: 5px;
  background: url(../img/more_arrow_2.png) left 0px no-repeat;
}
.block1 .btn.btn-link:hover,
.block1 .btn.btn-link:active {
  color: #d4b113;
}
.block1.type3 h2 {
  margin-bottom: 29px;
}
.block1.type3 h3 {
  margin: 18px 0px 10px;
}
.block1.type3 p {
  padding-bottom: 10px;
}
.block2,
.block4 {
  padding: 31px 58px 18px 52px;
  background-color: #1f1f1f;
}
.block2 h2,
.block4 h2 {
  color: #ffffff;
  margin-bottom: 27px;
}
.block2 h3,
.block4 h3,
.block2 .fontStyle1,
.block4 .fontStyle1 {
  color: #adadad;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 20px;
}
.block2 .fontStyle1,
.block4 .fontStyle1 {
  margin-bottom: 8px;
}
.block2 hr,
.block4 hr {
  background-color: #dadada;
  margin: 17px 0 16px;
}
.block2 .btn.btn-link,
.block4 .btn.btn-link {
  margin-left: 7px;
  color: #ffffff;
}
.block2 .btn.btn-link:after,
.block4 .btn.btn-link:after {
  top: 6px;
  width: 6px;
  height: 5px;
  background: url(../img/more_arrow_2.png) right 0px no-repeat;
}
.block2 .btn.btn-link:hover,
.block4 .btn.btn-link:hover,
.block2 .btn.btn-link:active,
.block4 .btn.btn-link:active {
  color: #c12942;
}
.block2.type4 h3 {
  margin: 0px 0px 8px 0px;
}
.block2.type4 p {
  padding-bottom: 17px;
}
.block3 {
  border-top: 4px solid #e4e4e4;
  border-bottom: 4px solid #e4e4e4;
  padding-bottom: 15px;
  margin-bottom: 19px;
}
.block3.type2 {
  border-bottom: 0;
  margin: 77px 0px 0px 0px;
  padding: 0px;
}
.block3 h2 {
  color: #b0b0b0;
  margin: 36px 0px 39px 0px;
}
.block3 h3 {
  color: #ffffff;
}
.block3 p {
  font-size: 14.04px;
  padding-bottom: 13px;
}
.block3 + p {
  margin-bottom: 29px;
}
.block3 + p > .btn.btn-link {
  margin-right: 18px;
  color: #ffffff;
}
.block3 + p > .btn.btn-link:after {
  top: 6px;
  width: 6px;
  height: 5px;
  background: url(../img/more_arrow_2.png) right 0px no-repeat;
}
.block3 + p > .btn.btn-link:hover,
.block3 + p > .btn.btn-link:active {
  color: #c12942;
}
.block4 {
  padding: 24px 0 22px;
}
.block5 {
  padding: 74px 0px 0px 47px;
}
.block5 h2 {
  margin-bottom: 21px;
}
.block5 p {
  padding-bottom: 10px;
}
/* end custom blocks */
/* slider */
#camera_1 {
  position: relative;
  display: block;
  width: 100%;
  height: 529px;
  overflow: hidden;
  float: none;
  z-index: 1;
  margin: 0 !important;
  padding-bottom: 0px;
}
#camera_1 .camera_caption {
  display: none;
  height: 100%;
  color: #747474;
}
#camera_1 .camera_pag {
  display: none;
}
#camera_1 .camera_prev,
#camera_1 .camera_next {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 30px;
  height: 35px;
  overflow: hidden;
  background-color: #000000;
  z-index: 50;
}
#camera_1 .camera_prev > span,
#camera_1 .camera_next > span {
  position: relative;
  display: block;
  width: 30px;
  height: 35px;
  background: none;
  text-indent: 100%;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#camera_1 .camera_prev:hover,
#camera_1 .camera_next:hover {
  background-color: #ffffff;
}
#camera_1 .camera_prev {
  margin-left: -32px;
}
#camera_1 .camera_prev > span {
  background: url(../img/arrowL.png) left center no-repeat;
}
#camera_1 .camera_prev:hover > span {
  background-position: right center;
}
#camera_1 .camera_next {
  margin-left: -2px;
}
#camera_1 .camera_next > span {
  background: url(../img/arrowR.png) right center no-repeat;
}
#camera_1 .camera_next:hover > span {
  background-position: left center;
}
/* end slider */
/*flex slider*/
.flexslider {
  margin: 26px 0px 30px;
  padding: 0px;
  width: 100%;
  background: #191919;
  border: none;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.flexslider .slides > li {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.flexslider .slides > li p {
  padding: 31px 96px 26px;
  margin: 0;
  text-align: center;
  font: italic 29.04px 'Georgia';
  line-height: 41px;
  color: #a1a1a1;
  text-transform: none;
}
.flexslider .slides > li p a {
  color: #ffffff;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.flexslider .slides > li p a:hover {
  color: #c12942;
  text-decoration: none;
}
.flexslider .flex-control-nav.flex-control-paging {
  display: none;
}
.flexslider .flex-prev,
.flexslider .flex-next {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -18px;
  width: 20px;
  height: 34px;
  cursor: pointer;
  display: block !important;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  text-indent: 100%;
  overflow: hidden;
}
.flexslider .flex-prev {
  left: 33px;
  background: url("../img/arrowL_2.png") left center no-repeat;
}
.flexslider .flex-prev:hover {
  background-position: right center;
}
.flexslider .flex-next {
  right: 33px;
  background: url("../img/arrowR_2.png") right center no-repeat;
}
.flexslider .flex-next:hover {
  background-position: left center;
}
/*end flex slider*/
.list2 {
  margin: 20px 0px 0px 0px;
}
.list2 li {
  position: relative;
  float: left;
  margin: 0px 4px 3px 0px;
  width: 127px;
}
.list2 li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.list2 li a img {
  position: relative;
  width: 100%;
}
.list3 {
  margin: 28px 0px 0px 0px;
}
.list3 dt {
  font: bold 18px 'Economica';
  line-height: 24px;
  text-transform: uppercase;
  color: #adadad;
  margin: 10px 0px 8px;
}
.list3 dd {
  margin: 0px 0px 13px 0px;
}
.list3 dd p {
  font-size: 14.04px;
}
.list3 dd p a {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.list3 dd p a:hover {
  text-decoration: none;
}
.list3 dd.last {
  margin: 0px 0px -3px 0px;
}
.list4 {
  margin: 40px 0px -13px 0px;
  overflow: hidden;
}
.list4 li {
  position: relative;
  float: left;
  margin: 0px 29px 30px 0px;
}
.list4 li a {
  position: relative;
  display: block;
  width: 100%;
}
.list4 li a img {
  width: 100%;
}
.list5 {
  margin: -3px 0px 33px 0px;
}
.list5 li {
  margin-bottom: 30px;
}
.list5 li.last {
  margin-bottom: 0;
}
.list5 li > div .badge {
  margin: 5px 30px 0px 0px;
}
.list5 li > div .badge + div h3 {
  margin: 0px 0px 10px 0px;
}
.list5 li > div .badge + div p {
  font-size: 12px;
}
.list5 li > div .badge + div p > a {
  color: inherit;
}
.list5 li > div .badge + div + div {
  overflow: hidden;
  margin-top: -3px;
}
.list5 li > div .badge + div + div img {
  float: left;
  margin: 5px 30px 0px 0px;
}
.list5 li > div .badge + div + div p {
  padding-bottom: 15px;
  margin: 0;
}
.list6 {
  margin: 28px 0px 30px 0px;
}
.list6 li {
  position: relative;
  margin: 0px 0px 14px 0px;
  background: url(../img/list_icon.png) 2px 4px no-repeat;
}
.list6 li a {
  font: 14.04px 'Trebuchet MS', Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 21px;
  color: #666666;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  margin-left: 21px;
}
.list6 li a:hover {
  color: #c12942;
}
.list7 {
  margin: 39px 0px 4px -30px;
}
.list7 li {
  margin-bottom: 22px;
}
.list7 li > a {
  position: relative;
  display: block;
}
.list7 li > a img {
  width: 100%;
}
.list7 li h3 {
  margin: 30px 0px 20px 0px;
}
blockquote {
  position: relative;
  padding: 24px 19px 8px 27px;
  margin: 7px 0px 41px;
  border: none;
  background-color: #191919;
}
blockquote p {
  font-size: 12px;
  color: #747474;
  line-height: 21px;
}
blockquote:after {
  position: absolute;
  display: inline-block;
  left: 24px;
  bottom: -21px;
  width: 22px;
  height: 21px;
  content: ' ';
  background: url(../img/comment_corner.png) 0 0 no-repeat;
}
blockquote + p + p {
  margin-bottom: 42px;
  padding: 0;
}
.author {
  font: bold 18px 'Economica';
  line-height: 21px;
  text-transform: uppercase;
  color: #adadad;
  margin: 10px 0px 3px;
  padding: 0;
}
.g_map {
  margin: 32px 0 33px;
  width: 100%;
  height: 576px;
  overflow: hidden;
}
.g_map iframe {
  position: relative;
  display: inline-block;
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  background: url(../img/web_site_loader.gif) center no-repeat #111111 !important;
}
/*forms*/
[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
#search,
form.search {
  position: relative;
  display: inline-block;
  margin: 19px 0 102px 3px;
  width: 545px;
  z-index: 500;
}
#search > input,
form.search > input {
  width: 444px;
  height: 38px;
  padding: 9px 8px;
}
#search > a,
form.search > a {
  float: right;
  text-transform: uppercase;
}
#form1 {
  position: relative;
  margin: 32px 0px 21px 2px;
  width: 660px;
}
#form1 input,
#form1 textarea,
#form1 .success {
  position: relative;
  display: block;
  outline: none;
}
#form1 input {
  position: relative;
  width: 100%;
}
#form1 .success {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 10px;
  z-index: 10;
  text-align: center;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #747474;
  line-height: 20px;
  background-color: #111111;
  text-transform: uppercase;
  border: 1px solid #333333;
  -webkit-box-shadow: 1px 1px 0 #191919;
  -moz-box-shadow: 1px 1px 0 #191919;
  box-shadow: 1px 1px 0 #191919;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#form1 textarea {
  width: 100%;
  height: 231px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  resize: none;
}
#form1 label {
  position: relative;
  min-height: 50px;
  width: 210px;
  margin-bottom: 0px;
  float: left;
}
#form1 label.message {
  width: 100%;
}
#form1 .error,
#form1 .empty {
  position: absolute;
  text-align: right;
  display: none;
  font-size: 10px;
  color: #c12942;
  width: 200px;
  top: -4px;
  right: 0px;
}
#form1 .btns {
  padding: 29px 0px 0px 0px;
  position: relative;
}
#form1 .btns > p {
  padding: 0;
  font-size: 12px;
}
#form1 .btns > p a {
  margin-right: 20px;
  display: inline-block;
}
/*end forms*/
.padding1 {
  padding: 0px 0px 10px 0px;
}
.padding2 {
  padding: 0px 0px 34px 0px;
}
.padding3 {
  padding: 31px 44px 18px 52px;
}
.padding4 {
  padding: 7px 0px 15px 0px !important;
}
.padding5 {
  padding: 31px 44px 97px 52px;
}
.margin1 {
  margin: 0px 0px 18px 0px;
}
.margin2 {
  margin: 0px 0px 15px 0px;
}
.margin3 {
  margin: 0px 0px 31px 0px;
}
.margin4 {
  margin: 77px 0 0;
}
.margin5 {
  margin-top: 68px;
}
.margin6 {
  margin: 62px 0px 0px 0px;
}
.margin7 {
  margin: 30px 0px 0px 0px;
}
.margin8 {
  margin: 31px 0px 0px 0px;
}
.margin9 {
  margin: 0px 0px 0px 15px;
}
.margin10 {
  margin: 65px 0 40px;
}
.color1 {
  color: #ffffff;
}
.box {
  overflow: hidden;
}
.noPadding {
  padding: 0;
}
.noMargin {
  margin: 0;
}
.noBottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.block {
  display: block;
}
.right {
  margin-right: 0 !important;
}
/*--- content end ------*/
/*------ footer ------- */
footer {
  margin-top: 13px;
}
footer p {
  font-size: 14.04px;
}
footer p a {
  color: inherit;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
footer p.privacy {
  color: #d1d1d1;
  padding: 18px 0 16px 39px;
}
footer p.privacy a {
  position: relative;
  margin-left: 20px;
  display: inline-block;
}
footer p.privacy a:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -14px;
  width: 9px;
  height: 9px;
  background: url(../img/star_icon.png) 0px 0px no-repeat;
}
footer p.mail {
  padding: 17px 39px 16px 0;
}
footer p.mail a {
  position: relative;
  color: #ffffff;
  text-transform: lowercase;
  margin-left: 29px;
}
footer p.mail a:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -30px;
  width: 21px;
  height: 16px;
  background: url(../img/mail_icon.png) 0px 0px no-repeat;
}
footer p.mail a:hover {
  color: #c12942;
}
footer .divider {
  position: relative;
  float: left;
  width: 1px;
  height: 59px;
  background-color: #363636;
  margin-right: 59px;
}
footer .soc_icons {
  float: right;
  margin: 17px 9px 0px 0px;
}
footer .soc_icons li {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 5px;
}
footer .soc_icons li a {
  position: relative;
}
footer .soc_icons li a img {
  position: relative;
  top: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
footer .soc_icons li a:hover img {
  top: -10px;
}
/*--- footer end ------*/
/*----- media queries ------*/
@media (min-width: 980px) and (max-width: 1200px) {
  .sf-menu > li {
    width: 135px;
  }
  header .brand {
    width: 250px;
  }
  .flexslider .slides > li p {
    font-size: 24px;
    line-height: 39px;
  }
  .block2.type1 {
    padding: 31px 38px 18px 42px;
  }
  .block2.type1 hr {
    margin-top: 73px;
  }
  .block2.type2 {
    padding: 31px 38px 18px 42px;
  }
  .list2 > li {
    width: 107px;
    margin: 0px 1px 1px 0px;
  }
  footer .soc_icons {
    margin-right: 0;
  }
  footer .divider {
    margin-right: 29px;
  }
  .halfWidth940 {
    width: 47%;
  }
  .fullWidth940 {
    width: 97%;
    float: none;
    display: block;
    overflow: hidden;
  }
  .list4 {
    margin-bottom: 20px;
  }
  .list4 li {
    margin: 0;
    width: 150px;
  }
  #form1 {
    width: 523px;
  }
  #form1 label {
    width: 164px;
  }
  .imStyle2 {
    width: 100%;
  }
  .block1.maxheight2,
  .block2.maxheight2 {
    min-height: 693px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  header .nav-collapse,
  header .nav-collapse.collapse {
    height: 47px;
    overflow: visible;
  }
  header .brand {
    margin-top: 36px;
  }
  .sf-menu {
    float: none;
    width: 100%;
  }
  .sf-menu li {
    width: 20%;
  }
  .sf-menu ul li.sub-menu > a:before {
    margin-right: -55px;
  }
  .flexslider .slides > li p {
    font-size: 22px;
    line-height: 27px;
  }
  .block2.type1 {
    padding: 31px 38px 18px 42px;
  }
  .block2.type1 hr {
    margin-top: 19px;
  }
  .block2.type2 {
    padding: 31px 38px 18px 42px;
  }
  .halfWidth768 {
    width: 47%;
  }
  .fullWidth768 {
    width: 97%;
    float: none;
    display: block;
    overflow: hidden;
  }
  .imStyle1 {
    float: left;
    margin: 0px 20px 0px 0px;
  }
  .divider {
    display: none;
  }
  .margin6 {
    margin: 0;
  }
  .halfWidth940 {
    width: 47%;
  }
  .fullWidth940 {
    width: 97%;
    float: none;
    display: block;
    overflow: hidden;
  }
  .list4 {
    margin-bottom: 20px;
  }
  .list4 li {
    margin: 0;
    width: 120px;
  }
  .block2.type3,
  .block2.type4 {
    margin: 77px 0 50px;
  }
  #form1 {
    width: 100%;
  }
  #form1 label {
    width: 100%;
  }
  #form1 .success {
    padding: 57px 10px;
  }
  .margin9 {
    margin: 0;
  }
  .padding5 {
    padding-bottom: 155px;
  }
  #search {
    width: 100%;
  }
  #search > input {
    width: 387px;
  }
  .alignCenter768 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .select-menu {
    display: block!important;
  }
  .sf-menu {
    display: none;
  }
  .flexslider .slides > li p {
    font-size: 17px;
    line-height: 25px;
  }
  .list1 li {
    float: left;
    width: 47%;
    margin-right: 20px;
  }
  .list1 li:first-child + li,
  .list1 li:first-child + li + li + li {
    margin-right: 0;
  }
  .list1 li img {
    width: 100%;
  }
  .imStyle2 {
    width: 100%;
  }
  .list2 li {
    margin: 0px !important;
    width: 115px;
  }
  .imStyle1 {
    float: left;
    margin: 0px 20px 10px 0px;
  }
  .divider {
    display: none;
  }
  .margin6 {
    margin: 0;
  }
  footer .soc_icons {
    margin: -50px 38px 0px 0px;
  }
  footer p.mail {
    display: none;
  }
  .block2 {
    padding: 31px 41px 18px 38px;
  }
  .list4 {
    margin-bottom: 20px;
  }
  .list4 li {
    width: 33%;
    margin: 0;
  }
  .block2.type3,
  .block2.type4,
  .block3.type2 {
    margin: 31px 0 31px;
  }
  .list7 {
    margin-left: 0;
  }
  .list7 li {
    display: inline-block;
    width: 22%;
    margin-left: 0;
    margin-right: 15px;
    float: left;
  }
  #form1 {
    width: 100%;
  }
  #form1 label {
    width: 100%;
  }
  #form1 .success {
    padding: 57px 10px;
  }
  .margin9 {
    margin: 0;
  }
  .margin4,
  .margin5 {
    margin-top: 31px;
  }
  .alignCenter768 {
    text-align: center;
  }
  .block5 {
    padding: 14px 0 0 0;
  }
  .margin10 {
    margin-bottom: 0;
  }
  #search {
    width: 99%;
    margin-bottom: 22px;
  }
  #search > input {
    width: 100%;
  }
  #search a {
    float: none;
    margin-top: 15px;
  }
}
@media (max-width: 600px) {
  .block4 {
    padding: 15px 0;
  }
  footer {
    text-align: center;
  }
  footer p.privacy {
    padding: 18px 10px;
  }
  footer .soc_icons {
    display: inline-block;
    float: none;
    margin: 0px 0px 15px 0px;
  }
  .list7 li {
    width: 46%;
  }
}
@media (max-width: 480px) {
  .flexslider .slides > li p {
    font-size: 14px;
    line-height: 1.2em;
    padding-left: 46px;
    padding-right: 46px;
  }
  .flexslider .flex-next {
    right: 13px;
  }
  .flexslider .flex-prev {
    left: 13px;
  }
  .list1 li {
    float: none;
    width: 100%;
    margin-right: 0px;
  }
  .list5 > li > div .badge + div + div img {
    float: none;
    margin: 0px 0px 15px 0px;
    width: 100%;
  }
  #form1 .btns > p > span {
    display: block;
    margin-top: 10px;
  }
  .list2 > li {
    width: 50%;
  }
}
@media (max-width: 420px) {
  .imStyle1 {
    float: none;
    margin: 0px 0 15px;
    width: 100%;
  }
  .list7 li {
    width: 100%;
    margin: 0;
  }
  header .brand {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .list2 li {
    width: 100%;
    float: none;
    margin: 0px 0px 5px 0px;
  }
  .list2 li a img {
    width: 100%;
  }
  .list4 {
    margin-bottom: 20px;
  }
  .list4 li {
    margin: 0;
    width: 100%;
    float: none;
  }
  .list5 li > div .badge {
    margin: 0 auto 20px;
    float: none;
  }
  #search {
    width: 98%;
  }
  .imStyle3 {
    width: 100%;
  }
  .imStyle3 img {
    width: 100%;
  }
  #form1 .btns > p a {
    float: none;
    display: block;
    margin: 0px 0px 10px 0px;
  }
  #form1 .btns > p span {
    margin: 0px;
  }
}
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
