{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" enctype="multipart/form-data">
    <div>
    	<label for="firstName">First name:</label>
    	<input type="text" id="firstName" name="firstName" required="required">
    </div>
    {{ form_widget(form) }}
 	<div>
        <label for="course_freebundle_seminartype_image" class="required">Изображение</label>
        <input type="file" id="course_freebundle_seminartype_image" name="image" required="required">
    </div>
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
