{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
{% block navigator%}
    <ul class="nav navbar-nav">                   
    <li ><a href="{{path('orders')}}">ЗАКАЗЫ</a></li>                  
    <li><a href="{{path('fotodom_client_homepage')}}">КЛИЕНТЫ</a></li> 
    <li><a href="{{path('fotodom_monitoring_homepage')}}">СОБЫТИЯ</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="user active">
            <a href="{{path('fos_user_profile_edit')}}">{{user.firstName}}<i class="userpic"><img width="28" src="{{ asset('bundles/acmedemo/images/avatar/') }}{{user.avatar}}"/></i></a>
        </li>
        <li>        
            <a href="{{path('fos_user_security_logout')}}">Выйти</a>
        </li>
    </ul>
{% endblock %}