{% trans_default_domain 'FOSUserBundle' %}

<form  class="form-horizontal well profile-edit"   role="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Логин</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3"  name="fos_user_registration_form[username]" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3"  name="fos_user_registration_form[email]" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" name="firstName" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" required="required" name="fos_user_registration_form[plainPassword][first]" required="required">
        </div>
    </div>
     <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Повторите пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" required="required" name="fos_user_registration_form[plainPassword][second]" required="required">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInputFile">Аватар</label>
        <input  class="col-sm-10 choose-picture" type="file" id="exampleInputFile" name="image" > 
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Создать</button>
        </div>
    </div>
    {{ form(form._token)}}     
</form>
