{% extends "FOSUserBundle::empty.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}
<form class="form-horizontal log-in-1 well" role="form" action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="form-group">
		<!--label  class="col-sm-2 control-label"></label-->	   
	    <div class="col-sm-10" style="width: 100%;">
	        <input type="text" class="form-control" id="inputEmail3" placeholder="Логин" name="_username">
	    </div>
	</div>
	<div class="form-group">
		<!--label  class="col-sm-2 control-label"></label-->	 	   
	    <div class="col-sm-10" style="width: 100%;">
	        <input type="password" class="form-control" id="inputPassword3" placeholder="Пароль" name="_password">
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10" style="margin-left: 0;">
	        <div class="checkbox">
	            <label>
	                <input type="checkbox" name="_remember_me"> Запомнить
	            </label>
	        </div>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10" style="margin-left: 0;">
	        <button type="submit" class="btn btn-primary" name="_submit">Войти!!!!</button>
	    </div>
	</div>
</form>
<!--form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form-->
{% endblock fos_user_content %}
