<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>LERAD</title>
        <link rel="shortcut icon" href="{{ asset('bundles/acmedemo/images/favicon.ico') }}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
        <link href="{{ asset('bundles/acmedemo/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/acmedemo/css/general.css') }}" rel="stylesheet">
    </head>
    <body>
        <!--div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                <a href="{{ path('fos_user_registration_register') }}">Registration</a>
            {% endif %}
        </div-->

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
         <div class="container">            
           <!--Log-in-->
            {% block fos_user_content %}
            {% endblock fos_user_content %}                    
            <!--/Log-in-->                    
        </div>
        
            
        
    </body>
</html>
