<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
        {% block title%}   
        LERAD
        {% endblock%}
        </title>
        <link rel="shortcut icon" href="{{ asset('bundles/acmedemo/images/favicon.ico') }}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
        <link href="{{ asset('bundles/acmedemo/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/acmedemo/css/general.css') }}" rel="stylesheet">
        <link href="http://helloworld.by/fotodomcrm.css" rel="stylesheet">
    </head>
    <body>
        <!--div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                <a href="{{ path('fos_user_registration_register') }}">Registration</a>
            {% endif %}
        </div-->

        {# for type, messages in app.session.flashbag.all() #}
            {# for message in messages #}
                <!--div class="flash-{# type #}">
                    {# message #}
                </div-->
            {# endfor #}
        {# endfor #}        
         <div class="container">
            <nav role="navigation" class="top navbar navbar-inverse">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!--div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="#">ФОТОДОМ.BY&nbsp;<span>| Система учета</span></a>
                </div-->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% block navigator%}    
                <ul class="nav navbar-nav">                   
                    <li ><a href="{{path('orders')}}">ЗАКАЗЫ</a></li>                  
                    <li><a href="{{path('fotodom_client_homepage')}}">КЛИЕНТЫ</a></li> 
                    <li><a href="{{path('fotodom_monitoring_homepage')}}">СОБЫТИЯ</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="user active">
                         <a href="{{path('fos_user_profile_edit')}}">{{app.user.firstName}}<i class="userpic"><img width="28" src="{{ asset('bundles/acmedemo/images/avatar/') }}{{app.user.avatar}}"/></i></a>
                    </li>
                    <li>
                        <a href="{{path('fos_user_security_logout')}}">Выйти</a>
                    </li>
                </ul>
                {% endblock %}
                </div><!-- /.navbar-collapse -->
            </nav>
           <!--Log-in-->           
                {% block fos_user_content %}
                {% endblock fos_user_content %}                         
            <!--/Log-in-->                    
        </div>
        
            
        
    </body>
</html>
