{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Настройки</h1>
    {{ form(edit_form) }}
<script src="{{ asset('bundles/acmedemo/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $('textarea.ckeditor').ckeditor();
    });
</script>
{% endblock %}
