{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>123</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Keywordsmain</th>
                <th>Descriptionmain</th>
                <th>Keywordscollection</th>
                <th>Descriptioncollection</th>
                <th>Keywordsabout</th>
                <th>Descriptiona</th>
                <th>Keywordsnews</th>
                <th>Descriptionnews</th>
                <th>Keywordscontacts</th>
                <th>Descriptioncontacts</th>
                <th>Testnabout</th>
                <th>Textcontactsl</th>
                <th>Textcontactsr</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_settings_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.keywordsMain }}</td>
                <td>{{ entity.descriptionMain }}</td>
                <td>{{ entity.keywordsCollection }}</td>
                <td>{{ entity.descriptionCollection }}</td>
                <td>{{ entity.keywordsAbout }}</td>
                <td>{{ entity.descriptionA }}</td>
                <td>{{ entity.keywordsNews }}</td>
                <td>{{ entity.descriptionNews }}</td>
                <td>{{ entity.keywordsContacts }}</td>
                <td>{{ entity.descriptionContacts }}</td>
                <td>{{ entity.testnAbout }}</td>
                <td>{{ entity.textContactsL }}</td>
                <td>{{ entity.textContactsR }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_settings_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_settings_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_settings_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
