{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Settings</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Keywordsmain</th>
                <td>{{ entity.keywordsMain }}</td>
            </tr>
            <tr>
                <th>Descriptionmain</th>
                <td>{{ entity.descriptionMain }}</td>
            </tr>
            <tr>
                <th>Keywordscollection</th>
                <td>{{ entity.keywordsCollection }}</td>
            </tr>
            <tr>
                <th>Descriptioncollection</th>
                <td>{{ entity.descriptionCollection }}</td>
            </tr>
            <tr>
                <th>Keywordsabout</th>
                <td>{{ entity.keywordsAbout }}</td>
            </tr>
            <tr>
                <th>Descriptiona</th>
                <td>{{ entity.descriptionA }}</td>
            </tr>
            <tr>
                <th>Keywordsnews</th>
                <td>{{ entity.keywordsNews }}</td>
            </tr>
            <tr>
                <th>Descriptionnews</th>
                <td>{{ entity.descriptionNews }}</td>
            </tr>
            <tr>
                <th>Keywordscontacts</th>
                <td>{{ entity.keywordsContacts }}</td>
            </tr>
            <tr>
                <th>Descriptioncontacts</th>
                <td>{{ entity.descriptionContacts }}</td>
            </tr>
            <tr>
                <th>Testnabout</th>
                <td>{{ entity.testnAbout }}</td>
            </tr>
            <tr>
                <th>Textcontactsl</th>
                <td>{{ entity.textContactsL }}</td>
            </tr>
            <tr>
                <th>Textcontactsr</th>
                <td>{{ entity.textContactsR }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_settings') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_settings_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
