{% extends "AcmeDemoBundle::base.html.twig" %}
{% block title %}Lerad | Контакты{% endblock %}
{% block body %}
<div class="page-content">
  <div class="general-content">
    <div class="wrapper">
      <div class="title-image"><img src="{{ asset('bundles/acmedemo/media')}}/title-image-about.jpg" alt=""></div>
      <div class="content-section">
        <div class="divider"><span>Свяжитесь с нами</span></div>
        <div class="columns-holder">
          <div class="column">
            <div class="item contact">
              {{settings.textContactsL|raw}}
            </div>
            </div>
            
            <div class="column">
            <div class="item">
              <div class="title"><h2>Оставить сообщение</h2></div>
              <div class="content">
              <div class="contact-form">
                <form action="javascript:Page.submitContact(1092)">
                <div class="input-holder">
                <input id="userName" type="text" value="" class="custom-input required" name="userName" data-watermark="Имя" />
                </div>
                <div class="input-holder">
                <input id="userEmail" type="text" value="" class="custom-input required" name="userEmail" data-watermark="Email" />
                </div>
                <div class="input-holder">
                <input id="userPhone" type="text" value="" class="custom-input required" name="userPhone" data-watermark="Телефон" />
                </div>
                <div class="textarea-holder">
                <textarea id="userComments" name="userMessage" class="custom-textarea required" data-watermark="Сообщение" /></textarea>
                </div>
                <div class="btn-holder">
                <div class="sent-text">Your message was sent</div>
                <div class="required-text">The field(s) marked red is(are) required</div>
                <input type="button" value="Отправить" class="btn-submit">
                </div>
                  </form>
              </div>
              </div>
            </div>
            </div>
          
          <div class="column">
            <div class="subscribe-block">
              <div class="wrapper">
              {{settings.textContactsR|raw}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javaadd %} 
<script type="text/javascript">
  $('input.btn-submit').on('click',function(){ 
        
        if($('input#userName').val()=="")
        {  
            $('input#userName').val("Введите Имя");return false;
        }else if($('input#userEmail').val()=="")
        {  
            $('input#userEmail').val("Введите e-mail");return false;
        }else if($('input#userPhone').val()=="")
        {  
            $('input#userPhone').val("Введите телефон");return false;
        }else if($('textarea#userComments').val()=="")
        {  
            $('textarea#userComments').val("Введите текст");return false;
        }
        else
        {
            
            var name = $('input#userName').val();           
            var mail = $('input#userEmail').val();  
            var phone = $('input#userPhone').val();
            var text = $('textarea#userComments').val();              
            $.post('/sendmail',{name:name, mail:mail, phone:phone, text:text}, function(data) {
                if(data.completed==1) 
                {  
                  console.log('send');  
                  $('input#userName').val('');
                  $('input#userEmail').val('');  
                  $('input#userPhone').val('');
                  $('textarea#userComments').val('');   
                  $('input#userName').attr('placeholder','ИМЯ');
                  $('input#userEmail').attr('placeholder','EMAIL');
                  $('input#userPhone').attr('placeholder','ТЕЛЕФОН');
                  $('textarea#userComments').attr('placeholder','СООБЩЕНИЕ');    
                  alert('Сообщение отправлено!');      
                }
                else
                {
                  console.log('not');
                }
            },'json'
            );
        }
            return false; 
        });
</script>
{% endblock %} 