{% extends "AcmeDemoBundle::base.html.twig" %}
{% block title %}Lerad | О нас{% endblock %}
{%block meta%}
<meta name="keywords" content="{{settings.keywordsAbout}}">
<meta name="description" content="{{settings.descriptionA}}"/>
{% endblock%}
{% block body %}
<div class="page-content">
    <div class="general-content">
        <div class="wrapper">
            <div class="title-image"><img src="{{ asset('bundles/acmedemo/media')}}/about.jpg" alt=""></div>
            <div class="content-section">
                <div class="divider"><span>История компании</span></div>
                <div class="columns-holder">
                    <div class="text-block news">               
                        <div class="text-news">
                        {{settings.textAbout|raw}}
                        <div class="divider line"></div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
{% block javaadd %}

{% endblock %}
