{% extends "AcmeDemoBundle::base.html.twig" %}
{% block title %}Lerad | Коллекции{% endblock %}
{%block meta%}
<meta name="keywords" content="{{meta.keywordsCollection}}">
<meta name="description" content="{{meta.descriptionCollection}}"/>
{% endblock%}
{% block body %}
<div class="page-content">
    <div class="fullscreen-content">
        <div id="lookbookHolder">
            <div id="lookbookList">
                <ul>
                    {% for img in images%}
                        <li>
                            <span data-src="{{ asset('bundles/acmedemo/img/collection/')}}{{img.name}}?height=600" data-big="{{ asset('bundles/acmedemo/img/collection/')}}{{img.name}}?height=1200" alt=""></span>
                            <ins></ins>
                            <ul class="products">
                                {%if img.price%}
                                <li data-price="{{img.price}}"><a href="#">{{img.text}}</a></li>
                                {%else%}
                                <li data-price=""><a href="{{path('photo',{'url':category.url,'id':img.id})}}">{{img.text}}</a></li>                                
                                {%endif%}
                            </ul>
                        </li>                        
                    {%endfor%}                    
                </ul>
            </div>
            <div id="lookbookPreview">
                <a class="btn-close"></a>               
            </div>
            <div id="lookbookSlider"><a></a></div>
            <div id="lookbookProducts">
                <div class="wrapper">
                    <div class="products"></div>
                    <div class="share">
                        <span>{{category.name}}</span>
                    </div>
                </div>
            </div>
            <a class="btn-prev"></a>
            <a class="btn-next"></a>
        </div>        
    </div>
</div>
{% endblock %}
{% block javaadd %} 
<script type="text/javascript"> Page.initLookbook('1097'); </script>
{% endblock %}