{% extends "AcmeDemoBundle::base.html.twig" %}
{% block title %}Lerad | Контакты{% endblock %}
{%block meta%}
<meta name="keywords" content="{{meta.keywordsContacts}}">
<meta name="description" content="{{meta.descriptionContacts}}"/>
{% endblock%}
{% block body %}
<div class="page-content">
  <div class="general-content">
    <div class="wrapper">
      <div class="title-image"><img src="{{ asset('bundles/acmedemo/media')}}/title-image-about.jpg" alt=""></div>
      <div class="content-section">
        <div class="divider"><span>Свяжитесь с нами</span></div>
        <div class="columns-holder">
          <div class="column">
            <div class="subscribe-block">
              <div class="wrapper">
                {{settings.textContactsL|raw}}
              </div>
            </div>
          </div>
            
            <div class="column">
            <div class="item">
              <div class="title"><h2>Оставить сообщение</h2></div>
              <div class="content">
              <div class="contact-form">
                <form action="javascript:Page.submitContact(1092)">
                <div class="input-holder">
                <input id="userName" type="text" value="" class="custom-input required" name="userName" data-watermark="Имя" />
                </div>
                <div class="input-holder">
                <input id="userEmail" type="text" value="" class="custom-input required" name="userEmail" data-watermark="Email" />
                </div>
                <div class="input-holder">
                <input id="userPhone" type="text" value="" class="custom-input required" name="userPhone" data-watermark="Телефон" />
                </div>
                <div class="textarea-holder">
                <textarea id="userComments" name="userMessage" class="custom-textarea required" data-watermark="Сообщение" /></textarea>
                </div>
                <div class="btn-holder">
                <div class="sent-text">Your message was sent</div>
                <div class="required-text">The field(s) marked red is(are) required</div>
                <input type="button" value="Отправить" class="btn-submit">
                </div>
                  </form>
              </div>
              </div>
            </div>
            </div>
          
          <div class="column">
            <div class="subscribe-block">
              <div class="wrapper">
              {{settings.textContactsR|raw}}
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="g_map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4706.0179007004745!2d27.519507444759196!3d53.86048878657535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd0440d197545%3A0xc6773725c38ad16b!2z0JHRgNC10YHRgtGB0LrQsNGPINGD0LsuIDM0LCDQnNC40L3RgdC6IDIyMDA5OSwg0JHQtdC70LDRgNGD0YHRjA!5e0!3m2!1sru!2sus!4v1424620293939" width="100%" height="450" frameborder="1" style="border:0"></iframe>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block javaadd %} 
<script type="text/javascript">
  $('input.btn-submit').on('click',function(){ 
        
        if($('input#userName').val()=="")
        {  
            $('input#userName').val("Введите Имя");return false;
        }else if($('input#userEmail').val()=="")
        {  
            $('input#userEmail').val("Введите e-mail");return false;
        }else if($('input#userPhone').val()=="")
        {  
            $('input#userPhone').val("Введите телефон");return false;
        }else if($('textarea#userComments').val()=="")
        {  
            $('textarea#userComments').val("Введите текст");return false;
        }
        else
        {
            
            var name = $('input#userName').val();           
            var mail = $('input#userEmail').val();  
            var phone = $('input#userPhone').val();
            var text = $('textarea#userComments').val();              
            $.post('/sendmail',{name:name, mail:mail, phone:phone, text:text}, function(data) {
                if(data.completed==1) 
                {  
                  console.log('send');  
                  $('input#userName').val('');
                  $('input#userEmail').val('');  
                  $('input#userPhone').val('');
                  $('textarea#userComments').val('');   
                  $('input#userName').attr('placeholder','ИМЯ');
                  $('input#userEmail').attr('placeholder','EMAIL');
                  $('input#userPhone').attr('placeholder','ТЕЛЕФОН');
                  $('textarea#userComments').attr('placeholder','СООБЩЕНИЕ');    
                  alert('Сообщение отправлено!');      
                }
                else
                {
                  console.log('not');
                }
            },'json'
            );
        }
            return false; 
        });
</script>
{% endblock %} 