{% extends "AcmeDemoBundle::base.html.twig" %}
{%block meta%}
<meta name="keywords" content="{{meta.keywordsMain}}">
<meta name="description" content="{{meta.descriptionMain}}"/>
{% endblock%}
{% block body %}
<div class="page-content">
  <div class="home-carousel" id="homeCarousel">
    <ul class="slides">
    {%for image in images%}
      <li>
        <img src="Images/spacer.gif" data-src="{{ asset('bundles/acmedemo/img/main')}}/{{image.name}}?height=800" alt="" />
        <div class="content light" {%if image.left%}style="left:{{image.left}}; top:{{image.top}};"{%endif%}>
          <div class="cell" {%if image.color%}style="color:{{image.color}};"{%endif%}>
            {%if image.category%}
            <h2>{{image.category.name}}</h2>
            <p>женская коллекция</p>
            <p><a class="custom-btn" href="{{path('portfolio',{'url':image.category.url})}}">смотреть</a></p>
            {%endif%}
          </div>
        </div>
      </li>
    {%endfor%}
    </ul>
    <a class="btn-prev"><!--  --></a>
    <a class="btn-next"><!--  --></a>
    <ul class="nav-items">      
    </ul>
  </div>  
</div>
{% endblock %}
{% block javaadd %} 
<script type="text/javascript"> Page.initHomeCarousel() </script>
{% endblock %}