{% extends "AcmeDemoBundle::base.html.twig" %}
{% block title %}Lerad | Новости{% endblock %}
{%block meta%}
<meta name="keywords" content="{{meta.keywordsNews}}">
<meta name="description" content="{{meta.descriptionNews}}"/>
{% endblock%}
{% block body %}
<div class="page-content">
    <div class="general-content">
        <div class="wrapper">
            <div class="title-image">
                <img src="{{ asset('bundles/acmedemo/media')}}/news.jpg" alt="">
            </div>
            <div class="content-section">
                <div class="divider"><span>Наши новости</span></div>
                {%for new in news%}
                <div class="columns-holder">                    
                    <div class="text-block news">                
                        <div class="datum"><span class="badge"><time datetime="2013-06-18">{{new.Stamp|date("d")/1}}<span>{{new.Stamp|getMonthCase}}</span></time></span>
                        <div class="text-news">
                            {{new.description|raw}}
                        </div>
                        <div class="divider line"></div>
                        </div>  
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
{% endblock %}