{% extends "AcmeDemoBundle::base.html.twig" %}
{% block title %}Lerad | Обзор {% endblock %}
{%block meta%}
{% endblock%}
{% block stylesheets %} 
 {{parent()}}
 <link href="{{ asset('bundles/acmedemo/css/shop.css')}}" rel="stylesheet" type="text/css"> 
 <link href="{{ asset('bundles/acmedemo/css/shop2.css')}}" rel="stylesheet" type="text/css"> 

<link href="{{ asset('bundles/acmedemo/css/jquery.fancybox.css')}}" media="screen" rel="stylesheet" type="text/css" />

{% endblock%}
{% block body %}
<div class="page-content">
    <div class="general-content">
        <!--div class="wrapper" style="min-height: 610px;">
            <div class="shop-left">
                <div class="pics">                    
                        <a class="bigpic pic" itemprop="url" href="{{ asset('bundles/acmedemo/img/collection')}}/{{dress.name}}" title="#">
                            <center>
                            <img src="{{ asset('bundles/acmedemo/img/collection')}}/{{dress.name}}" alt="" style="width:200px;"/>
                            </center>
                        </a>
                        <div class="smallpics">
                            {%for img in dress.photos%}
                                <div class="smallpic"><a class="pic fancybox" href="{{ asset('bundles/acmedemo/img/photo')}}/{{img.name}}" title="" rel=""><img src="{{ asset('bundles/acmedemo/img/photo')}}/{{ img.name|split('.',2)|first }}_small.{{img.name|split('.',2)|last }}" alt=""></a></div>
                            {%endfor%}
                        </div>
                </div>
            </div>
            <div class="shop-right">
                <div class="shop-prod">
                    <h1>{{dress.text}}</h1>
                </div>
            </div>
        </div-->
        <div class="content-center catalog-product">

    
            <div class="images">
                <div id="zoom-popup" class="catalog-element no-auto-position" style="display: none; background-image: url({{ asset('bundles/acmedemo/img/collection')}}/{{dress.name}}); background-position: -414.639423076923px -742.382051282051px;"></div>
                <div class="main-image fly-to-cart-source">
                    <div class="img" data-i="0" data-zoom-img="{{ asset('bundles/acmedemo/img/collection')}}/{{dress.name}}" data-zoom-w="1333" data-zoom-h="2000" style="display: block; z-index: auto; opacity: 1;">
                        <img src="{{ asset('bundles/acmedemo/img/collection')}}/{{dress.name}}" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" width="377">               
                    </div>
                    {%for img in dress.photos%}
                    <div class="img" data-i="{{img.id}}" data-zoom-img="{{ asset('bundles/acmedemo/img/photo')}}/{{img.name}}" data-zoom-w="1333" data-zoom-h="2000" style="display: none;">
                        <img src="{{ asset('bundles/acmedemo/img/photo')}}/{{img.name}}" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" width="377">             
                    </div>
                    {%endfor%}
                    <!--div class="img" data-i="1" data-zoom-img="img/img_0495.jpg" data-zoom-w="1333" data-zoom-h="2000" style="display: none;">
                        <img src="img/img_0495.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" width="377" height="565">               
                    </div>
                    <div class="img" data-i="2" data-zoom-img="/upload/iblock/0d8/img_0499.jpg" data-zoom-w="1333" data-zoom-h="2000" style="display: none;">
                        <img src="/upload/resize_cache/iblock/0d8/377_618_1/img_0499.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" width="377" height="565">             
                    </div>
                    <div class="img" data-i="3" data-zoom-img="/upload/iblock/240/img_0511.jpg" data-zoom-w="1333" data-zoom-h="2000" style="display: none;">
                        <img src="/upload/resize_cache/iblock/240/377_618_1/img_0511.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" width="377" height="565">             
                    </div>
                    <div class="img" data-i="4" data-zoom-img="img/img_0517.jpg" data-zoom-w="1333" data-zoom-h="2000" style="z-index: auto; opacity: 1; display: none;">
                        <img src="img/img_0517.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" width="377" height="565">               
                    </div>
                    <div class="img" data-i="5" data-zoom-img="/upload/iblock/d29/img_0522.jpg" data-zoom-w="733" data-zoom-h="1100" style="display: none;">
                        <img src="/upload/resize_cache/iblock/d29/377_618_1/img_0522.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" width="377" height="565">             
                    </div-->
                </div>
                <div class="small-images">
                    <a href="#" class="first">
                        <img src="{{ asset('bundles/acmedemo/img/collection')}}/{{dress.name}}" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" data-i="0" width="86">
                    </a>
                    {%for img in dress.photos%}
                    <a href="#" class="">
                        <img src="{{ asset('bundles/acmedemo/img/photo')}}/{{img.name}}" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" data-i="{{img.id}}" width="86">
                    </a>
                    {%endfor%}
                    <!--a href="#" class="">
                        <img src="img/img_0495.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" data-i="1" width="86" height="129">             </a>
                                    <a href="#" class="">
                        <img src="/upload/resize_cache/iblock/0d8/86_141_1/img_0499.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" data-i="2" width="86" height="129">                </a>
                                    <a href="#" class="">
                        <img src="/upload/resize_cache/iblock/240/86_141_1/img_0511.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" data-i="3" width="86" height="129">                </a>
                                    <a href="#" class="">
                        <img src="img/img_0517.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" data-i="4" width="86" height="129">             </a>
                                    <a href="#" class="">
                        <img src="/upload/resize_cache/iblock/d29/86_141_1/img_0522.jpg" alt="платье - севилья серые цветы - вечерние - Макухин" title="платье - севилья серые цветы - вечерние" data-i="5" width="86" height="129">                
                    </a-->
                </div>
                <div class="clear"></div>
            </div> 
            <div class="description">
                <!--div class="breadcrumbs">
                    <a href="/catalog/">КАТАЛОГ</a>
                    → <a href="/catalog/platya/">ПЛАТЬЯ</a>
                    → <a href="/catalog/pritalennyy-siluet/">ПОВСЕДНЕВНЫЕ </a>
                </div-->

                <h1> Внимание! Страница находится в разработке!</h1>
                <div class="text">
                    Платье из предосенней коллекции !<br>Натуральный шелк, насыщенный изумрудного цвета с контрастным цветочным принтом.<br>Горловина- элегантная лодочка, рукав три четверти со складками на плече.&nbsp;<br>Роскошная длина макси.<br>На модели: 46 размер.        
                </div>
                <div class="line"></div>

                <div class="description-block">
                    <div class="title">СОСТАВ</div>
                    <ul class="properties">
                        <li>верх: 100% шелк</li>
                        <li>подклад: 100% шелк, 100% вискоза</li>
                    </ul>
                    <a href="#" class="link-help popup-form"><span></span>Как ухаживать?</a>
                </div>
                <div class="line"></div>

                <div class="description-block">                            
                    <input type="hidden" name="PRODUCT_ID" value="">
                    <div class="title">РАЗМЕР:</div>
                    <div class="sizes">
                        <a href="#" class="first  selected" data-choose-offer-id="13680" data-count="1">44</a>
                        <a href="#" class="  " data-choose-offer-id="13681" data-count="1">46</a>
                        <div class="clear"></div>
                    </div>
                    <a href="#" class="link-help popup-form"><span></span>Как подобрать размер?</a>
                    <div class="spacer-count"></div>                
                    <div class="title">КОЛИЧЕСТВО:</div>
                    <div class="count -not-available">
                        <div class="buttons">
                            <button type="button" class="count-minus disabled" value=""></button>
                            <input type="text" class="count-value" value="0" data-max="0">
                            <button type="button" class="count-plus disabled" value=""></button>
                        </div>
                        <div class="na">
                            НЕТ В НАЛИЧИИ
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                    
                <!--div class="line"></div>

                <div class="description-block">
                    <div class="social">
                        <div class="title">ПОДЕЛИТЬСЯ:</div>
                        <div class="links">
                            <a href="#" class="social-share fb" data-type="fb"></a>
                            <a href="#" class="social-share tw" data-type="tw"></a>                           
                        </div>
                        <div class="clear"></div>
                    </div>
                </div-->

                <!--div class="line"></div>

                <div class="description-block">
                    <div class="price">
                        <div class="price-value" data-id="13680" style="display: none;">
                            <div class="title">ЦЕНА:</div> 
                            <div class="price">65000 руб</div>
                                <p>Артикул: 123131231231231</p>
                                <p>Наличие: ТЦ "Тест" - 1 шт.</p>
                        </div>
                        <div class="price-value" data-id="13681" style="display: none;">
                            <div class="title">ЦЕНА:</div> 
                            <div class="price">65000 руб</div>
                                <p>Артикул: 2000000194523</p>
                                <p>Наличие: ТЦ "Крокус Сити Молл" - 1 шт.</p>
                        </div>
                    </div>
                </div-->

                <!--div class="description-block">
                    <button type="button" class="add-to-cart" name="add-to-cart" value="add-to-cart" style="display: none;">ДОБАВИТЬ В МОИ ПОКУПКИ</button>
                    <div class="favorites-container" data-product="13664">
                        <a href="#" class="add-to-favorites button light">ОТМЕТИТЬ ТОВАР</a>
                        <span class="go-to-favorites">ТОВАР В <a href="/favorite/">ИЗБРАННОМ</a> |</span>
                        <a href="#" class="remove-from-favorites">УДАЛИТЬ</a>
                    </div>
                </div-->

            </div>

            <div class="clear"></div>

        </div>

    </div>
</div> 
{% endblock %}
{% block javaadd %}
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/shop.js')}}"></script>
<!--script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.fancybox.pack.js')}}"></script-->

<!--script>
    $(document).ready(function() {
        $('.pic').fancybox({
            helpers:  {
                overlayShow : true, //затемнение основной страницы (фон) true/false
                overlayOpacity : 0.8, //прозрачность фона
                overlayColor : '#777', //цвет фона
            }
        });
    });
</script-->
{% endblock %}
