{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Сообщения</h1>

    <table class="records_list">
        <thead>
            <tr>                
                <th>Имя</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Текст</th>       
                <th>Время</th>                         
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>                
                <td>{{ entity.name }}</td>
                <td>{{ entity.mail }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.description }}</td> 
                <td>{% if entity.Stamp %}{{ entity.Stamp|date('Y-m-d H:i:s') }}{% endif %}</td>                               
                <td>
                <ul>                   
                    <li>
                        <a href="{{ path('admin_message_edit', { 'id': entity.id }) }}">Редактировать</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_message_new') }}">
                Создать своё
            </a>
        </li>
    </ul>
    {% endblock %}
