{% extends '::admin.html.twig' %}

{% block body -%}
<div class="container">
	<div class="row">
    	<div class="span12">
	    <h1>Коллекции:Редактирование</h1>
	    {{ form(edit_form) }}
	    {%if entity.getPhotos()%}
	    <div>
	    	<ul style="display: inline;">
	    	{%for photo in entity.getPhotos()%}
	    		<li style="float: left;padding-left: 10px;">
	    			<a href="{{ path('photo_delete', {'id':photo.id,'collectionId':entity.id})}}" title="Удалить платье">
	    				<img src="{{ asset('bundles/acmedemo/img/photo/')}}{{ photo.name|split('.',2)|first }}_small.{{photo.name|split('.',2)|last }}" class="margin2 imStyle2" alt="">
	    			</a>
	    		</li>	
	    	{%endfor%}
	    	</ul>
	    	<div class="clearfix"></div>
	   	</div>
	    {%endif%}
	    <form action="{{ path('photo_create', {'id':entity.id})}}" method="post" enctype="multipart/form-data">	    	
	    	<div>
		        <label for="course_freebundle_seminartype_image" class="required">Платья</label>
		        <input type="file" id="course_freebundle_seminartype_image" name="image" required="required">
	        	<button type="sybmit">Добавить</button>
	        </div>	        
	    </form>
        <ul class="record_actions">
	    	<li>
	       		<a href="{{ path('collection') }}">
	            Назад
	        	</a>
		    </li>
	    	<li>{{ form(delete_form) }}</li>
		</ul>
		</div>
	</div>
</div>
{% endblock %}
