{% extends '::admin.html.twig' %}

{% block body -%}
<div class="container">
	<div class="row">
    	<div class="span12">
	    <h1>Главная->Редактирование</h1>
	    {{ form(edit_form) }}
        <ul class="record_actions">
	    	<li>
	       		<a href="{{ path('admin_main') }}">
	            Назад
	        	</a>
		    </li>
	    	<li>{{ form(delete_form) }}</li>
		</ul>
		</div>
	</div>
</div>
{% endblock %}
