{% extends '::admin.html.twig' %}

{% block body -%}
<div class="container">
<div class="row">
    <div class="span12">
        <h1>Главная</h1>
        <table class="records_list">
            <thead>
                <tr>                    
                    <th>Файл</th> 
                    <th>Коллекция</th>  
                    <th>Порядок</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>                    
                    <td>
                        <img src="{{ asset('bundles/acmedemo/img/main/')}}{{ entity.name|split('.',2)|first }}_small.{{entity.name|split('.',2)|last }}" class="margin2 imStyle2" alt="">{{ entity.name|split('.',2)|first }}_small.{{entity.name|split('.',2)|last }}
                    </td>
                    <th>{%if entity.category%}{{ entity.category.name}}{%endif%}</th> 
                    <td>{{ entity.order}}</td>  
                    <td><a href="{{ path('main_up', { 'id': entity.id }) }}">▼</a></td>
                    <td><a href="{{ path('main_down', { 'id': entity.id }) }}">▲</a></td>               
                    <td>
                    <ul>                    
                        <li>
                            <a href="{{ path('admin_main_edit', { 'id': entity.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            <ul>
            <li>
                <a href="{{ path('admin_main_new') }}">
                    Добавить
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock %}
