{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Main creation</h1>
    <form action="{{ path('admin_main_create') }}" method="post" enctype="multipart/form-data">
    	{{ form_widget(form) }}
    	<div>
        <label for="course_freebundle_seminartype_image" class="required">Изображение</label>
        <input type="file" id="course_freebundle_seminartype_image" name="image" required="required">
        </div>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_main') }}">
            Назад
        </a>
    </li>
</ul>
{% endblock %}
