{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Новости: редактирование</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_news') }}">
            Назад
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
<script src="{{ asset('bundles/acmedemo/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $('textarea.ckeditor').ckeditor();
    });
</script>
{% endblock %}
