{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Новости</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>№</th>                
                <th>Дата создания</th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_news_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>                
                <td>{% if entity.Stamp %}{{ entity.Stamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>                   
                    <li>
                        <a href="{{ path('admin_news_edit', { 'id': entity.id }) }}">Редактировать</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_news_new') }}">
                Добавить новую
            </a>
        </li>
    </ul>
    {% endblock %}
