{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Новая новость</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_news') }}">
            Назад
        </a>
    </li>
</ul>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/scripts/jquery.js')}}"></script>
<script src="{{ asset('bundles/acmedemo/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>

{% endblock %}
 